/*body*/
body {
    font-family: PingFangSC-Regular, Arial;
    height: 100%;
    background-color: #f2f2f2;
}

/*nav*/
nav {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
}

/*pc header*/
.mobile-hidden {
    display: block;
}

.pc-hidden {
    display: none;
}

.pc-nav {
    width: 10rem;
    height: 100%;
}

.pc-header-menu {
    width: 7rem;
    height: 100%;
    float: left;
}

.pc-header-menu ul {
    float: right;
    margin-right: 1.875rem;
}

.pc-header-menu ul li {
    height: 24px;
    margin-top: 19px;
    line-height: 24px;
    font-size: 18px;
    margin-left: 30px;
    float: left;
    list-style: none;
}

.pc-header-menu ul li a {
    color: #666666;
    text-decoration: none;
}

.pc-header-menu ul li a:hover {
    color: #E85F24;
}

.pc-header-logo {
    width: 3rem;
    height: 100%;
    float: left;
}

.pc-header-logo img {
    width: 81px;
    height: 44px;
    margin-top: 8px;
    margin-left: 1.875rem;
}

.reports {
    position: fixed;
    top: 60px;
    right: 1.6rem;
    width: 120px;
    z-index: 1040;
    background-color: white;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

.reports ul {
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.reports ul li {
    margin-right: 12px;
    margin-top: 10px;
}

.reports ul li a,footer p a{
    text-align: center;
    font-size: 16px;
    color: #666666;
    text-decoration: none;
}
footer p a{
    text-decoration: underline;
}

.reports ul li a:hover {
    color: #E85F24;
}

.mobile-ul {
    display: none;
}
.img-ios,.img-android{
    width:1.041666rem
}

.introductions{
    /*padding-top: 50px;*/
    /*padding-bottom: 50px;*/
    text-align: center;
    color: #f8f8f8;
    background: url(../resource/banner.jpg) no-repeat center center;
    background-size: cover;
}
.banner{
    position: relative;
    width: 10rem;
    height: auto;
}
.bg-image{
    width: 100%;
    display: block;
}

.bithd-app-log{
    width:50px;
    height:50px;
}

.banner .text-content {
    position: absolute;
    top: 1.36271rem;
    right: 1.875rem;
    text-align: right;
}

.banner .title-app {
    height: 0.38rem;
    line-height: 0.38rem;
    font-size: 0.38rem;
    font-family: PingFangSC-Thin, sans-serif;
    color: white;
    font-weight: bold;
}


.features-1 .bg-image img {
    width: 1.7rem;
    margin-left: 2.8rem;
    margin-top: 0.5rem;
}

.features-1 .bg-content {
    position: absolute;
    top: 0.651042rem;
    left:5rem;
    width: 3.125rem;
    text-align: right;
    vertical-align: middle;
}
.features-1 .title-features-1 {
    line-height: 0.34375rem;
    font-size: 0.34375rem;
    color: #666;
}
.features-1{
    position: relative;
    background: #fff;
}

.features-1 .title-features-1:after {
    display: block;
    content: "";
    height: 1px;
    width: 0.6875rem;
    margin-top: 0.28rem;
    margin-left: calc(100% - 0.6875rem);
    background-color: rgba(0, 0, 0, 0.3);
}


.features-1 .summary-features-1 {
    margin-top: 0.28rem;
    height: 0.28125rem;
    word-wrap: break-word;
    word-break: normal;
    line-height: 0.28125rem;
    font-size: 0.177083rem;
    font-family: PingFangSC-Thin, sans-serif;
    font-weight: 500;
    color: #666;
}

.banner .content-app {
    margin-top: 0.220416rem;
    margin-right: 0;
    margin-left: calc(100% - 2.291662rem);
    width: 2.291662rem;
    word-wrap: break-word;
    word-break: normal;
    line-height: 0.2875rem;
    font-size: 0.1875rem;
    font-family: PingFangSC-Thin, sans-serif;
    text-align: right;
    color: white;
}
.text-content-web p{

    padding: 0.2rem 0;
}
.title-web{
    font-size: 0.5rem;
}


footer{
   padding:30px 0;
}
.source,.bithd_help{
    font-size: 0.10rem;
    line-height: 32px;
    color:#333;
}

/*mobile header*/
@media (max-width: 768px) {
    .mobile-hidden {
        display: none;
    }

    .pc-hidden {
        display: block;
    }

    .reports {
        display: none;
    }

    .pc-header-menu {
        width: 100%;
        height: auto;
        border-top: 1px solid #e0e0e0;
        border-top: 1px solid #e0e0e0;
        -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
        background-color: white;
    }

    .pc-header-menu ul {
        float: left;
    }

    .mobile-ul {
        width: 100%;
    }

    .pc-header-menu ul li {
        height: 17px;
        margin-top: 20px;
        line-height: 17px;
        font-size: 17px;
        margin-left: 20px;
        margin-bottom: 20px;
        float: none;
    }

    .pc-header-menu ul li a {
        float: left;
        font-family: PingFangSC-Regular, sans-serif;
        color: #666666;
        font-weight: 100;
    }

    .pc-header-menu ul li a:hover {
        color: #4a90e2;
    }
}

.mobile-nav {
    width: 10rem;
    height: 100%;
}

.mobile-header-logo {
    width: 3rem;
    height: 100%;
    float: left;
}

.mobile-header-logo img {
    width: 81px;
    height: 44px;
    margin-top: 8px;
    margin-left: 12px;
}
.logo-app{
    width:30%;
}
.logo-app img{
    width:44px;
}

.float-image {
    position: absolute;
    bottom: 0;
    right: 3.675rem;
    width: 3.0rem;
}

.mobile-header-menu {
    width: 7rem;
    height: 100%;
    float: left;
}

.mobile-header-menu img {
    width: 32px;
    height: 24px;
    margin-top: 18px;
    margin-right: 12px;
    float: right;
}

.float-image-app{
    right:5.29rem
}

.banner .content:after {
    display: block;
    content: "";
    height: 1px;
    width: 1.041666rem;
    margin-top: 0.322916rem;
    margin-left: calc(100% - 1.041666rem);
    background-color: rgba(255, 255, 255, 0.3);
}
.download-img {
    margin-top: 0.322916rem;
    font-size: 0;
}
.pc-header-menu ul li span{
    padding:0 5px;
    color:#666666;
}
.site-name {
    margin-left: 12px;
    line-height: 60px;
    font-size: 18px;
    color: #333;
    float:right
}
.pc-header-menu ul li{
    height: 24px;
    margin-top: 19px;
    line-height: 24px;
    font-size: 18px;
    margin-left: 30px;
    float: left;
    list-style: none;
}
.bithddocs{
    color:red !important;
}
/*container*/
.container {
    width: 10rem;
    height: auto;
    margin-top: 60px;
    background-color: #f2f2f2;
    display: block;
}

/*bg-image*/
.bg-image {
    width: 100%;
    display: block;
}

/*introduction*/
.introduction {
    position: relative;
    width: 10rem;
    height: auto;
}

.introduction .text-content {
    position: absolute;
    top: 1.36271rem;
    left: 1.875rem;
}

.introduction .title {
    height: 0.34375rem;
    line-height: 0.34375rem;
    font-size: 0.34375rem;
    font-family: PingFangSC-Light, sans-serif;
    color: white;
}

.introduction .summary {
    font-family: PingFangSC-Light, sans-serif;
    height: 0.197917rem;
    margin-top: 0.197917rem;
    line-height: 0.197917rem;
    font-size: 0.197917rem;
    font-weight: 400;
    color: #E85F24;
}

.introduction .summary:after {
    display: block;
    content: "";
    height: 1px;
    width: 0.520833rem;
    margin-top: 0.3125rem;
    background-color: rgba(255, 255, 255, 0.15);
}

.introduction .content {
    margin-top: 0.625rem;
    width: 3.6rem;
    word-wrap: break-word;
    word-break: normal;
    line-height: 0.260417rem;
    font-size: 0.15625rem;
    font-family: PingFangSC-Light, sans-serif;
    color: white;
}

.introduction .float-image {
    position: absolute;
    top: calc(50% - 2.127604rem);
    right: 0.9375rem;
    width: 4.4375rem;
    height: 4.255208rem;
}

.play-video {
    margin-top: 0.13rem;
    width: 2.6rem;
    vertical-align: middle;
    font-size: 0;
}

.play-video p {
    float: left;
    line-height: 0.166667rem;
    font-size: 0.15rem;
    font-family: PingFangSC-Light, sans-serif;
    color: #E85F24;
    border: 0;
    text-align: left;
    background-color: transparent;
}

.play-video img {
    height: 0.166667rem;
    padding-left: 0.041667rem;
}

@media (max-width: 768px) {
    .introduction .text-content {
        position: absolute;
        top: 1.086667rem;
        left: 0.666667rem;
    }

    .introduction .title {
        height: 0.666667rem;
        line-height: 0.666667rem;
        font-size: 0.666667rem;
        font-family: PingFangSC-Light, sans-serif;
        color: white;
    }

    .introduction .summary {
        height: 0.373333rem;
        margin-top: 0.226667rem;
        line-height: 0.373333rem;
        font-size: 0.373333rem;
        color: #E85F24;
    }

    .introduction .summary:after {
        display: block;
        content: "";
        height: 1px;
        width: 1.373333rem;
        margin-top: 0.533333rem;
        background-color: rgba(255, 255, 255, 0.15);
    }

    .introduction .content {
        margin-top: 1.093333rem;
        width: 4rem;
        word-wrap: break-word;
        word-break: normal;
        line-height: 0.479999rem;
        font-size: 0.293333rem;
        font-family: PingFangSC-Light, sans-serif;
        color: white;
    }

    .introduction .float-image {
        position: absolute;
        top: calc(50% - 2.2rem);
        right: 0rem;
        width: 4.666667rem;
        height: 5.24rem;
        -webkit-transform: rotate(0deg) translateY(0px);
        -ms-transform: rotate(0deg) translateY(0px);
        transform: rotate(0deg) translateY(0px)
    }

    .play-video {
        font-size: 0;
        margin-top: 0.3rem;
        width: 3.6rem;
        vertical-align: middle;
    }

    .play-video p {
        float: left;
        line-height: 0.333333rem;
        font-size: 0.293333rem;
        font-family: PingFangSC-Light, sans-serif;
        color: #E85F24;
        border: 0;
        text-align: left;
        background-color: transparent;
    }

    .play-video img {
        padding-left: 0.106667rem;
        width: 0.506667rem;
        height: 0.333333rem;
    }
}

/*features*/
.features {
    position: relative;
    width: 10rem;
    height: auto;
}

.features .text-content {
    position: absolute;
    top: 0.651042rem;
    left: 1.875rem;
}

.features .title {
    height: 0.34375rem;
    line-height: 0.34375rem;
    font-size: 0.34375rem;
    color: #E85F24;
}

.features .title:after {
    display: block;
    content: "";
    height: 1px;
    width: 0.520833rem;
    margin-top: 0.28125rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.features .summary {
    margin-top: 0.541667rem;
    height: 0.28125rem;
    width: 3.5rem;
    word-wrap: break-word;
    word-break: normal;
    line-height: 0.28125rem;
    font-size: 0.177083rem;
    color: #000;
}

@media (max-width: 768px) {
    .features .text-content {
        position: absolute;
        top: 0.666667rem;
        left: 0.666667rem;
        color: #E85F24;
    }

    .features .title {
        height: 0.48rem;
        line-height: 0.48rem;
        font-size: 0.48rem;
        color: #E85F24;
    }

    .features .title:after {
        display: block;
        content: "";
        height: 1px;
        width: 1.2rem;
        margin-top: 0.48rem;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .features .summary {
        margin-top: 0.906667rem;
        width: 4rem;
        word-wrap: break-word;
        word-break: normal;
        line-height: 0.533333rem;
        font-size: 0.346667rem;
        color: #000;
    }
}

/*convenience*/
.convenience {
    position: relative;
    width: 10rem;
    height: auto;
}

.convenience .text-content {
    position: absolute;
    top: 0.651042rem;
    right: 1.875rem;
}

.convenience .title {
    height: 0.34375rem;
    line-height: 0.34375rem;
    font-size: 0.34375rem;
    color: #000;
}

.convenience .title:after {
    display: block;
    content: "";
    height: 1px;
    width: 0.520833rem;
    margin-top: 0.28125rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.convenience .summary {
    margin-top: 0.541667rem;
    word-wrap: break-word;
    word-break: normal;
    height: 0.28125rem;
    line-height: 0.28125rem;
    font-size: 0.177083rem;
    color: #000;
}

.text-market{
    top:0.7rem !important;
}

@media (max-width: 768px) {
    .convenience .text-content {
        position: absolute;
        top: 0.666667rem;
        right: 0.666667rem;
    }

    .convenience .title {
        height: 0.48rem;
        line-height: 0.48rem;
        font-size: 0.48rem;
        color: #000;
    }

    .convenience .title:after {
        display: block;
        content: "";
        height: 1px;
        width: 1.2rem;
        margin-top: 0.48rem;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .convenience .summary {
        margin-top: 0.906667rem;
        width: 4.6rem;
        word-wrap: break-word;
        word-break: normal;
        line-height: 0.533333rem;
        font-size: 0.346667rem;
        color: #000;
    }
    .banner .text-market{
        right:0rem !important;
        width:100%;
    }
    .banner .title-app {
        padding-top:0.173333rem;
        font-size: 0.666667rem;
        line-height: 0.666667rem;
    }

    .banner .bithd_content a{
       font-size:0.383333rem;
        line-height: 0.383333rem;
    }
    .banner .content-app{
        //line-height: 0.073333rem;
        font-size: 0.293333rem;
        text-align: center !important;
    }
    .banner .text-market .title-app{
        padding-top:0rem !important;
    }
    .text-market .download-img{
        margin-top: 0rem !important;
    }

    .mobilebithd {
        float: left;
        margin-left: 55px !important;
        text-decoration: none;
        margin-top: 15px;
        display: inline-block;
        padding: 4px 12px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;
        color: #333;
        text-align: center;
        text-shadow: 0 1px 1px rgba(255,255,255,0.75);
        vertical-align: middle;
        cursor: pointer;
        background-color: #f5f5f5;
        background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
        background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
        background-image: -o-linear-gradient(top,#fff,#e6e6e6);
        background-image: linear-gradient(to bottom,#fff,#e6e6e6);
        background-repeat: repeat-x;
        border: 1px solid #ccc;
        border-color: #e6e6e6 #e6e6e6 #bfbfbf;
        border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
        border-bottom-color: #b3b3b3;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    }
    .mobilebithd:hover, .mobilebithd:focus, .mobilebithd:active,  .mobilebithd.disabled, .mobilebithd[disabled] {
        color: #333;
        background-color: #e6e6e6;
    }
    .mobilebithd:hover, .mobilebithd:focus {
        color: #333;
        text-decoration: none;
        background-position: 0 -15px;
        -webkit-transition: background-position .1s linear;
        -moz-transition: background-position .1s linear;
        -o-transition: background-position .1s linear;
        transition: background-position .1s linear;
    }


}

/*management*/
.management {
    position: relative;
    width: 10rem;
    height: auto;
}

.management .text-content {
    position: absolute;
    top: 0.651042rem;
    right: 1.875rem;
}

.management .title {
    height: 0.34375rem;
    line-height: 0.34375rem;
    font-size: 0.34375rem;
    color: #E85F24;
}

.management .title:after {
    display: block;
    content: "";
    height: 1px;
    width: 0.520833rem;
    margin-top: 0.28125rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.management .summary {
    margin-top: 0.541667rem;
    word-wrap: break-word;
    word-break: normal;
    height: 0.28125rem;
    line-height: 0.28125rem;
    font-size: 0.177083rem;
    color: #000;
}

@media (max-width: 768px) {
    .management .text-content {
        position: absolute;
        top: 0.666667rem;
        right: 0.666667rem;
    }

    .management .title {
        height: 0.48rem;
        line-height: 0.48rem;
        font-size: 0.48rem;
        color: #000;
    }

    .management .title:after {
        display: block;
        content: "";
        height: 1px;
        width: 1.2rem;
        margin-top: 0.48rem;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .management .summary {
        margin-top: 0.906667rem;
        width: 4.6rem;
        word-wrap: break-word;
        line-height: 0.533333rem;
        font-size: 0.346667rem;
        color: #000;
    }
}

/*wear*/
.wear {
    position: relative;
    width: 10rem;
    height: auto;
}

.wear .text-content {
    position: absolute;
    top: 0.651042rem;
    left: 1.875rem;
}

.wear .title {
    height: 0.34375rem;
    line-height: 0.34375rem;
    font-size: 0.34375rem;
    color: #000;
}

.wear .title:after {
    display: block;
    content: "";
    height: 1px;
    width: 0.520833rem;
    margin-top: 0.28125rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.wear .summary {
    height: 0.197917rem;
    margin-top: 0.541667rem;
    width: 2.9rem;
    word-wrap: break-word;
    word-break: normal;
    line-height: 0.197917rem;
    font-size: 0.177083rem;
    color: #000;
    float: left;
    display: inline-block;
}

.wear .cat-image {
    margin-top: 0.45rem;
    height: 0.3125rem;
    width: 0.40625rem;
    float: left;
    display: inline-block;
}

@media (max-width: 768px) {
    .wear .text-content {
        position: absolute;
        top: 0.666667rem;
        left: 0.666667rem;
    }

    .wear .title {
        height: 0.48rem;
        line-height: 0.48rem;
        font-size: 0.48rem;
        color: #000;
    }

    .wear .title:after {
        display: block;
        content: "";
        height: 1px;
        width: 1.2rem;
        margin-top: 0.48rem;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .wear .summary {
        margin-top: 0.906667rem;
        line-height: 0.533333rem;
        font-size: 0.346667rem;
        color: #000;
        float: left;
        display: inline-block;
    }

    .wear .cat-image {
        margin-top: 0.85rem;
        height: 0.533333rem;
        width: 0.693333rem;
        float: left;
        display: inline-block;
    }
}


/*component*/
.component {
    position: relative;
    width: 10rem;
    height: auto;
    text-align: center;
}

.component .text-content {
    position: absolute;
    width: 10rem;
    top: 0.53125rem;
}

.component .title {
    height: 0.34375rem;
    line-height: 0.34375rem;
    font-size: 0.34375rem;
    color: #000;
}

.component .summary {
    height: 0.177083rem;
    margin-top: 0.25rem;
    line-height: 0.177083rem;
    font-size: 0.177083rem;
    color: #000;
}

@media (max-width: 768px) {
    .component .text-content {
        position: absolute;
        top: 0.666667rem;
    }

    .component .title {
        height: 0.48rem;
        line-height: 0.48rem;
        font-size: 0.48rem;
        color: #000;
    }

    .component .summary {
        margin-top: 0.266667rem;
        margin-left: 1rem;
        margin-right: 1rem;
        word-wrap: break-word;
        word-break: normal;
        line-height: 0.506667rem;
        font-size: 0.346667rem;
        color: #000;
    }
}

/*parameter*/
.parameter {
    position: relative;
    width: 10rem;
    height: 3.77rem;
    text-align: center;
    background-color: #F9F9FC;
}

.parameter .headline {
    padding-top: 0.5625rem;
    height: 0.208333rem;
    line-height: 0.208333rem;
    font-size: 0.208333rem;
    padding-bottom: 0.5625rem;
}

.parameter .parameter-content-pc {
    position: relative;
    left: 1.875rem;
    width: 6.25rem;
    height: 2.436667rem;
    display: block;
}

.parameter .parameter-content-mobile {
    display: none;
}

.parameter .left-content {
    width: 1.666667rem;
    height: 2.436667rem;
    text-align: left;
    float: left;
}

.parameter .center-content {
    margin-left: 1.9375rem;
}

.parameter .center-content img {
    width: 2.197917rem;
    height: 1.770833rem;
    float: left;
}

.parameter .right-content {
    width: 1.848958rem;
    height: 2.436667rem;
    text-align: left;
    float: right;
}

.parameter .parameter-content-pc .left-content div {
    margin-bottom: 0.15625rem;
    width: 1.666667rem;
}

.parameter .parameter-content-pc .right-content div {
    margin-bottom: 0.15625rem;
    width: 1.848958rem;
}

.parameter .parameter-content-pc .title {
    width: 0.6165rem;
    color: #666666;
    font-size: 0.09375rem;
    float: left;
    line-height: 0.208333rem;
    display: block;
}

.parameter .parameter-content-pc .content {
    left: 0.416667rem;
    width: 1.050167rem;
    color: #666666;
    font-size: 0.09375rem;
    display: inline-block;
    line-height: 0.208333rem;
    float: left;
}

@media (max-width: 768px) {
    .parameter {
        position: relative;
        width: 10rem;
        text-align: center;
        background-color: #F9F9FC;
        height: auto;
    }

    .parameter .parameter-content-pc {
        display: none;
    }

    .parameter .parameter-content-mobile {
        display: block;
    }

    .parameter .headline {
        height: 0.48rem;
        line-height: 0.48rem;
        font-size: 0.48rem;
    }

    .parameter .parameter-content-mobile img {
        margin-left: 1.333333rem;
        margin-right: 1.333333rem;
        width: 7.333333rem;
    }

    .parameter .parameter-content-mobile table {
        margin-top: 1.066667rem;
        margin-left: 0.666667rem;
        margin-right: 0.666667rem;
        width: 8.666667rem;
        font-size: 0.293333rem;
        line-height: 1.5em;
        border-collapse: collapse;
        border-spacing: 0;
        border-top-color: gray;
        border-right-color: gray;
        border-bottom-color: gray;
        border-left-color: gray;
    }

    .parameter .parameter-content-mobile table tbody  {
        display: table-row-group;
        vertical-align: middle;
        border-top-color: inherit;
        border-right-color: inherit;
        border-bottom-color: inherit;
        border-left-color: inherit;
    }

    .parameter .parameter-content-mobile table td  {
        padding: 10px;
        border: 0.8px solid #E6E6E6;
    }

    .parameter .parameter-content-mobile .blank {
        height: 1.333333rem;
    }
}

.welcome {
    width: 10rem;
    min-height: 100%;
    background: url('../resource/welcome_bg.jpg') no-repeat fixed center;
    background-size: cover;
}

.welcome-img {
    margin-left: 3.4375rem;
    margin-top: 0.598958rem;
    width: 3.125rem;
    height: 2.895833rem;
}

.welcome-title {
    margin-top: 0.408333rem;
    width: 10rem;
    color: #fff;
    text-align: center;
    font-size: 0.24rem;
    line-height: 0.4125rem;
}

@media (max-width: 768px) {
    .welcome-img {
        margin-left: 1rem;
        margin-top: calc(50% - 3rem);
        width: 8.0rem;
        height: 7.413333rem;
    }

    .welcome-title {
        margin-top: 0.408333rem;
        width: 10rem;
        top: 4rem;
        word-wrap: break-word;
        word-break: normal;
        color: #fff;
        text-align: center;
        font-size: 0.6rem;
        line-height: 0.9rem;
    }
}

/*float background*/
.float-back {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=50);
    opacity: 0.5;
    -moz-opacity: 0.5;
    background-color: #000;
}
/*video*/
.video-back {
    position: fixed;
    display: none;
    z-index: 2000;
    top: calc(50% - 1.758474rem - 30px);
    left: 1.875rem;
    right: 1.875rem;
}


.video-head {
    height: 60px;
    width: 6.25rem;
    background-color: white;
    vertical-align: middle;
}

.video-title {
    float: left;
    margin-left: 20px;
    width: calc(100% - 64px);
    font-size: 16px;
    line-height: 60px;
    color: #333;
}

.video-btn {
    position: absolute;
    margin-right: 20px;
    margin-top: 18px;
    width: 24px;
    border-radius: 15px;
}

.video iframe {
    width: 6.25rem;
    height: 3.516949rem;
}

/*footer*/
footer {
    background-color: #fff;
}

footer p {
    margin: 0;
    width: 100%;
    color: #666;
    text-align: center;
    font-size: 0.11rem;
    line-height: 40px;
}
.bithd_content{
    padding-top: 0.15rem;
}
.bithd_content a{
    line-height: 0.197917rem;
    font-size: 0.197917rem;
    font-family: PingFangSC-Light, sans-serif;
    color: #E85F24;
}
.bithd_page a{
    color:white !important;
}
@media (max-width: 768px) {
    .banner .content-app{
        width:100%;
    }
    .mobile-header-logo img{
        margin-left: 0px;
    }
    .mobile-bithd img{
        margin-left:12px !important;
    }
    .banner .bg-image{
        height:9rem;
    }
    .site-name{margin-left: 0px;font-size: 15px}
    .mobile-menu-app ul li a{
        float:none
    }
    .banner .text-content{
        top:1.3rem;
        right:3.475rem;
        margin:0 auto;
        text-align: center;
    }
    .banner .content-app{
        margin:0.7rem 0 0;
    }
    .img-ios{
        margin-top: 0.2rem;
        width:1.541666rem
    }
    .features-1 .bg-image img{
        margin:5.2rem 0 0 3.6rem;
        width:2.7rem;
    }
    .features-1 .title-features-1:after{
        margin:0.28rem auto 0 auto;
    }
    .features-1 .bg-content{
        text-align: center;
        top:1.651042rem;
        left:0;
        width:100%;
    }

    .features-1 .summary-features-1{
        width:50%;
        margin:1rem  auto 0 auto;
        line-height: 0.5rem;
    }
    .float-image-app{
        right:3.8rem;
    }
    footer{
        background-color: #F9F9FC;
    }

    footer p {
        margin: 0;
        width: 100%;
        color: #333;
        text-align: center;
        font-size: 0.2rem;
        line-height: 40px;
    }
}

@media(min-width: 410px) and  (max-width: 768px) {
    .banner .text-content{
        right: 4.2rem;
    }
}
