/*body*/

body {
    font-family: PingFang SC, "\5FAE\8F6F\96C5\9ED1", Arial !important;
    height: 100%;
    background-color: #f2f2f2;
}


/*nav*/

nav {
    width: 100%;
    height: 44px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.01);
}

.dark {
    background-color: #1e1e1e;
}

.dark-txt {
    color: #333333 !important;
}

.dark-txt:hover {
    color: #5887e3 !important;
}

@media (max-width: 768px) {
    nav {
        height: 48px;
    }
}


/*pc header*/

.mobile-hidden {
    display: block;
}

.pc-hidden {
    display: none;
}

.pc-nav {
    height: 100%;
}

.pc-header-menu,
.mobile-menu {
    height: 100%;
    float: right;
}

.pc-header-menu {
    display: block;
}

.mobile-menu {
    display: none;
}

.pc-header-menu ul,
.mobile-menu ul {
    float: right;
}

.pc-header-menu ul li,
.mobile-menu ul li {
    float: left;
    vertical-align: top;
    height: 43px;
    margin: 0;
    line-height: 43px;
    font-size: 12px;
    margin-left: 30px;
    position: relative;
    list-style: none;
}

.pc-header-menu ul li a,
.mobile-menu ul li a,
.pc-header-menu ul li p,
.mobile-menu ul li p {
    color: white;
    text-decoration: none;
    font-family: PingFangSC-Regular;
    font-size: 13px;
    letter-spacing: 0;
    font-weight: 400;
}

.mobile-menu ul li a:hover,
.mobile-menu ul li p:hover,
.pc-header-menu ul li a:hover,
.pc-header-menu ul li p:hover {
    color: #5887e3;
}

.arrow-right,
.arrow-down {
    display: none;
}

.dropdown {
    display: none;
    position: absolute;
    min-width: 120px;
    background: url("../image/i18n-bg.png") no-repeat;
    background-size: 100% 100%;
    padding: 10px 0;
    padding-top: 25px;
    box-sizing: border-box;
    left: calc(50% - 60px);
}

.dropdown-mobile {
    display: none;
}

.dropdown a {
    display: block;
    color: #333 !important;
    text-align: center;
}

.dropdown-div:hover .dropdown {
    display: block;
}

.dropdown-div a:hover {
    color: #5887e3 !important;
}

.pc-header-logo {
    height: 100%;
    float: left;
}

.pc-header-logo a {
    display: block;
    overflow: hidden;
}

.pc-header-logo img {
    margin: 9px 0;
    height: 26px;
    float: left;
}

.header-content {
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    width: auto;
    padding: 0 16px;
}

@media (min-width: 1132px) {
    .header-content {
        padding: 0;
    }
}

@media (max-width: 768px) {
    #menu-list .header-content {
        padding: 0;
    }
}

.m-box {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .m-box {
        margin: 0 16px;
        width: 100%;
    }
}


/* index razor */

.banner-btn-box a,
.banner-btn-box div {
    font-family: PingFangSC-Regular, sans-serif !important;
}

.rol {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.razor-box-1 {
    background: url(../image/banner_bg@2x.jpg) no-repeat 100% 100%;
    height: 750px;
    background-size: 100% 100%;
    float: left;
    width: 100%;
    position: relative;
}

.en .razor-box-1 {
    height: 850px;
}

.box-1-font {
    width: 100%;
    margin: 0 auto;
    margin-top: 95px;
    text-align: center;
}

.box-1-tltle {
    font-size: 48px;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    font-family: PingFangSC-Semibold;
}

.reports {
    position: fixed;
    top: 60px;
    right: 1.6rem;
    width: 120px;
    z-index: 1040;
    background-color: white;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
}

.reports ul {
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.reports ul li {
    margin-right: 12px;
    margin-top: 10px;
}

.body-box {
    overflow: auto;
}

.reports ul li a,
.footer p a {
    text-align: center;
    font-size: 12px;
    color: #666666;
    text-decoration: none;
}

.footer p a {
    text-decoration: underline;
}

.reports ul li a:hover {
    color: #5887e3;
}

.mobile-ul {
    display: none;
}

.img-ios,
.img-android {
    width: 1.041666rem;
}

.introductions {
    /*padding-top: 50px;*/
    /*padding-bottom: 50px;*/
    text-align: center;
    color: #f8f8f8;
    background: url(../resource/banner.jpg) no-repeat center center;
    background-size: cover;
}

.banner {
    position: relative;
    width: 10rem;
    height: auto;
}

.bg-image {
    width: 100%;
    display: block;
}

.bithd-app-log {
    width: 50px;
    height: 50px;
}

.banner .text-content {
    position: absolute;
    top: 1.36271rem;
    right: 1.875rem;
    text-align: right;
}

.banner .title-app {
    height: 0.38rem;
    line-height: 0.38rem;
    font-size: 0.38rem;
    font-family: PingFangSC-Thin, sans-serif;
    color: white;
    font-weight: bold;
}

.features-1 .bg-image img {
    width: 1.7rem;
    margin-left: 2.8rem;
    margin-top: 0.5rem;
}

.features-1 .bg-content {
    position: absolute;
    top: 0.651042rem;
    left: 5rem;
    width: 3.125rem;
    text-align: right;
    vertical-align: middle;
}

.features-1 .title-features-1 {
    line-height: 0.34375rem;
    font-size: 0.34375rem;
    color: #666;
}

.features-1 {
    position: relative;
    background: #fff;
}

.features-1 .title-features-1:after {
    display: block;
    content: "";
    height: 1px;
    width: 0.6875rem;
    margin-top: 0.28rem;
    margin-left: calc(100% - 0.6875rem);
    background-color: rgba(0, 0, 0, 0.3);
}

.features-1 .summary-features-1 {
    margin-top: 0.28rem;
    height: 0.28125rem;
    word-wrap: break-word;
    word-break: normal;
    line-height: 0.28125rem;
    font-size: 0.177083rem;
    font-family: PingFangSC-Thin, sans-serif;
    font-weight: 500;
    color: #666;
}

.banner .content-app {
    margin-top: 0.220416rem;
    margin-right: 0;
    margin-left: calc(100% - 2.291662rem);
    width: 2.291662rem;
    word-wrap: break-word;
    word-break: normal;
    line-height: 0.2875rem;
    font-size: 0.1875rem;
    font-family: PingFangSC-Thin, sans-serif;
    text-align: right;
    color: white;
}

.text-content-web p {
    padding: 0.2rem 0;
}

.title-web {
    font-size: 0.5rem;
}

.footer {
    width: 100%;
    padding: 15px 0;
}

.source,
.bithd_help {
    font-size: 0.1rem;
    line-height: 32px;
    color: #333;
}


/*mobile header*/

@media (max-width: 768px) {
    .mobile-hidden {
        display: none;
    }
    .pc-hidden {
        display: block;
    }
    .reports {
        display: none;
    }
    .pc-header-menu,
    .mobile-menu {
        width: 100%;
        height: auto;
        -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.07);
        background-color: white;
    }
    .pc-header-menu {
        display: none;
    }
    .mobile-menu {
        display: block;
    }
    .pc-header-menu ul,
    .mobile-menu ul {
        float: left;
        width: 100%;
    }
    .mobile-ul {
        width: 100%;
    }
    .pc-header-menu ul li,
    .mobile-menu ul li {
        float: none;
        display: block;
        font-family: PingFangSC-Regular;
        margin: 0;
        padding: 0 16px;
        height: 44px;
        font-size: 16px;
        line-height: 44px;
        border-bottom: 1px solid #eee;
        text-decoration: none;
    }
    .pc-header-menu ul li a,
    .mobile-menu ul li a {
        width: 100%;
        float: left;
        font-family: PingFangSC-Regular, sans-serif;
        color: #333;
        font-weight: 100;
        font-size: 16px;
    }
    .pc-header-menu ul li p,
    .mobile-menu ul li p {
        display: inline-block;
        width: calc(100% - 12px);
        text-align: left;
        color: #333;
        font-size: 16px;
    }
    .pc-header-menu ul li a:hover,
    .mobile-menu ul li a:hover {
        color: #4a90e2;
    }
    .arrow-right {
        display: block;
        float: right;
        width: 12px;
        margin-top: 16px;
    }
    .dropdown-mobile {
        position: relative;
        width: 100%;
        background: none;
        padding: 0 16px;
        left: 0;
    }
    .dropdown {
        display: none !important;
    }
    .dropdown-mobile a {
        display: block;
        text-align: left;
        font-size: 13px !important;
        float: none !important;
        height: 36px;
    }
}

.mobile-nav {
    width: 100%;
    height: 100%;
}

.mobile-header-logo {
    height: 100%;
    float: left;
}

.mobile-header-logo img {
    height: 24px;
    margin: 10px 0;
    margin-left: 12px;
}

.mobile-header-logo a {
    display: block;
    overflow: hidden;
}

.logo-app {
    width: 30%;
}

.logo-app img {
    width: 44px;
}

.float-image {
    position: absolute;
    bottom: 0;
    right: 3.675rem;
    width: 3rem;
}

.mobile-header-menu {
    height: 100%;
    float: right;
}

.mobile-header-menu img {
    height: 14px;
    margin: 17px 0;
}

.float-image-app {
    right: 5.29rem;
}

.banner .content:after {
    display: block;
    content: "";
    height: 1px;
    width: 1.041666rem;
    margin-top: 0.322916rem;
    margin-left: calc(100% - 1.041666rem);
    background-color: rgba(255, 255, 255, 0.3);
}

.download-img {
    margin-top: 0.322916rem;
    font-size: 0;
}

.site-name {
    margin-left: 12px;
    line-height: 60px;
    font-size: 18px;
    color: #333;
    float: right;
}

.bithddocs {
    color: red !important;
}


/*container*/

.container {
    width: 10rem;
    height: auto;
    margin-top: 44px;
    background-color: #f2f2f2;
    display: block;
}

@media (max-width: 768px) {
    .container {
        margin-top: 48px;
    }
}


/*bg-image*/

.bg-image {
    width: 100%;
    display: block;
}


/*introduction*/

.introduction {
    position: relative;
    width: 10rem;
    height: auto;
}

.introduction .text-content {
    position: absolute;
    top: 1.36271rem;
    left: 1.875rem;
}

.introduction .title {
    height: 0.34375rem;
    line-height: 0.34375rem;
    font-size: 0.34375rem;
    font-family: PingFangSC-Light, sans-serif;
    color: white;
}

.introduction .summary {
    font-family: PingFangSC-Light, sans-serif;
    height: 0.197917rem;
    margin-top: 0.197917rem;
    line-height: 0.197917rem;
    font-size: 0.197917rem;
    font-weight: 400;
    color: white;
}

.introduction .summary:after {
    display: block;
    content: "";
    height: 1px;
    width: 0.520833rem;
    margin-top: 0.3125rem;
    background-color: rgba(255, 255, 255, 0.15);
}

.introduction .content {
    margin-top: 0.625rem;
    width: 3rem;
    word-wrap: break-word;
    word-break: normal;
    line-height: 0.260417rem;
    font-size: 0.15625rem;
    font-family: PingFangSC-Light, sans-serif;
    color: white;
}

.introduction .float-image {
    position: absolute;
    top: calc(50% - 2.127604rem);
    right: 0.9375rem;
    width: 4.4375rem;
    height: 4.255208rem;
}

.play-video {
    margin-top: 0.13rem;
    width: 2.6rem;
    vertical-align: middle;
    font-size: 0;
}

.play-video p {
    float: left;
    line-height: 0.166667rem;
    font-size: 0.15rem;
    font-family: PingFangSC-Light, sans-serif;
    color: #5887E3;
    border: 0;
    text-align: left;
    background-color: transparent;
}

.play-video img {
    height: 0.166667rem;
    padding-left: 0.041667rem;
}

@media (max-width: 768px) {
    .introduction .text-content {
        position: absolute;
        top: 1.086667rem;
        left: 0.666667rem;
    }
    .introduction .title {
        height: 0.666667rem;
        line-height: 0.666667rem;
        font-size: 0.666667rem;
        font-family: PingFangSC-Light, sans-serif;
        color: white;
    }
    .introduction .summary {
        height: 0.373333rem;
        margin-top: 0.226667rem;
        line-height: 0.373333rem;
        font-size: 0.373333rem;
        color: white;
    }
    .introduction .summary:after {
        display: block;
        content: "";
        height: 1px;
        width: 1.373333rem;
        margin-top: 0.533333rem;
        background-color: rgba(255, 255, 255, 0.15);
    }
    .introduction .content {
        margin-top: 1.093333rem;
        width: 4rem;
        word-wrap: break-word;
        word-break: normal;
        line-height: 0.479999rem;
        font-size: 0.293333rem;
        font-family: PingFangSC-Light, sans-serif;
        color: white;
    }
    .introduction .float-image {
        position: absolute;
        top: calc(50% - 2.2rem);
        right: 0rem;
        width: 4.666667rem;
        height: 5.24rem;
        -webkit-transform: rotate(0deg) translateY(0px);
        -ms-transform: rotate(0deg) translateY(0px);
        transform: rotate(0deg) translateY(0px);
    }
    .play-video {
        font-size: 0;
        margin-top: 0.3rem;
        width: 3.6rem;
        vertical-align: middle;
    }
    .play-video p {
        float: left;
        line-height: 0.333333rem;
        font-size: 0.293333rem;
        font-family: PingFangSC-Light, sans-serif;
        color: #5887E3;
        border: 0;
        text-align: left;
        background-color: transparent;
    }
    .play-video img {
        padding-left: 0.106667rem;
        width: 0.506667rem;
        height: 0.333333rem;
    }
}


/*features*/

.features {
    position: relative;
    width: 10rem;
    height: auto;
}

.features .text-content {
    position: absolute;
    top: 0.651042rem;
    left: 1.875rem;
}

.features .title {
    height: 0.34375rem;
    line-height: 0.34375rem;
    font-size: 0.34375rem;
    color: #000;
}

.features .title:after {
    display: block;
    content: "";
    height: 1px;
    width: 0.520833rem;
    margin-top: 0.28125rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.features .summary {
    margin-top: 0.541667rem;
    height: 0.28125rem;
    width: 3.5rem;
    word-wrap: break-word;
    word-break: normal;
    line-height: 0.28125rem;
    font-size: 0.15625rem;
    color: #000;
}

@media (max-width: 768px) {
    .features .text-content {
        position: absolute;
        top: 0.666667rem;
        left: 0.666667rem;
        color: #000;
    }
    .features .title {
        height: 0.48rem;
        line-height: 0.48rem;
        font-size: 0.48rem;
        color: #000;
    }
    .features .title:after {
        display: block;
        content: "";
        height: 1px;
        width: 1.2rem;
        margin-top: 0.48rem;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .features .summary {
        margin-top: 0.906667rem;
        width: 4rem;
        word-wrap: break-word;
        word-break: normal;
        line-height: 0.533333rem;
        font-size: 0.346667rem;
        color: #000;
    }
}


/*convenience*/

.convenience {
    position: relative;
    width: 10rem;
    height: auto;
}

.convenience .text-content {
    position: absolute;
    top: 0.651042rem;
    right: 1.875rem;
}

.convenience .title {
    height: 0.34375rem;
    line-height: 0.34375rem;
    font-size: 0.34375rem;
    color: #000;
}

.convenience .title:after {
    display: block;
    content: "";
    height: 1px;
    width: 0.520833rem;
    margin-top: 0.28125rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.convenience .summary {
    margin-top: 0.541667rem;
    word-wrap: break-word;
    word-break: normal;
    height: 0.28125rem;
    line-height: 0.28125rem;
    font-size: 0.177083rem;
    color: #000;
}

.text-market {
    top: 0.7rem !important;
}

@media (max-width: 768px) {
    .convenience .text-content {
        position: absolute;
        top: 0.666667rem;
        right: 0.666667rem;
    }
    .convenience .title {
        height: 0.48rem;
        line-height: 0.48rem;
        font-size: 0.48rem;
        color: #000;
    }
    .convenience .title:after {
        display: block;
        content: "";
        height: 1px;
        width: 1.2rem;
        margin-top: 0.48rem;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .convenience .summary {
        margin-top: 0.906667rem;
        width: 4.6rem;
        word-wrap: break-word;
        word-break: normal;
        line-height: 0.533333rem;
        font-size: 0.346667rem;
        color: #000;
    }
    .banner .text-market {
        right: 0rem !important;
        width: 100%;
    }
    .banner .title-app {
        padding-top: 0.173333rem;
        font-size: 0.666667rem;
        line-height: 0.666667rem;
    }
    .banner .bithd_content a {
        font-size: 0.383333rem;
        line-height: 0.383333rem;
    }
    .banner .content-app {
        //line-height: 0.073333rem;
        font-size: 0.293333rem;
        text-align: center !important;
    }
    .banner .text-market .title-app {
        padding-top: 0rem !important;
    }
    .text-market .download-img {
        margin-top: 0rem !important;
    }
    .mobilebithd {
        float: left;
        text-decoration: none;
        margin-top: 15px;
        display: inline-block;
        padding: 4px 12px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;
        color: #333;
        text-align: center;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        vertical-align: middle;
        cursor: pointer;
        background-color: #f5f5f5;
        background-image: -moz-linear-gradient(top, #fff, #e6e6e6);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6));
        background-image: -webkit-linear-gradient(top, #fff, #e6e6e6);
        background-image: -o-linear-gradient(top, #fff, #e6e6e6);
        background-image: linear-gradient(to bottom, #fff, #e6e6e6);
        background-repeat: repeat-x;
        border: 1px solid #ccc;
        border-color: #e6e6e6 #e6e6e6 #bfbfbf;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        border-bottom-color: #b3b3b3;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
        filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    .mobilebithd:hover,
    .mobilebithd:focus,
    .mobilebithd:active,
    .mobilebithd.disabled,
    .mobilebithd[disabled] {
        color: #333;
        background-color: #e6e6e6;
    }
    .mobilebithd:hover,
    .mobilebithd:focus {
        color: #333;
        text-decoration: none;
        background-position: 0 -15px;
        -webkit-transition: background-position 0.1s linear;
        -moz-transition: background-position 0.1s linear;
        -o-transition: background-position 0.1s linear;
        transition: background-position 0.1s linear;
    }
}


/*management*/

.management {
    position: relative;
    width: 10rem;
    height: auto;
}

.management .text-content {
    position: absolute;
    top: 0.651042rem;
    right: 1.875rem;
}

.management .title {
    height: 0.34375rem;
    line-height: 0.34375rem;
    font-size: 0.34375rem;
    color: #000;
}

.management .title:after {
    display: block;
    content: "";
    height: 1px;
    width: 0.520833rem;
    margin-top: 0.28125rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.management .summary {
    margin-top: 0.541667rem;
    word-wrap: break-word;
    word-break: normal;
    height: 0.28125rem;
    line-height: 0.28125rem;
    font-size: 0.177083rem;
    color: #000;
}

@media (max-width: 768px) {
    .management .text-content {
        position: absolute;
        top: 0.666667rem;
        right: 0.666667rem;
    }
    .management .title {
        height: 0.48rem;
        line-height: 0.48rem;
        font-size: 0.48rem;
        color: #000;
    }
    .management .title:after {
        display: block;
        content: "";
        height: 1px;
        width: 1.2rem;
        margin-top: 0.48rem;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .management .summary {
        margin-top: 0.906667rem;
        width: 4.6rem;
        word-wrap: break-word;
        line-height: 0.533333rem;
        font-size: 0.346667rem;
        color: #000;
    }
}


/*wear*/

.wear {
    position: relative;
    width: 10rem;
    height: auto;
}

.wear .text-content {
    position: absolute;
    top: 0.651042rem;
    left: 1.875rem;
}

.wear .title {
    height: 0.34375rem;
    line-height: 0.34375rem;
    font-size: 0.34375rem;
    color: #000;
}

.wear .title:after {
    display: block;
    content: "";
    height: 1px;
    width: 0.520833rem;
    margin-top: 0.28125rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.wear .summary {
    height: 0.197917rem;
    margin-top: 0.541667rem;
    width: 2.9rem;
    word-wrap: break-word;
    word-break: normal;
    line-height: 0.197917rem;
    font-size: 0.177083rem;
    color: #000;
    float: left;
    display: inline-block;
}

.wear .cat-image {
    margin-top: 0.45rem;
    height: 0.3125rem;
    width: 0.40625rem;
    float: left;
    display: inline-block;
}

@media (max-width: 768px) {
    .wear .text-content {
        position: absolute;
        top: 0.666667rem;
        left: 0.666667rem;
    }
    .wear .title {
        height: 0.48rem;
        line-height: 0.48rem;
        font-size: 0.48rem;
        color: #000;
    }
    .wear .title:after {
        display: block;
        content: "";
        height: 1px;
        width: 1.2rem;
        margin-top: 0.48rem;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .wear .summary {
        margin-top: 0.906667rem;
        line-height: 0.533333rem;
        font-size: 0.346667rem;
        color: #000;
        float: left;
        display: inline-block;
    }
    .wear .cat-image {
        margin-top: 0.85rem;
        height: 0.533333rem;
        width: 0.693333rem;
        float: left;
        display: inline-block;
    }
}


/*component*/

.component {
    position: relative;
    width: 10rem;
    height: auto;
    text-align: center;
}

.component .text-content {
    position: absolute;
    width: 10rem;
    top: 0.53125rem;
}

.component .title {
    height: 0.34375rem;
    line-height: 0.34375rem;
    font-size: 0.34375rem;
    color: #000;
}

.component .summary {
    height: 0.177083rem;
    margin-top: 0.25rem;
    line-height: 0.177083rem;
    font-size: 0.177083rem;
    color: #000;
}

@media (max-width: 768px) {
    .component .text-content {
        position: absolute;
        top: 0.666667rem;
    }
    .component .title {
        height: 0.48rem;
        line-height: 0.48rem;
        font-size: 0.48rem;
        color: #000;
    }
    .component .summary {
        margin-top: 0.266667rem;
        margin-left: 1rem;
        margin-right: 1rem;
        word-wrap: break-word;
        word-break: normal;
        line-height: 0.506667rem;
        font-size: 0.346667rem;
        color: #000;
    }
}


/*parameter*/

.parameter {
    position: relative;
    width: 10rem;
    height: 3.77rem;
    text-align: center;
    background-color: #f9f9fc;
}

.parameter .headline {
    padding-top: 0.5625rem;
    height: 0.208333rem;
    line-height: 0.208333rem;
    font-size: 0.208333rem;
    padding-bottom: 0.5625rem;
}

.parameter .parameter-content-pc {
    position: relative;
    left: 1.875rem;
    width: 6.25rem;
    height: 2.436667rem;
    display: block;
}

.parameter .parameter-content-mobile {
    display: none;
}

.parameter .left-content {
    width: 1.666667rem;
    height: 2.436667rem;
    text-align: left;
    float: left;
}

.parameter .center-content {
    margin-left: 1.9375rem;
}

.parameter .center-content img {
    width: 2.197917rem;
    height: 1.770833rem;
    float: left;
}

.parameter .right-content {
    width: 1.848958rem;
    height: 2.436667rem;
    text-align: left;
    float: right;
}

.parameter .parameter-content-pc .left-content div {
    margin-bottom: 0.15625rem;
    width: 1.666667rem;
}

.parameter .parameter-content-pc .right-content div {
    margin-bottom: 0.15625rem;
    width: 1.848958rem;
}

.parameter .parameter-content-pc .title {
    width: 0.6165rem;
    color: #666666;
    font-size: 0.09375rem;
    float: left;
    line-height: 0.208333rem;
    display: block;
}

.parameter .parameter-content-pc .content {
    left: 0.416667rem;
    width: 1.050167rem;
    color: #666666;
    font-size: 0.09375rem;
    display: inline-block;
    line-height: 0.208333rem;
    float: left;
}

@media (max-width: 768px) {
    .parameter {
        position: relative;
        width: 10rem;
        text-align: center;
        background-color: #f9f9fc;
        height: auto;
    }
    .parameter .parameter-content-pc {
        display: none;
    }
    .parameter .parameter-content-mobile {
        display: block;
    }
    .parameter .headline {
        height: 0.48rem;
        line-height: 0.48rem;
        font-size: 0.48rem;
    }
    .parameter .parameter-content-mobile img {
        margin-left: 1.333333rem;
        margin-right: 1.333333rem;
        width: 7.333333rem;
    }
    .parameter .parameter-content-mobile table {
        margin-top: 1.066667rem;
        margin-left: 0.666667rem;
        margin-right: 0.666667rem;
        width: 8.666667rem;
        font-size: 0.293333rem;
        line-height: 1.5em;
        border-collapse: collapse;
        border-spacing: 0;
        border-top-color: gray;
        border-right-color: gray;
        border-bottom-color: gray;
        border-left-color: gray;
    }
    .parameter .parameter-content-mobile table tbody {
        display: table-row-group;
        vertical-align: middle;
        border-top-color: inherit;
        border-right-color: inherit;
        border-bottom-color: inherit;
        border-left-color: inherit;
    }
    .parameter .parameter-content-mobile table td {
        padding: 10px;
        border: 0.8px solid #e6e6e6;
    }
    .parameter .parameter-content-mobile .blank {
        height: 1.333333rem;
    }
}

.welcome {
    width: 10rem;
    min-height: 100%;
    background: url("../resource/welcome_bg.jpg") no-repeat fixed center;
    background-size: cover;
}

.welcome-img {
    margin-left: 3.4375rem;
    margin-top: 0.598958rem;
    width: 3.125rem;
    height: 2.895833rem;
}

.welcome-title {
    margin-top: 0.408333rem;
    width: 10rem;
    color: #fff;
    text-align: center;
    font-size: 0.24rem;
    line-height: 0.4125rem;
}

@media (max-width: 768px) {
    .welcome-img {
        margin-left: 1rem;
        margin-top: calc(50% - 3rem);
        width: 8rem;
        height: 7.413333rem;
    }
    .welcome-title {
        margin-top: 0.408333rem;
        width: 10rem;
        top: 4rem;
        word-wrap: break-word;
        word-break: normal;
        color: #fff;
        text-align: center;
        font-size: 0.6rem;
        line-height: 0.9rem;
    }
}


/*float background*/

.float-back {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=50);
    opacity: 0.5;
    -moz-opacity: 0.5;
    background-color: #000;
}


/*video*/

.video-back {
    position: fixed;
    display: none;
    z-index: 2000;
    top: calc(50% - 1.758474rem - 30px);
    left: 1.875rem;
    right: 1.875rem;
}

.video-head {
    height: 60px;
    width: 6.25rem;
    background-color: white;
    vertical-align: middle;
}

.video-title {
    float: left;
    margin-left: 20px;
    width: calc(100% - 64px);
    font-size: 16px;
    line-height: 60px;
    color: #333;
}

.video-btn {
    position: absolute;
    margin-right: 20px;
    margin-top: 18px;
    width: 24px;
    border-radius: 15px;
}

.video iframe {
    width: 6.25rem;
    height: 3.516949rem;
}


/*footer*/

.footer {
    background-color: #fff;
}

.footer p {
    margin: 0;
    width: 100%;
    color: #666;
    text-align: center;
    font-size: 0.11rem;
    line-height: 40px;
}

.bithd_content {
    padding-top: 0.15rem;
}

.bithd_content a {
    line-height: 0.197917rem;
    font-size: 0.15rem;
    font-family: PingFangSC-Light, sans-serif;
    color: #5887E3;
}

.bithd_page a {
    color: white !important;
}

.bithd_content a,
.bithd_content img {
    display: inline-block;
    vertical-align: top;
}

.bithd_content img {
    height: 20px;
    vertical-align: top;
    display: inline-block;
    margin-top: 0.015rem;
}

@media (max-width: 768px) {
    .banner .content-app {
        width: 100%;
    }
    .bithd_content a {
        line-height: 0.333333rem;
        font-size: 0.293333rem;
    }
    .bithd_content img {
        height: 12px;
        vertical-align: top;
        display: inline-block;
        margin-top: 0px;
    }
    .mobile-header-logo img {
        margin: 12px 0;
    }
    .banner .bg-image {
        height: 9rem;
    }
    .site-name {
        margin-left: 0px;
        font-size: 15px;
    }
    .mobile-menu-app ul li a {
        float: none;
    }
    .banner .text-content {
        top: 1.3rem;
        right: 3.475rem;
        margin: 0 auto;
        text-align: center;
    }
    .banner .content-app {
        margin: 0.7rem 0 0;
    }
    .img-ios {
        margin-top: 0.2rem;
        width: 1.541666rem;
    }
    .features-1 .bg-image img {
        margin: 5.2rem 0 0 3.6rem;
        width: 2.7rem;
    }
    .features-1 .title-features-1:after {
        margin: 0.28rem auto 0 auto;
    }
    .features-1 .bg-content {
        text-align: center;
        top: 1.651042rem;
        left: 0;
        width: 100%;
    }
    .features-1 .summary-features-1 {
        width: 50%;
        margin: 1rem auto 0 auto;
        line-height: 0.5rem;
    }
    .float-image-app {
        right: 3.8rem;
    }
    .footer {
        background-color: #f9f9fc;
    }
    .footer p {
        margin: 0;
        width: 100%;
        color: #333;
        text-align: center;
        font-size: 12px;
        line-height: 40px;
    }
    .bithd_help {
        font-size: 0.2rem;
    }
}

@media (min-width: 410px) and (max-width: 768px) {
    .banner .text-content {
        right: 4.2rem;
    }
}

#buy-btn {
    cursor: pointer;
}

.play-content {
    cursor: pointer;
}

.open-buy {
    cursor: pointer;
}

.light {
    background-color: #f6f6f6 !important;
}

.armor2-banner {
    position: relative;
    width: 10rem;
    height: 3.9rem;
    background-color: white;
}

.armor2-banner .banner-img {
    width: 100%;
    margin: 0;
}

.banner-content,
.banener-left-content,
.banener-right-content {
    position: absolute;
}

.banner-content {
    left: 58.5%;
    top: 28%;
}

.banner-content .name-div {
    height: 0.416rem;
    box-sizing: border-box;
}

.banner-content .name {
    font-family: PingFangSC-Semibold;
    float: left;
    vertical-align: top;
    font-size: 0.208rem;
    line-height: 0.416rem;
    color: #333333;
    letter-spacing: 0;
    font-weight: 600;
    text-align: left;
}

.banner-content .sub-name {
    font-family: PingFangSC-Medium;
    vertical-align: top;
    margin-top: 0.104rem;
    display: inline-block;
    box-sizing: border-box;
    margin-left: 0.0635rem;
    font-size: 0.146rem;
    line-height: 0.162rem;
    height: 0.182rem;
    padding: 0 0.052rem;
    color: #333333;
    letter-spacing: 0;
    font-weight: 500;
    border: 0.013rem solid rgba(95, 95, 95, 1);
    border-radius: 0.057rem;
}

.banner-content .title {
    font-family: PingFangSC-Semibold;
    margin-top: 0.156rem;
    font-size: 0.313rem;
    color: #333333;
    letter-spacing: 0;
    line-height: 0.313rem;
    font-weight: 600;
}

.buy-div {
    margin-top: 0.365rem;
    height: 0.26rem;
    padding-left: 0.03rem;
}

.buy-div .price {
    float: left;
    vertical-align: top;
    font-family: PingFangSC-Regular;
    font-size: 0.16rem;
    color: #000000;
    letter-spacing: 0;
    line-height: 0.26rem;
    font-weight: 400;
}

.buy-div .buy {
    display: inline-block;
    vertical-align: top;
}

.buy-div .buy .go-buy {
    float: left;
    margin-left: 0.356rem;
    vertical-align: top;
    font-family: PingFangSC-Regular;
    font-size: 0.16rem;
    color: #5887E3;
    letter-spacing: 0;
    line-height: 0.26rem;
    font-weight: 400;
}

.buy-arrow {
    margin-top: 0.063rem;
    vertical-align: top;
    display: inline-block;
    height: 0.135rem;
}

.banener-left-content {
    position: absolute;
    left: 1.406rem;
    top: 1.5rem;
}

.banener-right-content {
    position: absolute;
    right: 1.406rem;
    top: 1.5rem;
}

.banener-left-content .title,
.banener-right-content .title {
    font-family: PingFangSC-Semibold;
    font-size: 0.26rem;
    line-height: 0.26rem;
    height: 0.26rem;
    color: #FFFFFF;
    letter-spacing: 0;
    font-weight: 600;
}

.banener-right-content .title {
    color: #333333;
}

.banener-left-content .subtitle,
.banener-right-content .subtitle {
    font-family: PingFangSC-Regular;
    margin-top: 0.208rem;
    font-size: 0.135rem;
    line-height: 0.198rem;
    color: #FFFFFF;
    letter-spacing: 0;
    font-weight: 400;
}

.banener-right-content .subtitle {
    color: #333333;
}

.params-div {
    float: left;
    margin-left: 2.135rem;
    margin-top: 0.927rem;
}

.banner6 .params-div {
    margin-top: 1.3rem;
}

.params-div .title {
    font-family: PingFangSC-Semibold;
    font-size: 0.26rem;
    color: #333333;
    letter-spacing: 0;
    font-weight: 600;
}

.params-div .params {
    margin-top: 0.15rem;
    font-family: PingFangSC-Regular;
    font-size: 0.135rem;
    color: #000000;
    letter-spacing: 0;
    font-weight: 400;
}

.params-div .params:first-child {
    margin-top: 0.313rem;
}

.params-img {
    float: right;
    margin-right: 2.135rem;
    width: 2.51rem;
    margin-top: 0.698rem;
}

.banner6 {
    padding-bottom: 0.5rem;
}

.banner7 {
    display: none;
}

@media (max-width: 768px) {
    .armor2-banner {
        position: relative;
        width: 10rem;
        height: auto;
        background-color: white;
        overflow: hidden;
    }
    .armor2-banner .banner-img {
        width: 100%;
        margin: 0;
    }
    .banner-content,
    .banener-left-content,
    .banener-right-content {
        position: absolute;
        left: 1.333rem;
        top: 1.4rem;
        right: 1.333rem;
    }
    .banner1 .banner-content {
        left: 20px;
        right: 20px;
    }
    .banner-content .title {
        font-family: PingFangSC-Semibold;
        font-size: 0.853rem;
        margin-top: 0;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        line-height: 1.227rem;
        font-weight: 600;
    }
    .banener-left-content .title,
    .banener-right-content .title {
        font-family: PingFangSC-Semibold;
        font-size: 0.853rem;
        margin-top: 0;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        line-height: 1.227rem;
        font-weight: 600;
        height: auto;
    }
    .banener-right-content .title,
    .banener-right-content .subtitle {
        color: #FFFFFF;
    }
    .banner-content .subtitle,
    .banener-left-content .subtitle,
    .banener-right-content .subtitle {
        font-family: PingFangSC-Regular;
        font-size: 0.4rem;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        font-weight: 400;
        margin-top: 0.587rem;
        height: auto;
        line-height: 0.533rem;
    }
    .banner3 .banener-right-content .subtitle,
    .banner3 .banener-right-content .title {
        color: #6D819E;
    }
    .banner7 {
        display: block;
    }
    .banner7,
    .params-mobile-div,
    .params-img {
        float: none;
        display: block;
    }
    .banner7 .banner-img {
        width: 100%;
    }
    .banner7 .banener-right-content {
        margin-top: 0;
        top: 0;
        left: 0.987rem;
        right: 0.987rem;
    }
    .banner7 .title {
        margin-top: 1.333rem;
        margin-bottom: 0.56rem;
        font-family: PingFangSC-Semibold;
        font-size: 0.853rem;
        color: #000000;
        letter-spacing: 0;
        text-align: center;
        font-weight: 600;
    }
    .banner7 .subtitle {
        font-family: PingFangSC-Regular;
        margin-top: 0;
        font-size: 0.347rem;
        color: #000000;
        letter-spacing: 0;
        text-align: justify;
        line-height: 0.48rem;
        font-weight: 400;
        word-wrap: break-word;
    }
    .banner7 .subtitle-link {
        display: inline-block;
        font-family: Avenir-Book;
        font-size: 0.347rem;
        color: #5887E3;
        letter-spacing: 0;
        text-align: justify;
        line-height: 0.48rem;
        font-weight: 400;
    }
    .params-mobile-div {
        margin: 0 0.533rem;
    }
    .params-content-div:first-child {
        margin-top: 0;
    }
    .params-mobile-div .title {
        font-family: PingFangSC-Semibold;
        margin-top: 0.8rem;
        margin-bottom: 0.933rem;
        font-size: 0.853rem;
        color: #000000;
        letter-spacing: 0;
        text-align: center;
        font-weight: 600;
    }
    .params-content-div {
        height: 0.853rem;
        margin-top: 0.4rem;
    }
    .params-content-div .title {
        height: 100%;
        float: left;
        margin: 0;
        width: 2.747rem;
        background-color: #E9E9E9;
        text-align: center;
        font-family: PingFangSC-Regular;
        font-size: 0.4rem;
        color: #000000;
        letter-spacing: 0;
        font-weight: 400;
        line-height: 0.853rem;
    }
    .params-content-div .content {
        height: 100%;
        float: right;
        margin: 0;
        width: 6.187rem;
        background-color: #F2F2F2;
        font-family: PingFangSC-Regular;
        font-size: 0.4rem;
        color: #000000;
        letter-spacing: 0;
        text-align: left;
        font-weight: 400;
        line-height: 0.853rem;
        padding-left: 0.92rem;
        box-sizing: border-box;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .params-div .params {
        margin-top: 0.104rem;
        font-family: PingFangSC-Regular;
        font-size: 0.135rem;
        color: #000000;
        letter-spacing: 0;
        font-weight: 400;
    }
    .params-img {
        margin-top: 1.227rem;
        margin-right: 1.333rem;
        margin-left: 1.333rem;
        width: calc(100% - 2.666rem);
    }
    .banner6-warnning {
        font-family: PingFangSC-Regular;
        margin-top: 0.4rem;
        font-size: 10px;
        color: #ACACAC;
        letter-spacing: 0;
        text-align: center;
        font-weight: 400;
        margin-bottom: 0.533rem;
    }
    .banner2-title {
        text-shadow: 0px 0px #00000000;
        background: linear-gradient(to left, #DEDEDE, #FFFFFF, #DEDEDE, #FFFFFF, #DEDEDE, #FFFFFF, #DEDEDE, #FFFFFF);
        background-clip: text;
        -webkit-background-clip: text;
        color: white;
    }
    .banner2-title .title {
        color: transparent;
    }
    .banner4-title {
        text-shadow: 0px 0px #00000000;
        background: linear-gradient(to left, #DEDEDE, #FFFFFF, #DEDEDE, #FFFFFF, #DEDEDE, #FFFFFF, #DEDEDE, #FFFFFF, #DEDEDE, #FFFFFF, #DEDEDE, #FFFFFF, #DEDEDE, #FFFFFF, #DEDEDE, #FFFFFF);
        background-clip: text;
        -webkit-background-clip: text;
        color: white;
    }
    .banner4-title .title {
        color: transparent;
    }
    .banner5-title {
        text-shadow: 0px 0px #00000000;
        background: linear-gradient(to left, #DEDEDE, #FFFFFF, #DEDEDE, #FFFFFF, #DEDEDE, #FFFFFF, #DEDEDE, #FFFFFF, #DEDEDE, #FFFFFF);
        background-clip: text;
        -webkit-background-clip: text;
        color: white;
    }
    .banner5-title .title {
        color: transparent;
    }
}

.buy-alert-arrow {
    height: 18px;
}