.lt{
  float:left;
  box-sizing:border-box;
}
.gt{
  float:right;
  box-sizing: border-box;
}
.rol{
  float:left;
  box-sizing: border-box;
  width:100%;
}
a{
  text-decoration:none;
}
.nav-box{
  width:10rem;
  height:120px;
  background:#fff;
  text-align: center;
  margin-top:60px;
}
.nav-in-box{
  display:inline-block;
  color:#000;
}
.nav-btn{
  width:120px;
  text-align:center;
  margin-right:0.3rem;
  float:left;
  color:#000;
  margin-top:20px;
  font-size:14px;
  cursor:pointer;
  display:block;
}
.nav-img{
  height:40px;
  margin-bottom:10px;
}
.nav-btn-font{
  color:#E85D02;
  line-height:1.6em;
}
.banner-box{
  background-image: radial-gradient(50% 160%, #414141 36%, #000000 100%);
  width:100%;
  height:700px;
  margin-bottom:40px;
}
.banner-title{
  color:#fff;
  font-size:54px;
  margin-bottom:30px;
  line-height:1.6em;
  font-weight:500;
}
.banner-font{
  font-size:21px;
  color:#fff;
  line-height:2em;
  margin-bottom:50px;
  /*font-family:  "\5FAE\8F6F\96C5\9ED1" !important;*/
}
.m-box{
  width:1100px;
  height:100%;
  margin:0 auto;
}
.banner-font-box{
  width:540px;
  margin-top:160px;
}
.banner-btn{
  font-size: 22px;
  color: #E85D02;
  margin-right:75px;
  text-decoration:none;
}
.banner-btn:last-child{
  margin-right:0;
}
.banner-img{
  width:495px;
  margin-top:56px;
}
.intro-btn-box{
  width:530px;
  margin-right:40px;
  height:auto;
  box-sizing: border-box;
  padding:25px 30px;
  background: #FAFAFA;
  text-align: center;
  margin-bottom:40px;
  overflow:hidden;
}
.intro-btn-box:nth-child(2n){
  margin-right:0;
}
.intro-title{
  font-size:38px;
  color:#333;
  margin-bottom:25px;
  text-align: center;
  font-family: PingFangSC-Medium;
}
.intro-font{
  font-size:16px;
  color:#333;
  line-height:1.6em;
  margin-bottom:20px;
}
.intro-btn{
  font-size: 16px;
  color: #0070C9;
  text-align: center;
  margin-bottom:25px;
  display:block;
}
.intro-img{
  height:340px;
}
.second-nav{
  height:75px;
  background:#fff;
  margin-top:60px;
}
.second-nav-font{
  font-size:24px;
  color:#333;
  line-height:75px;
}
.second-buy-btn{
  display:block;
  width:90px;
  height:34px;
  background:url("../image/btn@2x.png") no-repeat 100% 100%;
  background-size:100% 100%;
  text-align: center;
  line-height:34px;
  font-size:16px;
  color:#fff;
  margin-top:20px;
}
.second-box{
  height:700px;
  background:#fafafa;
}
.second-box:nth-child(even){
  background:#fff;
}
.second-font-box{
  width:540px;
  margin-top:160px;
}
.second-title{
  font-size:54px;
  color:#333;
  line-height:1.6em;
  margin-bottom:30px;
  font-weight:500;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.second-font{
  font-size:24px;
  line-height:1.8em;
}
.second-img1{
  height:700px;
}
.second-img2{
  height:560px;
  margin-top:50px;
}
.relative{
  position:relative;
}
.second-imgc{
  position:absolute;
  bottom:0;
  right:-300px;
  height:600px;
}
  .second-img-f{
    height:600px;
    position:absolute;
    bottom:0;
    left:0;
  }
  .compare-title{
    font-size:50px;
    margin-top:120px;
    color:#000;
    text-align: center;
    margin-bottom:100px;
    font-weight:500;
  }
  .compare-body-lt{
    width:500px;
    margin-right:100px;
    text-align: center;
  }
  .compare-body-lt:last-child{
    margin-right:0;
  }
  .compare-body-title{
    text-align: center;
    font-size:32px;
    color:#000;
    margin-bottom:35px;
  }
  .compare-btn{
    width:90px;
    height:45px;
    border-radius:10px;
    text-align: center;
    line-height:45px;
    border: 2px solid #0270C8;
    color:#0270C8;
    font-size:24px;
    margin:0 auto;
    display:block;
    margin-bottom:35px;
  }
  .compare-img-box{
    background:#f4f4f4;
    width:100%;
    height:500px;
    text-align: center;
  }
  .compare-img-box img{
    height:100%;
  }
  .compare-body-box{
    height:710px;
    margin-bottom:30px;
  }
  .compare-title-row{
    font-family: PingFangSC-Medium;
    font-size:34px;
    color:#000;
    height:80px;
    border-bottom:1px solid #c8c8c8;
    box-sizing: border-box;
    padding-left:0;
    line-height:80px;
    margin-bottom:40px;
  }
  .compare-image-x{
    height:476px;
    margin-bottom:73px;
  }
  .compare-font-box{
    width:310px;
    margin-left:150px;
  }
  .compare-font{
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #000;
    line-height:2.4em;
    text-align: left;
  }
  .compare-message-box{
    margin-bottom:30px;
  }
  .second-img-d{
    height:540px;
    margin-top:80px;
  }
  .alert-buy-box{
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    position:fixed;
    top:0;
    left:0;
    display:none;
  }
  .buy-box{
    width:500px;
    background:#fff;
    position:absolute;
    height:500px;
    border-radius:20px;
    left:50%;
    bottom:50%;
    margin-left:-250px;
    margin-bottom:-250px;
    overflow:hidden;
  }
  .second-img-g{
    height:600px;
    position:absolute;
    bottom:0;
    right:0;
  }
  .buy-title{
    font-size:30px;
    color:#333;
    text-align: center;
    margin-top:38px;
    margin-bottom:70px;
  }
  .buy-btn-box{
    box-sizing:border-box;
    padding:0 30px;
  }
  .buy-btn{
    display:block;
    width:100%;
    padding-bottom:25px;
    border-bottom:1px solid #ddd;
    color:#333;
    margin-bottom:50px;
    font-size:24px;
  }
  .close-btn{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:90px;
    background:#f2f2f2;
    font-size:26px;
    color:#0070C9;
    text-align: center;
    line-height:90px;
  }
@media screen and (max-width: 600px){
  .buy-box{
    width:100%;
    bottom:0;
    left:0;
    margin-left:0;
    margin-bottom:0;
    height:300px;
    border-radius:0;
  }
  .buy-title{
    font-size:24px;
    margin-top:30px;
    margin-bottom:40px;
  }
  .buy-btn-box{
    padding:0 15px;
  }
  .buy-btn{
    font-size:18px;
    margin-bottom:30px;
    padding-bottom:20px;
  }
  .close-btn{
    height:50px;
    line-height:50px;
    font-size:20px;
  }
}
.en .banner-title{
  /*font-size:28px;*/
}
.en .second-title{
  font-size:40px;
}
.en .right{
  text-align: left;
}
.en .bd-box{
  width:480px;
}
.en .intro-font{
  height:112px;
}
.razro-img{
  height:365px;
}
.intro-btn-index{
  padding-bottom:0;
}
#index_banner_title{
  line-height:1.8em;
  margin-bottom:0;
}
.intro-font{
  height:75px;
}
.index_banner_btn2{
  cursor:pointer;
}