.rol{
  width:100%;
  float:left;
  box-sizing: border-box;
}
.razor-box-1{
  background:url(../image/banner_bg@2x.jpg) no-repeat 100% 100%;
  height:750px;
  background-size:100% 100%;
  float:left;
  width:100%;
  position:relative;
}
.box-1-font{
  width:700px;
  margin:0 auto;
  margin-top:80px;
  text-align: center;
}
.box-1-tltle{
  font-size:48px;
  color:#fff;
  text-align: center;
  margin-bottom:30px;
  font-family: PingFangSC-Semibold;
}
.box-1-message{
  font-family: PingFangSC-Regular;
  font-size: 26px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 38px;
}
.banner-pic{
  text-align: center;
  position:absolute;
  bottom:0;
  left:50%;
  margin-left:-350px;
  width:700px;
}
.razor-box-2{
  height:750px;
  background:#fff;
  position:relative;
  overflow: hidden;
  float:left;
  width:100%;
}
.banner2-pic{
  width:335px;
  float:left;
  margin-top:97px;
}
.banner2-font-box{
  width:570px;
  text-align: right;
  float:right;
  margin-top:150px;
}
.banenr2-title{
  font-family: PingFangSC-Semibold;
  font-size: 48px;
  color: #333333;
  letter-spacing: 0;
  margin-bottom:40px;
}
.banner2-font{
  font-family: PingFangSC-Regular;
  font-size: 26px;
  color: #333333;
  letter-spacing: 0;
}
.razor-box-3{
  height:750px;
  background:url('../image/banner3_bg@2x.jpg') no-repeat;
  background-size:100% 100%;
}
.banner3-font-box{
  float:left;
  text-align: left;
  margin-top:130px;
  width:470px;
}
.banner3-title{
  font-family: PingFangSC-Semibold;
  font-size: 48px;
  color: #FFFFFF;
  letter-spacing: 0;
  margin-bottom:40px;
}
.banner3-font{
  font-family: PingFangSC-Regular;
  font-size: 26px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height:1.6em;
}
.banner3-pic{
  height:800px;
  float:right;
  margin-right:-100px;
  margin-top:-50px;
  /*margin-top:80px;*/
}
.razor-box-4{
  height:750px;
  background:#fff;
  position:relative;
}
.banner4-pic{
  position:absolute;
  bottom:0;
  left:0;
  width:60%;
}
.banner4-font-box{
  float:right;
  text-align: right;
  width:435px;
  margin-top:190px;
}
.banner4-title{
  font-family: PingFangSC-Semibold;
  font-size: 48px;
  color: #333333;
  letter-spacing: 0;
  margin-bottom:40px;
}
.banner4-font{
  font-family: PingFangSC-Regular;
  font-size: 26px;
  color: #333333;
  letter-spacing: 0;
  line-height:1.6em;
}
.razor-box-5{
  height:600px;
  background:#fff;
}
.banner5-box{
  margin-top:130px;
}
.banner5-item{
  width:480px;
  margin-bottom:70px;
}
.banner5-item:nth-child(2n){
  float:right;
}
.banner5-item-icon{
  width:52px;
  height:52px;
  margin-right:25px;
}
.banner5-font-box{
  width:300px;
}
.banner5-title{
  font-family: PingFangSC-Medium;
  font-size: 20px;
  color: #333333;
  letter-spacing: 0;
  line-height:1em;
  margin-bottom:10px;
}
.banner5-font{
  font-family: PingFangSC-Regular;
  font-size: 16px;
  color: #666666;
  letter-spacing: 0;
  line-height:1.6em;
}
.razor-box-6{
  height:850px;
  background:#fafafa;
}
.banner6-pic{
  width:380px;
  margin-top:130px;
  float:left;
}
.banner6-font-box{
  float:right;
  width:430px;
  margin-top:102px;
  line-height:1.6em;
}
.banner6-font-rol{
  margin-bottom:40px;
}
.banner6-title{
  width:75px;
  margin-right:50px;
  font-size:18px;
  color:#666;
  line-height:1.6em;
  font-family: PingFangSC-Regular;
}
.en .banner6-title{
  width:120px;
  margin-right:5px;
  font-size:18px;
  color:#666;
  font-family: PingFangSC-Regular;
}
.banner6-font{
  font-family: PingFangSC-Regular;
  width:305px;
  font-size:18px;
  color:#333;
}
.banner-btn-box{
  display:inline-block;
  margin-top:40px;
  height:30px;
}
.index-banner-box{
  height:800px;
  margin-bottom:40px;
}
.index-banner-box{
  height:850px;
}