@media screen and (max-width: 1200px) {
    .second-font-box {
        width: 430px;
    }
    .second-box {
        height: 600px;
        overflow: hidden;
    }
    .second-title {
        font-size: 30px;
    }
    .second-font {
        font-size: 20px;
    }
    .second-img1 {
        height: 600px;
    }
    .second-img2 {
        height: 500px;
    }
    .second-imgc {
        height: 500px;
        right: -200px;
    }
    .second-img-d {
        height: 440px;
    }
    .en .bd-box {
        width: 430px;
    }
    .banner3-pic {
        margin-right: 1px;
    }
}

@media screen and (max-width: 1100px) {
    .second-font-box {
        width: 430px;
    }
    .second-box {
        height: 600px;
        overflow: hidden;
    }
    .second-title {
        font-size: 30px;
    }
    .second-font {
        font-size: 20px;
    }
    .second-img1 {
        height: 600px;
    }
    .second-img2 {
        height: 450px;
    }
    .second-imgc {
        height: 500px;
        right: -200px;
    }
    .second-img-d {
        height: 440px;
    }
    .second-img-f {
        height: 490px;
    }
    .second-img-g {
        height: 490px;
    }
}

@media screen and (max-width: 1000px) {
    .second-font-box {
        width: 310px;
        margin-top: 80px;
    }
    .second-box {
        height: 450px;
        overflow: hidden;
    }
    .second-title {
        font-size: 26px;
    }
    .second-font {
        font-size: 16px;
    }
    .second-img1 {
        height: 450px;
    }
    .second-img2 {
        height: 360px;
    }
    .second-imgc {
        height: 360px;
        right: -200px;
    }
    .second-img-d {
        height: 300px;
    }
    .second-img-f {
        height: 360px;
    }
    .second-img-g {
        height: 380px;
    }
    .en .second-title {
        font-size: 25px;
    }
    .en .second-font {
        font-size: 18px;
    }
}

@media screen and (max-width: 700px) {
    .second-font-box {
        width: 480px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .second-box {
        height: 650px;
        overflow: hidden;
    }
    .second-title {
        font-size: 26px;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 20px;
    }
    .second-img1 {
        height: 360px;
        float: left;
        margin-left: 120px;
        margin-top: 20px;
    }
    .second-img2 {
        height: 360px;
        margin-left: 70px;
        margin-top: 20px;
    }
    .second-imgc {
        height: 380px;
        right: -106px;
    }
    .second-img-d {
        height: 320px;
        margin-left: 80px;
        margin-top: 30px;
    }
    .en .second-img-d {
        height: 280px;
        margin-top: 15px;
        margin-left: 80px;
    }
    .second-img-e {
        margin-left: 80px;
    }
    .second-img-f {
        height: 400px;
        left: 38px;
    }
    .second-font {
        font-size: 18px;
        text-align: center;
        padding: 0 15px;
        box-sizing: border-box;
    }
    .second-img-g {
        height: 370px;
        right: 37px;
    }
    .water-box {
        height: 670px;
    }
    .second-nav .m-box {
        width: auto !important;
        margin: 0 12px;
    }
    .second-nav-font {
        margin-left: 0px;
        font-size: 18px;
    }
    .second-buy-btn {
        width: auto;
        margin-right: 0px;
        margin-top: 13px;
        padding: 0 18px;
        height: 30px;
        line-height: 28px;
        font-size: 14px;
    }
    .g-box {
        height: 720px;
    }
    .en .bd-box {
        width: 400px;
    }
    .en .right {
        text-align: center;
    }
}

@media screen and (max-width: 500px) {
    .en .bd-box {
        width: 340px;
    }
    .second-font-box {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .second-img1 {
        float: left;
        margin-left: 50px;
    }
    .second-box {
        height: 600px;
        overflow: hidden;
    }
    .second-title {
        font-size: 24px;
        margin-bottom: 10px;
        text-align: center;
    }
    .second-img2 {
        height: 340px;
        margin-left: 20px;
        margin-top: 20px;
    }
    .second-imgc {
        height: 350px;
        right: -120px;
    }
    .f-box {
        height: 620px;
    }
    .g-box {
        height: 750px;
    }
    .second-img-g {
        height: 300px;
    }
    .water-box {
        height: 540px;
    }
    .second-img-d {
        height: 340px;
        margin-left: 25px;
        margin-top: 25px;
    }
    .en .second-img-d {
        height: 300px;
        margin-top: 15px;
        margin-left: 40px;
    }
    .second-img-e {
        margin-left: 40px;
    }
    .second-img-f {
        height: 400px;
        left: 0;
    }
    .second-font {
        font-size: 16px;
        text-align: center;
        padding: 0;
    }
    .water-box {
        height: 610px;
    }
    .en .second-title {
        font-size: 22px;
    }
    .en .second-font {
        font-size: 14px;
    }
    .razor-box-6 {
        height: 650px !important;
        background: #fff;
    }
}

@media screen and (max-width: 330px) {
    .en .bd-box {
        width: 300px;
    }
    .second-font-box {
        width: 300px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .second-img1 {
        float: left;
        margin-left: 60px;
        height: 300px;
    }
    .second-box {
        height: 650px;
        overflow: hidden;
    }
    .second-title {
        font-size: 24px;
        margin-bottom: 10px;
        text-align: center;
    }
    .second-img2 {
        height: 300px;
        margin-left: 15px;
        margin-top: 20px;
    }
    .second-imgc {
        height: 300px;
        right: -100px;
    }
    .water-box {
        height: 540px;
    }
    .second-img-d {
        height: 300px;
        margin-left: 25px;
        margin-top: 25px;
    }
    .second-img-e {
        margin-left: 40px;
    }
    .second-img-f {
        height: 350px;
        margin-top: 20px;
    }
    .second-font {
        font-size: 14px;
        text-align: center;
    }
    .second-img-g {
        left: 35px;
        height: 280px;
    }
}

