@media screen and (max-width: 1200px) {
  .second-font-box{
    width:430px;
  }
  .second-box{
    height:600px;
    overflow:hidden;
  }
  .second-title{
    font-size:38px;
  }
  .second-img1{
    height:600px;
  }
  .second-img2{
    height:500px;
  }
  .second-imgc{
    height:500px;
    right:-200px;
  }
  .second-img-d{
    height:440px;
  }
}
@media screen and (max-width: 1100px) {
  .second-font-box{
    width:430px;
  }
  .second-box{
    height:600px;
    overflow:hidden;
  }
  .second-title{
    font-size:38px;
  }
  .second-img1{
    height:600px;
  }
  .second-img2{
    height:450px;
  }
  .second-imgc{
    height:500px;
    right:-200px;
  }
  .second-img-d{
    height:440px;
  }
  .second-img-f{
    height:490px;
  }
  .second-img-g{
    height:490px;
  }
}
@media screen and (max-width: 1000px) {
  .second-font-box{
    width:310px;
    margin-top:80px;
  }
  .second-box{
    height:450px;
    overflow:hidden;
  }
  .second-title{
    font-size:28px;
  }
  .second-img1{
    height:450px;
  }
  .second-img2{
    height:400px;
  }
  .second-imgc{
    height:360px;
    right:-200px;
  }
  .second-img-d{
    height:300px;
  }
  .second-img-f{
    height:360px;
  }
  .second-img-g{
    height:380px;
  }
}
@media screen and (max-width: 700px) {
  .m-box{
    width:400px;
  }
  .second-font-box{
    width:400px;
    margin-top:30px;
    margin-bottom:20px;
  }
  .second-box{
    height:650px;
    overflow:hidden;
  }
  .second-title{
    font-size:36px;
    margin-bottom:20px;
    text-align: center;
    margin-top:20px;
  }
  .second-img1{
    height:400px;
    float:left;
    margin-left:70px;
    margin-top:20px;
  }
  .second-img2{
    height:360px;
    margin-left:35px;
    margin-top:20px;
  }
  .second-imgc{
    height:380px;
    right:-106px;
  }
  .second-img-d{
    height:320px;
    margin-left:60px;
    margin-top:30px;
  }
  .second-img-e{
    margin-left:40px;
  }
  .second-img-f{
    height:400px;
    left:38px;
  }
  .second-font{
    font-size:18px;
    text-align: center;
    padding:0 15px;
    box-sizing: border-box;
  }
  .second-img-g{
    height:370px;
    right:37px;
  }
  .water-box{
    height:670px;
  }
  .second-nav-font{
    margin-left:10px;
  }
  .second-buy-btn{
    margin-right:10px;
  }
  .g-box{
    height:720px;
  }
}
@media screen and (max-width: 400px) {
  .m-box{
    width:340px;
  }
  .second-font-box{
    width:340px;
    margin-top:30px;
    margin-bottom:20px;
  }
  .second-img1{
    float:left;
    margin-left:50px;
    height:400px;
  }
  .second-box{
    height:600px;
    overflow:hidden;
  }
  .second-title{
    font-size:24px;
    margin-bottom:10px;
    text-align: center;
  }
  .second-img2{
    height:340px;
    margin-left:20px;
    margin-top:20px;
  }
  .second-imgc{
    height:350px;
    right:-120px;
  }
  .f-box{
    height:620px;
  }
  .g-box{
    height:600px;
  }
  .second-img-g{
    height:300px;
  }
  .water-box{
    height:540px;
  }
  .second-img-d{
    height:340px;
    margin-left:25px;
    margin-top:25px;
  }
  .second-img-e{
    margin-left:40px;
  }
  .second-img-f{
    height:400px;
    left:0;
  }
  .second-font{
    font-size:16px;
    text-align: center;
  }
  .water-box{
    height:610px;
  }
}
@media screen and (max-width: 330px) {
  .m-box{
    width:300px;
  }
  .second-font-box{
    width:300px;
    margin-top:30px;
    margin-bottom:20px;
  }
  .second-img1{
    float:left;
    margin-left:60px;
    height:300px;
  }
  .second-box{
    height:550px;
    overflow:hidden;
  }
  .second-title{
    font-size:24px;
    margin-bottom:10px;
    text-align: center;
  }
  .second-img2{
    height:300px;
    margin-left:15px;
    margin-top:20px;
  }
  .second-imgc{
    height:300px;
    right:-100px;
  }
  .water-box{
    height:540px;
  }
  .second-img-d{
    height:300px;
    margin-left:25px;
    margin-top:25px;
  }
  .second-img-e{
    margin-left:0;
  }
  .second-img-f{
    height:350px;
    margin-top:20px;
  }
  .second-font{
    font-size:14px;
    text-align: center;
  }
  .second-img-g{
    left:35px;
    height:280px;
  }
}