.support-div {
    margin-top: 100px;
}

.supprot-title {
    margin-top: 10px;
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
}

.supprot-menu-title {
    font-size: 14px;
    line-height: 30px;
}

.supprot-content {
    font-size: 14px;
    line-height: 20px;
}

.supprot-content-step {
    font-size: 14px;
    line-height: 30px;
}

.supprot-image {
    margin: 10px 0;
    display: block;
    width: 100%;
    max-width: 300px;
}

.supprot-link {
    font-size: 14px;
    line-height: 20px;
    color: #1F01EE;
    text-decoration: dashed;
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 900px) {
    .supprot-image {
        margin: 10px 0;
        display: block;
        width: 100%;
        max-width: 300px;
    }
}

@media screen and (max-width: 700px) {
    .supprot-image {
        margin: 10px 0;
        display: block;
        width: 100%;
        max-width: 300px;
    }
}

@media screen and (max-width: 500px) {
    .supprot-image {
        margin: 10px 0;
        display: block;
        width: 100%;
        max-width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .supprot-image {
        margin: 10px 0;
        display: block;
        width: 100%;
        max-width: 300px;
    }
}

@media screen and (max-width: 340px) {
    .supprot-image {
        margin: 10px 0;
        display: block;
        width: 100%;
        max-width: 300px;
    }
}