<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link href="/democss/css/bithd.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/democss/css/index.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/democss/css/compare_media.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/democss/css/index_media.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/democss/css/second_media.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/democss/razor.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/democss/css/razor_media.css" rel="stylesheet" type="text/css" media="all"/>