<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link href="/css/bithd.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/css/index.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/css/compare_media.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/css/index_media.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/css/second_media.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/css/razor.css" rel="stylesheet" type="text/css" media="all"/>
<link href="/css/razor_media.css" rel="stylesheet" type="text/css" media="all"/>