<nav class="{{ include.isDark }}" style="display: block">
  <div class="mobile-nav pc-hidden">
    <div class="header-content">
      <div class="mobile-header-logo mobile-bithd">
        <a href="/index.html"><img class="logo" src="{{ include.logo }}"></a>
      </div>
      <div class="mobile-header-menu">
        <img id="menu" src="{{ include.menu }}">
      </div>
    </div>
  </div>
  <div id="menu-list" class="pc-nav mobile-hidden">
    <div class="header-content">
      <div class="pc-header-logo mobile-hidden">
        <a href="/index.html"><img class="logo" src="{{ include.logo }}"></a>
      </div>
      <div class="pc-header-menu">
        <ul>
          <li class="dropdown-div">
            <div>
              <p class="nav_btn1 {{ include.isDarkText }}-txt"></p>
              <img class="arrow-right" src="../image/icon_arrow_right.png" />
            </div>
            <div class="dropdown">
              <a class="nav_btn1-2" href="/BITHD-Razor-Pro.html"></a>
              <a class="nav_btn1-1" href="/BITHD-Razor.html"></a>
            </div>
          </li>
          <li class="dropdown-div">
            <div>
              <p class="nav_btn2 {{ include.isDarkText }}-txt"></p>
              <img class="arrow-right" src="../image/icon_arrow_right.png" />
            </div>
            <div class="dropdown">
              <a class="nav_btn2-2" href="/BITHD-watch-2.html"></a>
              <a class="nav_btn2-1" href="/BITHD-watch-1.html"></a>
            </div>
          </li>
          <li class="dropdown-div">
            <div>
              <p class="nav_btn3 {{ include.isDarkText }}-txt"></p>
              <img class="arrow-right" src="../image/icon_arrow_right.png" />
            </div>
            <div class="dropdown">
              <a class="nav_btn3-1" href="/Frozen-Armor.html"></a>
              <a class="nav_btn3-2" href="/Frozen-Armor2.html"></a>
            </div>
          </li>
          <li>
            <a href="http://docs.bithd.com/" class="menu_docs {{ include.isDarkText }}-txt"></a>
          </li>
        </ul>
      </div>
      <div class="mobile-menu">
        <ul>
          <li class="dropdown-mobile-div" id="razor-dropdown">
            <div onclick="isShowDropdown('razor')">
              <p class="nav_btn1 {{ include.isDarkText }}-txt"></p>
              <img class="arrow-right" src="../image/icon_arrow_right.png" />
            </div>
            <div class="dropdown-mobile">
              <a class="nav_btn1-2" href="/BITHD-Razor-Pro.html"></a>
              <a class="nav_btn1-1" href="/BITHD-Razor.html"></a>
            </div>
          </li>
          <li class="dropdown-mobile-div" id="bithd-dropdown">
            <div onclick="isShowDropdown('bithd')">
              <p class="nav_btn2 {{ include.isDarkText }}-txt"></p>
              <img class="arrow-right" src="../image/icon_arrow_right.png" />
            </div>
            <div class="dropdown-mobile">
              <a class="nav_btn2-2" href="/BITHD-watch-2.html"></a>
              <a class="nav_btn2-1" href="/BITHD-watch-1.html"></a>
            </div>
          </li>
          <li class="dropdown-mobile-div" id="armor-dropdown">
            <div onclick="isShowDropdown('armor')">
              <p class="nav_btn3 {{ include.isDarkText }}-txt"></p>
              <img class="arrow-right" src="../image/icon_arrow_right.png" />
            </div>
            <div class="dropdown-mobile">
              <a class="nav_btn3-1" href="/Frozen-Armor.html"></a>
              <a class="nav_btn3-2" href="/Frozen-Armor2.html"></a>
            </div>
          </li>
          <li>
            <a href="http://docs.bithd.com/" class="menu_docs {{ include.isDarkText }}-txt"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>