<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>bithd.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <script src="/js/flexible.min.js"></script>
    {% include css.html %}
</head>

<body>
    <nav style="display: block">
        <div class="mobile-nav pc-hidden">
            <div class="m-box">
                <div class="mobile-header-logo mobile-bithd">
                    <a href="/index.html"><img class="logo" src="../resource/bithd.png"></a>
                </div>
                <div class="mobile-header-menu">
                    <img id="menu" src="../resource/menu.png">
                </div>
            </div>
        </div>
        <div id="menu-list" class="pc-nav mobile-hidden">
            <div class="m-box">
                <div class="pc-header-logo mobile-hidden">
                    <a href="/index.html"><img class="logo" src="../resource/bithd.png"></a>
                </div>
                <div class="pc-header-menu">
                    <ul>
                        <li>
                            <a class="nav_btn1" href="/BITHD-Razor.html"></a>
                        </li>
                        <li>
                            <a class="nav_btn2" href="/BITHD-watch-2.html"></a>
                        </li>
                        <li>
                            <a class="nav_btn4" href="/BITHD-watch-1.html"></a>
                        </li>
                        <li>
                            <a class="nav_btn3" href="/Frozen-Armor.html"></a>
                        </li>
                        <li>
                            <a id="nav_compare" href="/BITHD-compare.html"></a>
                        </li>
                        <li>
                            <a href="../reports/reports.html" class="menu_report"></a>
                            <!--<ul class="mobile-ul" style="display: none">-->
                            <!--<li><a href="http://www.jinse.com/bitcoin/123580.html" target="_blank" id="jinse_mobile"></a></li>-->
                            <!--<li><a href="http://www.aicoin.net.cn/amp/services/news-share?id=3762&lang=zh&from=timeline" target="_blank" id="alcoin_mobile"></a></li>-->
                            <!--<li><a href="https://mp.weixin.qq.com/s/PHBJaW8kUW-duMeKb7Hg2g" target="_blank" id="chain_mobile"></a></li>-->
                            <!--</ul>-->
                        </li>
                        <li>
                            <a href="http://docs.bithd.com/" class="menu_docs"></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>

    <footer>
        <p class="bithd_help"></p>
    </footer>
    <link href="/css/second_media.css" rel="stylesheet" type="text/css" media="all" /> {% include js.html %}
    <script>
        $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname ==
                    this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top - 60
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>
</body>

</html>