<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>bithd.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <script src="/js/flexible.min.js"></script>
    {% include css.html %}
</head>

<body>
    {% include header.html menu="../resource/menu_dark.svg" isDark="dark" logo="../resource/icon.svg" %}

    <div class="rol footer">
        <p class="bithd_help"></p>
    </div>
    <link href="/css/second_media.css" rel="stylesheet" type="text/css" media="all" /> {% include js.html %}
    <script>
        $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname ==
                    this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top - 60
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>
</body>

</html>