<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>bithd.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon" />
  <script src="/js/flexible.min.js"></script>
  <style>
    body {
      background: #fff !important;
    }
  </style>
  {% include css.html %}
</head>

<body>
  <nav style="display: block">
    <div class="mobile-nav pc-hidden">
      <div class="m-box">
        <div class="mobile-header-logo mobile-bithd">
          <a href="/index.html"><img class="logo" src="../resource/bithd.png" /></a>
        </div>
        <div class="mobile-header-menu">
          <img id="menu" src="../resource/menu.png" />
        </div>
      </div>
    </div>
    <div id="menu-list" class="pc-nav mobile-hidden">
      <div class="m-box">
        <div class="pc-header-logo mobile-hidden">
          <a href="/index.html"><img class="logo" src="../resource/bithd.png" /></a>
        </div>
        <div class="pc-header-menu">
          <ul>
            <li>
              <a href="../reports/reports.html" class="menu_report"></a>
              <!--<ul class="mobile-ul" style="display: none">-->
              <!--<li><a href="http://www.jinse.com/bitcoin/123580.html" target="_blank" id="jinse_mobile"></a></li>-->
              <!--<li><a href="http://www.aicoin.net.cn/amp/services/news-share?id=3762&lang=zh&from=timeline" target="_blank" id="alcoin_mobile"></a></li>-->
              <!--<li><a href="https://mp.weixin.qq.com/s/PHBJaW8kUW-duMeKb7Hg2g" target="_blank" id="chain_mobile"></a></li>-->
              <!--</ul>-->
            </li>
            <li>
              <a href="http://docs.bithd.com/" class="menu_docs"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="body-box" onclick="containMenuOperation()">
    <div class="nav-box">
      <div class="nav-in-box">
        <a href="/BITHD-Razor.html" class="nav-btn">
          <img src="../image/icon_razor@3x.png" class="nav-img" alt="" />
          <div class="nav_btn1"></div>
        </a>
        <a href="/BITHD-watch-2.html" class="nav-btn">
          <img src="../image/icon_bithd2@2x.png" class="nav-img" alt="" />
          <div class="nav_btn2"></div>
        </a>
        <a href="/Frozen-Armor.html" class="nav-btn">
          <img src="../image/armor_icon.png" class="nav-img" alt="" />
          <div class="nav_btn3"></div>
          <!--<div id="index_news" class="nav-btn-font">新款</div>-->
        </a>
        <a href="/BITHD-watch-1.html" class="nav-btn">
          <img src="../image/icon_bithd1@2x.png" class="nav-img" alt="" />
          <div class="nav_btn4"></div>
        </a>
        <a href="/BITHD-compare.html" class="nav-btn">
          <img src="../image/icon_bithd@2x.png" class="nav-img bj" alt="" />
          <div id="nav_compare"></div>
        </a>
      </div>
    </div>
    <div class="rol razor-box-1 index-banner-box">
      <div class="m-box">
        <div class="box-1-font">
          <div id="index_banner_title" class="box-1-tltle"></div>
          <div class="banner-btn-box">
            <a id="index_banner_btn1" href="/BITHD-Razor.html" class="lt banner-btn">进一步了解 ></a
              >
              <a
                href="https://weidian.com/item.html?itemID=2713821031"
                id="index_banner_btn2"
                class="lt banner-btn buy-razor cn-show index_banner_btn2"
                target="_blank"
                >购买 ></a
              >
              <div
                id="index_banner_btn3"
                class="lt banner-btn buy-razor index_banner_btn2 open-buy buy-razor"
                target="_blank"
              >
                购买 >
              </div>
              <div
                class="lt banner-btn armor-buy en-show index_banner_btn2 open-buy"
              ></div>
            </div>
          </div>

          <img src="../image/banner_pic@2x.png" class="banner-pic" alt="" />
        </div>
      </div>
      <div class="index-intro-box">
        <div class="m-box">
          <div class="lt intro-btn-box">
            <div id="intro_title_1" class="intro-title"></div>
            <div id="index_watch_2" class="intro-font">
              经过由内而外的重新设计和打造，全新 BITHD Watch
              2，给予数字资产更安全的守护。
            </div>
            <a href="/BITHD-watch-2.html" class="intro-btn more">
              进一步了解 >
            </a>
            <img src="../image/home_pic_b@2x.png" alt="" class="intro-img" />
          </div>
          <div class="lt intro-btn-box intro-btn-index">
            <div id="intro_title_2" class="intro-title"></div>
            <div id="index_watch_1" class="intro-font">
              经过由内而外的重新设计和打造，全新 BITHD Watch 2，给予数字资产更安全的守护。
            </div>
            <a href="/BITHD-Razor.html" class="intro-btn more">
              进一步了解 >
            </a>
            <img src="../image/icon_pic_razor@3x.png" alt="" class="intro-img razro-img" />
          </div>
          <div class="lt intro-btn-box">
            <div id="index_item1_title" class="intro-title"></div>
            <div id="index_item1_font" class="intro-font"></div>
            <a href="/BITHD-watch-1.html" class="intro-btn more">
              进一步了解 >
            </a>
            <img src="../image/index-item1.png" alt="" class="intro-img" />
          </div>
          <div class="lt intro-btn-box intro-btn-index">
            <div id="index_item2_title" class="intro-title"></div>
            <div id="index_item2_font" class="intro-font"></div>
            <a href="/Frozen-Armor.html" class="intro-btn more">
              进一步了解 >
            </a>
            <img src="../image/index-item2.png" alt="" class="intro-img razro-img" />
          </div>
        </div>
      </div>
      <div class="business-div">
        <p class="title">多重签名合作伙伴</p>
        <div class="business-content">
          <a href="https://www.8btc.com/">
            <img class="btc8" />
          </a>
          <a href="https://www.poolin.com/">
            <img class="poolin" />
          </a>
          <a href="https://tron.network/">
            <img class="tron" />
          </a>
          <a href="https://www.chainnode.com/">
            <img class="chainnode" />
          </a>
          <a href="https://www.whaleex.com/">
            <img class="whaleex" />
          </a>
          <a href="https://www.coinbull.one/">
            <img class="coinbull" />
          </a>
          <a href="javascript:void(0)">
            <img class="randomnumber" />
          </a>
          <a href="https://dex.top/home">
            <img class="dex" />
          </a>
          <a href="https://newdex.io/">
            <img class="newdex" />
          </a>
          <a href="https://imeos.one">
            <img class="imeos" />
          </a>
        </div>
      </div>

    <footer>
      <p class="thanks"></p>
      <p><a href="https://github.com/bithd" target="_blank" class="source"></a></p>
    </footer>

      <div class="alert-buy-box">
        <div class="buy-box">
          <div id="buy_title" class="buy-title"></div>
          <div class="buy-btn-box">
            <a href="#" id="buy-amazon" class="buy-btn" target="_blank">
              <span id="buy_amazon_font"></span>
              <span class="gt">></span>
            </a>
            <a href="#" id="buy-ebay" class="buy-btn" target="_blank">
              <span id="buy_ebay_font"></span>
              <span class="gt">></span>
            </a>
          </div>
          <div id="buy_close_btn" class="close-btn"></div>
        </div>
      </div>
    </div>

    {% include js.html %}
    <link href="/css/index_media.css" rel="stylesheet" type="text/css" media="all" />

    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (
            location.pathname.replace(/^\//, '') ==
            this.pathname.replace(/^\//, '') &&
            location.hostname == this.hostname
          ) {
            var target = $(this.hash)
            target = target.length ?
              target :
              $('[name=' + this.hash.slice(1) + ']')
            if (target.length) {
              $('html,body').animate({
                  scrollTop: target.offset().top - 60
                },
                1000
              )
              return false
            }
          }
        })
      })
    </script>
    <script>
      $('#menu').click(function() {
        menuListOperation()
      })

      $('.menu_report').click(function() {
        var width = $(window).width()
        if (width < 768) {
          var display = $('.mobile-ul').css('display')
          if (display == 'none') {
            $('.mobile-ul').css('display', 'block')
          } else {
            $('.mobile-ul').css('display', 'none')
          }
        } else {
          var display = $('.reports').css('display')
          if (display == 'none') {
            $('.reports').css('display', 'block')
          } else {
            $('.reports').css('display', 'none')
          }
        }
      })

      $(document).ready(function() {
        adapterSize()
      })

      $(window).resize(function() {
        adapterSize()
      })

      function containMenuOperation() {
        if ($('#menu-list').hasClass('mobile-hidden') == false) {
          $('#menu-list').addClass('mobile-hidden')
        }
        var display = $('.reports').css('display')
        if (display == 'block') {
          $('.reports').css('display', 'none')
        }
      }

      $('.play-video').click(function() {
        var width = $(window).width()
        if (width < 768) {
          window.location.href =
            'https://v.youku.com/v_show/id_XMzQ2ODEwMTUwNA==.html?spm=a2hzp.8244740.0.0'
        } else {
          $('.float-back').css('display', 'block')
          $('.video-back').css('display', 'block')
          $('.video').append(
            "<iframe height=498 width=510 src='https://player.youku.com/embed/XMzQ2ODEwMTUwNA==' frameborder=0 'allowfullscreen'></iframe>"
          )
        }
      })

      $('.video-btn').click(function() {
        removeVideo()
      })

      function removeVideo() {
        $('.float-back').css('display', 'none')
        $('.video-back').css('display', 'none')
        $('.video').empty()
      }

      function menuListOperation() {
        if ($('#menu-list').hasClass('mobile-hidden') == true) {
          $('#menu-list').removeClass('mobile-hidden')
        } else {
          $('#menu-list').addClass('mobile-hidden')
        }
      }

      function adapterSize() {
        var width = $(window).width()
        if (width < 768) {
          removeVideo()
          $('.reports').css('display', 'none')
          $('#introduction-bg').attr('src', '../resource/banner_mobile.jpg')
          $('#security-bg').attr('src', '../resource/safety_mobile.jpg')
          $('#simple-bg').attr('src', '../resource/easy_mobile.jpg')
          $('#management-bg').attr('src', '../resource/management_mobile.jpg')
          $('#convenience-bg').attr('src', '../resource/carousel_mobile.jpg')
          $('#wear-bg').attr('src', '../resource/wear_mobile.jpg')
          $('#float-image').attr('src', '../resource/watch_mobile.png')
          if (new String($.i18n.browserLang()).indexOf('zh') > -1) {
            $('#component-bg').attr('src', '../resource/industry_mobile_cn.jpg')
          } else if (
            new String($.i18n.browserLang()).toLowerCase().indexOf('tw') > -1 ||
            new String($.i18n.browserLang()).toLowerCase().indexOf('hk') > -1
          ) {
            $('#component-bg').attr(
              'src',
              '../resource/industry_mobile_rtw.jpg'
            )
          } else {
            $('#component-bg').attr('src', '../resource/industry_mobile_en.jpg')
          }
        } else {
          $('.mobile-ul').css('display', 'none')
          $('#introduction-bg').attr('src', '../resource/banner_pc.jpg')
          $('#security-bg').attr('src', '../resource/safety_pc.jpg')
          $('#simple-bg').attr('src', '../resource/easy_pc.jpg')
          $('#management-bg').attr('src', '../resource/management_pc.jpg')
          $('#convenience-bg').attr('src', '../resource/carousel_pc.jpg')
          $('#wear-bg').attr('src', '../resource/wear_pc.jpg')
          $('#float-image').attr('src', '../resource/watch_pc.png')
          if ($.i18n.browserLang() == 'zh-CN') {
            $('#component-bg').attr('src', '../resource/industry_pc_cn.jpg')
          } else if (
            $.i18n.browserLang() == 'zh-TW' ||
            $.i18n.browserLang() == 'zh-HK'
          ) {
            $('#component-bg').attr('src', '../resource/industry_pc_rtw.jpg')
          } else {
            $('.convenience .summary').css('width', '3.18rem')
            $('.management .summary').css('width', '3.18rem')
            $('#component-bg').attr('src', '../resource/industry_pc_en.jpg')
          }
        }
      }

      $(function() {
        var languageCode

        if (new String($.i18n.browserLang()).indexOf('zh') > -1) {
          languageCode = 'zh'
          $('body').addClass('zh')
        } else if (
          new String($.i18n.browserLang()).toLowerCase().indexOf('tw') > -1 ||
          new String($.i18n.browserLang()).toLowerCase().indexOf('hk') > -1
        ) {
          languageCode = 'zh-rTW'
          $('body').addClass('tw')
        } else {
          languageCode = 'en'
          $('body').addClass('en')
        }
        jQuery.i18n.properties({
          name: 'strings',
          path: '/i18n/',
          mode: 'map',
          async: true,
          language: languageCode,
          callback: function() {
            $('#razor_banner_title').html($.i18n.prop('razor_banner_title'))
            $('#razor_banner_font').html($.i18n.prop('razor_banner_font'))
            $('.welcome-title').html($.i18n.prop('welcome'))

            $('.menu_overview').html($.i18n.prop('menu_features'))
            $('.menu_specifications').html($.i18n.prop('menu_specifications'))
            $('.menu_report').html($.i18n.prop('menu_report'))
            $('.menu_docs').html($.i18n.prop('menu_docs'))

            $('#jinse_mobile').html($.i18n.prop('menu_ul_jinse'))
            $('#jinse_pc').html($.i18n.prop('menu_ul_jinse'))
            $('#alcoin_mobile').html($.i18n.prop('menu_ul_alcoin'))
            $('#alcoin_pc').html($.i18n.prop('menu_ul_alcoin'))
            $('#chain_mobile').html($.i18n.prop('menu_ul_chain'))
            $('#chain_pc').html($.i18n.prop('menu_ul_chain'))

            $('.introduction .title').html($.i18n.prop('introduction_title'))
            $('.introduction .summary').html(
              $.i18n.prop('introduction_summary')
            )
            $('.introduction .content').html(
              $.i18n.prop('introduction_content')
            )
            $('.play-content').html($.i18n.prop('introduction_play'))

            $('.security .title').html($.i18n.prop('features_sec_title'))
            $('.security .summary').html($.i18n.prop('features_sec_summary'))

            $('.simple .title').html($.i18n.prop('features_sim_title'))
            $('.simple .summary').html($.i18n.prop('features_sim_summary'))

            $('.management .title').html($.i18n.prop('management_title'))
            $('.management .summary').html($.i18n.prop('management_summary'))

            $('.convenience .title').html($.i18n.prop('convenience_title'))
            $('.convenience .summary').html($.i18n.prop('convenience_summary'))

            $('.wear .title').html($.i18n.prop('wear_title'))
            $('.wear .summary').html($.i18n.prop('wear_summary'))

            $('.component .title').html($.i18n.prop('component_title'))
            $('.component .summary').html($.i18n.prop('component_summary'))
            $('.bithdtitleshop').html($.i18n.prop('bithdtitleshop'))
            $('.taobaoshop').html($.i18n.prop('taobaoshop'))
            $('.headline').html($.i18n.prop('parameter_headline'))
            $('.bithddocs').html($.i18n.prop('bithddocs'))

            $('.bithd_help').html($.i18n.prop('bithd_help'))

            $('.thanks').html($.i18n.prop('thanks'))

            $('.source').html($.i18n.prop('source'))

            $('.video-title').html($.i18n.prop('video_title'))

            $('.business-div .title').html($.i18n.prop('business_title'))

            $('#index_banner_title').html($.i18n.prop('index_banner_title'))
            $('#index_banner_font').html($.i18n.prop('index_banner_font'))
            $('#index_banner_btn1').html($.i18n.prop('index_banner_btn1'))
            if (languageCode == 'zh' || languageCode == 'tw') {
              $('#index_banner_btn3').css('display', 'none')
              $('#index_banner_btn2').html($.i18n.prop('index_banner_btn2'))

              $('.btc8').attr('src', '../image/8btc_cn.png')
              $('.poolin').attr('src', '../image/poolin_cn.png')
              $('.tron').attr('src', '../image/tron_cn.png')
              $('.chainnode').attr('src', '../image/chainnode_cn.png')
              $('.whaleex').attr('src', '../image/whaleex_cn.png')
              $('.coinbull').attr('src', '../image/coinbull_cn.png')
              $('.randomnumber').attr('src', '../image/randomnumber_cn.png')
              $('.dex').attr('src', '../image/dextop_cn.png')
              $('.newdex').attr('src', '../image/newdex_cn.png')
              $('.imeos').attr('src', '../image/imeos_cn.png')
            } else {
              $('#index_banner_btn2').css('display', 'none')
              $('#index_banner_btn3').html($.i18n.prop('index_banner_btn2'))
              $('#buy_ebay_font').html($.i18n.prop('buy_ebay_font'))
              $('#buy_amazon_font').html($.i18n.prop('buy_amazon_font'))

              $('.btc8').attr('src', '../image/8btc_en.png')
              $('.poolin').attr('src', '../image/poolin_en.png')
              $('.tron').attr('src', '../image/tron_en.png')
              $('.chainnode').attr('src', '../image/chainnode_en.png')
              $('.whaleex').attr('src', '../image/whaleex_en.png')
              $('.coinbull').attr('src', '../image/coinbull_en.png')
              $('.randomnumber').attr('src', '../image/randomnumber_en.png')
              $('.dex').attr('src', '../image/dextop_en.png')
              $('.newdex').attr('src', '../image/newdex_en.png')
              $('.imeos').attr('src', '../image/imeos_en.png')
            }

            $('#index_watch_1').html($.i18n.prop('index_watch_1'))
            $('#index_watch_2').html($.i18n.prop('index_watch_2'))
            $('.more').html($.i18n.prop('index_banner_btn1'))
            $('#nav_compare').html($.i18n.prop('nav_compare'))
            $('#index_news').html($.i18n.prop('index_news'))

            $('#buy_title').html($.i18n.prop('buy_title'))
            $('#buy_wd_font').html($.i18n.prop('buy_amazon_font'))
            $('#buy_tb_font').html($.i18n.prop('buy_indiegogo_font'))
            $('#buy_close_btn').html($.i18n.prop('buy_close_btn'))

            $('.nav_btn1').html($.i18n.prop('nav_btn1'))
            $('.nav_btn2').html($.i18n.prop('nav_btn2'))
            $('.nav_btn3').html($.i18n.prop('nav_btn3'))
            $('.nav_btn4').html($.i18n.prop('nav_btn4'))

            $('#index_item1_title').html($.i18n.prop('index_item1_title'))
            $('#index_item2_title').html($.i18n.prop('index_item2_title'))
            $('#index_item1_font').html($.i18n.prop('index_item1_font'))
            $('#index_item2_font').html($.i18n.prop('index_item2_font'))
            $('#intro_title_1').html($.i18n.prop('intro_title_1'))
            $('#intro_title_2').html($.i18n.prop('intro_title_2'))
          }
        })
      })
    </script>
</body>

</html>