<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>bithd.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <script src="/js/flexible.min.js"></script>
    {% include css.html %}
</head>

<body>

    <nav style="display: block">
        <div class="mobile-nav pc-hidden">
            <div class="mobile-header-logo logo-app">
                <img class="logo " src="../resource/bithd_app.png">
                <a class="site-name">BITHD</a>
            </div>
            <div class="mobile-header-menu">
                <img id="menu" src="../resource/menu.png">
            </div>
        </div>

        <div id="menu-list" class="pc-nav mobile-hidden">
            <div class="pc-header-logo mobile-hidden logo-app">
            <img class="logo bithd-app-log" src="../resource/bithd_app.png">
                <a class="site-name">BITHD</a>
            </div>
            <div class="pc-header-menu mobile-menu-app">
                <ul>
                    <li>
                       <a href="#a" class="en">EN</a><span>|</span><a href="#b" class="zh">中</a>
                    </li>

                </ul>
            </div>

        </div>
    </nav>

    <!--<div class="reports" style="display: none">-->
    <!--<ul>-->
    <!--<li><a href="http://www.jinse.com/bitcoin/123580.html" target="_blank" id="jinse_pc">金色财经</a></li>-->
    <!--<li><a href="http://www.aicoin.net.cn/amp/services/news-share?id=3762&lang=zh&from=timeline" target="_blank" id="alcoin_pc">Alcoin</a></li>-->
    <!--<li><a href="https://mp.weixin.qq.com/s/PHBJaW8kUW-duMeKb7Hg2g" target="_blank" id="chain_pc">白话区块链</a></li>-->
    <!--</ul>-->
    <!--</div>-->

    <div style="display: block" class="container">
        <div class="banner">
            <img id="banner-bg" class="bg-image" src="../resource/banner.jpg" alt="introduction">
            <div class="text-content">
                <p class="title-app"></p>
                <p class="content-app"></p>
                <div class="download-img">
                    <a href="https://itunes.apple.com/cn/app/bithd/id1366007847?mt=8" target="_blank">
                    <img class="img-ios" src="../resource/ios.png">
                    </a>

                </div>
            </div>

                <img id="float-image" class="float-image float-image-app" src="../resource/iphone.png" alt="watch">

        </div>

        <div class="features-1">
            <div class="bg-image">
                <img class="image" src="../resource/bithd_market.png" alt="security">
            </div>
            <div class="bg-content">
                <p class="title-features-1"></p>
                <p class="summary-features-1"></p>
            </div>
        </div>






    </div>








    <div class="float-back"></div>


    <footer>
        <!--<p ><a href="http://bithd.com/bithd" class="bithd_app">Wallet</a></p>-->
    </footer>

    {% include js.html %}
    <script>
        $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top - 60
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>
    <script>
        $("#menu").click(function() {
            menuListOperation();
        });

        $(".menu_report").click(function() {
            var width = $(window).width();
            if (width < 768) {
                var display = $(".mobile-ul").css("display");
                if (display == "none") {
                    $(".mobile-ul").css("display", "block");
                } else {
                    $(".mobile-ul").css("display", "none");
                }
            } else {
                var display = $(".reports").css("display");
                if (display == "none") {
                    $(".reports").css("display", "block");
                } else {
                    $(".reports").css("display", "none");
                }
            }
        });

        $(document).ready(function() {
            adapterSize();
        })

        $(window).resize(function() {
            adapterSize();
        })

        function containMenuOperation() {
            if ($("#menu-list").hasClass("mobile-hidden") == false) {
                $("#menu-list").addClass("mobile-hidden");
            }
            var display = $(".reports").css("display");
            if (display == "block") {
                $(".reports").css("display", "none");
            }
        }

        $(".play-video").click(function() {
            var width = $(window).width();
            if (width < 768) {
                window.location.href = "http://v.youku.com/v_show/id_XMzQ2ODEwMTUwNA==.html?spm=a2hzp.8244740.0.0";
            } else {
                $(".float-back").css("display", "block");
                $(".video-back").css("display", "block");
                $(".video").append("<iframe height=498 width=510 src='http://player.youku.com/embed/XMzQ2ODEwMTUwNA==' frameborder=0 'allowfullscreen'></iframe>");
            }
        });

        $(".video-btn").click(function() {
            removeVideo();
        });

        function removeVideo() {
            $(".float-back").css("display", "none");
            $(".video-back").css("display", "none");
            $(".video").empty();
        }

        function menuListOperation() {
            if ($("#menu-list").hasClass("mobile-hidden") == true) {
                $("#menu-list").removeClass("mobile-hidden");
            } else {
                $("#menu-list").addClass("mobile-hidden");
            }
        }

        function adapterSize() {
            var width = $(window).width();
            if (width < 768) {
                removeVideo();
                $(".reports").css("display", "none");
                $("#introduction-bg").attr('src', '../resource/banner_mobile.jpg');
                $("#security-bg").attr('src', '../resource/safety_mobile.jpg');
                $("#simple-bg").attr('src', '../resource/easy_mobile.jpg');
                $("#management-bg").attr('src', '../resource/management_mobile.jpg');
                $("#convenience-bg").attr('src', '../resource/carousel_mobile.jpg');
                $("#wear-bg").attr('src', '../resource/wear_mobile.jpg');
                $("#float-image").attr('src', '../resource/iphone.png');
                if ($.i18n.browserLang() == "zh-CN") {
                    $("#component-bg").attr('src', '../resource/industry_mobile_cn.jpg');
                } else if ($.i18n.browserLang() == "zh-TW" || $.i18n.browserLang() == "zh-HK") {
                    $("#component-bg").attr('src', '../resource/industry_mobile_rtw.jpg');
                } else {
                    $("#component-bg").attr('src', '../resource/industry_mobile_en.jpg');
                }
            } else {
                $(".mobile-ul").css("display", "none");
                $("#introduction-bg").attr('src', '../resource/banner_pc.jpg');
                $("#security-bg").attr('src', '../resource/safety_pc.jpg');
                $("#simple-bg").attr('src', '../resource/easy_pc.jpg');
                $("#management-bg").attr('src', '../resource/management_pc.jpg');
                $("#convenience-bg").attr('src', '../resource/carousel_pc.jpg');
                $("#wear-bg").attr('src', '../resource/wear_pc.jpg');
                $("#float-image").attr('src', '../resource/iphone.png');
                if ($.i18n.browserLang() == "zh-CN") {
                    $("#component-bg").attr('src', '../resource/industry_pc_cn.jpg');
                } else if ($.i18n.browserLang() == "zh-TW" || $.i18n.browserLang() == "zh-HK") {
                    $("#component-bg").attr('src', '../resource/industry_pc_rtw.jpg');
                } else {
                    $(".convenience .summary").css("width", "3.18rem");
                    $(".management .summary").css("width", "3.18rem");
                    $("#component-bg").attr('src', '../resource/industry_pc_en.jpg');
                }
            }
        }

        $(function() {
            function change(languageCode){
                jQuery.i18n.properties({
                    name: 'strings',
                    path: '/i18n/',
                    mode: 'map',
                    async: true,
                    language: languageCode,
                    callback: function() {
                        $(".welcome-title").html($.i18n.prop('welcome'));

                        $(".menu_overview").html($.i18n.prop('menu_features'));
                        $(".menu_specifications").html($.i18n.prop('menu_specifications'));
                        $(".menu_report").html($.i18n.prop('menu_report'));

                        $("#jinse_mobile").html($.i18n.prop('menu_ul_jinse'));
                        $("#jinse_pc").html($.i18n.prop('menu_ul_jinse'));
                        $("#alcoin_mobile").html($.i18n.prop('menu_ul_alcoin'));
                        $("#alcoin_pc").html($.i18n.prop('menu_ul_alcoin'));
                        $("#chain_mobile").html($.i18n.prop('menu_ul_chain'));
                        $("#chain_pc").html($.i18n.prop('menu_ul_chain'));

                        $(".introduction .title").html($.i18n.prop('introduction_title'));
                        $(".introduction .summary").html($.i18n.prop('introduction_summary'));
                        $(".introduction .content").html($.i18n.prop('introduction_content'));
                        $(".play-content").html($.i18n.prop('introduction_play'))

                        $(".security .title").html($.i18n.prop('features_sec_title'));
                        $(".security .summary").html($.i18n.prop('features_sec_summary'));

                        $(".simple .title").html($.i18n.prop('features_sim_title'));
                        $(".simple .summary").html($.i18n.prop('features_sim_summary'));

                        $(".management .title").html($.i18n.prop('management_title'));
                        $(".management .summary").html($.i18n.prop('management_summary'));

                        $(".convenience .title").html($.i18n.prop('convenience_title'));
                        $(".convenience .summary").html($.i18n.prop('convenience_summary'));

                        $(".wear .title").html($.i18n.prop('wear_title'));
                        $(".wear .summary").html($.i18n.prop('wear_summary'));


                        $(".banner .title-app").html($.i18n.prop('title-app'));
                        $(".banner .content-app").html($.i18n.prop('content-app'));

                        $(".component .title").html($.i18n.prop('component_title'));
                        $(".component .summary").html($.i18n.prop('component_summary'));

                        $(".title-features-1").html($.i18n.prop('title-features-1'));
                        $(".summary-features-1").html($.i18n.prop('summary-features-1'));

                        $(".headline").html($.i18n.prop('parameter_headline'));

                        $(".thanks").html($.i18n.prop('thanks'));

                        $(".video-title").html($.i18n.prop('video_title'));
                    }
                });
            }
            var languageCode;
            if ($.i18n.browserLang() == "zh-CN") {
                languageCode = "zh";
            } else if ($.i18n.browserLang() == "zh-TW" || $.i18n.browserLang() == "zh-HK") {
                languageCode = "zh-rTW";
            } else {
                languageCode = "en";
            }

            change(languageCode);

            $(".en").on("click",function(){
                change("en");
            })
            $(".zh").on("click",function(){
                change("zh");
            })


        });
    </script>
</body>

</html>