<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>bithd.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <script src="/js/flexible.min.js"></script>
    {% include css.html %}
</head>

<body>
    <nav style="display: block">
        <div class="mobile-nav pc-hidden">
            <div class="m-box">
                <div class="mobile-header-logo mobile-bithd">
                    <a href="/index.html"><img class="logo" src="../resource/bithd.png"></a>
                </div>
                <div class="mobile-header-menu">
                    <img id="menu" src="../resource/menu.png">
                </div>
            </div>
        </div>
        <div id="menu-list" class="pc-nav mobile-hidden">
            <div class="m-box">
                <div class="pc-header-logo mobile-hidden">
                    <a href="/index.html"><img class="logo" src="../resource/bithd.png"></a>
                </div>
                <div class="pc-header-menu">
                    <ul>
                        <li>
                            <a class="nav_btn1" href="/BITHD-Razor.html"></a>
                        </li>
                        <li>
                            <a class="nav_btn2" href="/BITHD-watch-2.html"></a>
                        </li>
                        <li>
                            <a class="nav_btn4" href="/BITHD-watch-1.html"></a>
                        </li>
                        <li>
                            <a class="nav_btn3" href="/Frozen-Armor.html"></a>
                        </li>
                        <li>
                            <a id="nav_compare" href="/BITHD-compare.html"></a>
                        </li>
                        <li>
                            <a href="../reports/reports.html" class="menu_report"></a>
                            <!--<ul class="mobile-ul" style="display: none">-->
                            <!--<li><a href="http://www.jinse.com/bitcoin/123580.html" target="_blank" rel="nofollow noopener noreferrer"  id="jinse_mobile"></a></li>-->
                            <!--<li><a href="http://www.aicoin.net.cn/amp/services/news-share?id=3762&lang=zh&from=timeline" target="_blank" rel="nofollow noopener noreferrer"  id="alcoin_mobile"></a></li>-->
                            <!--<li><a href="https://mp.weixin.qq.com/s/PHBJaW8kUW-duMeKb7Hg2g" target="_blank" rel="nofollow noopener noreferrer"  id="chain_mobile"></a></li>-->
                            <!--</ul>-->
                        </li>
                        <li>
                            <a href="http://docs.bithd.com/" class="menu_docs"></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
    <div class="second-nav">
        <div class="m-box">
            <span id="razor_title" class="lt second-nav-font"></span>
            <!-- <a href="https://weidian.com/item.html?itemID=2713821031" id="buy-btn" class="gt second-buy-btn buy-watch2" target="_blank" rel="nofollow noopener noreferrer" ></a> -->
            <a id="buy-btn" class="gt second-buy-btn open-buy buy-razor"></a>
            <div id="buy-btn-div" class="gt second-buy-btn open-buy buy-razor"></div>
        </div>
    </div>
    <div class="razor-content" onclick="containMenuOperation()">
        <div class="rol razor-box-1">
            <div class="m-box">
                <div class="box-1-font">
                    <div id="razor_banner_title" class="box-1-tltle"></div>
                    <div id="razor_banner_font" class="box-1-message"></div>
                </div>
                <img src="../image/banner_pic@2x.png" class="banner-pic" alt="">
            </div>
        </div>
        <div class="rol razor-box-2">
            <div class="m-box">
                <div class="banner2-font-box">
                    <div id="razor_banner1_title" class="banenr2-title"></div>
                    <div id="razor_banner1_font" class="banner2-font"></div>
                </div>
                <img src="../image/banner2_pic@2x.png" class="banner2-pic" alt="">
            </div>
        </div>
        <div class="rol razor-box-3">
            <div class="m-box">
                <div class="banner3-font-box">
                    <div id="razor_banner2_title" class="banner3-title"></div>
                    <div id="razor_banner2_font" class="banner3-font"></div>
                </div>
                <img src="../image/banner3_pic@2x.png" class="banner3-pic" alt="">
            </div>
        </div>
        <div class="rol razor-box-4">
            <div class="m-box">
                <img src="../image/banner4_pic@2x.png" class="banner4-pic" alt="">
                <div class="banner4-font-box">
                    <div id="razor_banner3_title" class="banner4-title"></div>
                    <div id="razor_banner3_font" class="banner4-font"></div>
                </div>
            </div>
        </div>
        <div class="rol razor-box-5">
            <div class="m-box">
                <div class="rol banner5-box">
                    <div class="lt banner5-item">
                        <img src="../image/icon_security1@2x.png" class="lt banner5-item-icon">
                        <div class="lt banner5-font-box">
                            <div id="razor_banner4_title1" class="rol banner5-title"></div>
                            <div id="razor_banner4_font1" class="rol banner5-font"></div>
                        </div>
                    </div>
                    <div class="lt banner5-item">
                        <img src="../image/icon_administration@2x.png" class="lt banner5-item-icon">
                        <div class="lt banner5-font-box">
                            <div id="razor_banner4_title2" class="rol banner5-title"></div>
                            <div id="razor_banner4_font2" class="rol banner5-font"></div>
                        </div>
                    </div>
                    <div class="lt banner5-item">
                        <img src="../image/icon_portable@2x.png" class="lt banner5-item-icon">
                        <div class="lt banner5-font-box">
                            <div id="razor_banner4_title3" class="rol banner5-title"></div>
                            <div id="razor_banner4_font3" class="rol banner5-font"></div>
                        </div>
                    </div>
                    <div class="lt banner5-item">
                        <img src="../image/icon_operation@2x.png" class="lt banner5-item-icon">
                        <div class="lt banner5-font-box">
                            <div id="razor_banner4_title4" class="rol banner5-title"></div>
                            <div id="razor_banner4_font4" class="rol banner5-font"></div>
                        </div>
                    </div>
                    <div class="lt banner5-item">
                        <img src="../image/icon_security@2x.png" class="lt banner5-item-icon">
                        <div class="lt banner5-font-box">
                            <div id="razor_banner4_title5" class="rol banner5-title"></div>
                            <div id="razor_banner4_font5" class="rol banner5-font"></div>
                        </div>
                    </div>
                    <div class="lt banner5-item">
                        <img src="../image/icon_upgrade@2x.png" class="lt banner5-item-icon">
                        <div class="lt banner5-font-box">
                            <div id="razor_banner4_title6" class="rol banner5-title"></div>
                            <div id="razor_banner4_font6" class="rol banner5-font"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rol razor-box-6">
            <div class="m-box">
                <img src="../image/line@2x.png" alt="" class="banner6-pic">
                <div class="banner6-font-box">
                    <div class="rol banner6-font-rol">
                        <div id="razor_banner5_title1" class="lt banner6-title"></div>
                        <div class="lt banner6-font">51mm*83mm*2.2mm</div>
                    </div>
                    <div class="rol banner6-font-rol">
                        <div id="razor_banner5_title2" class="lt banner6-title"></div>
                        <div class="lt banner6-font">OLED 128*64px</div>
                    </div>
                    <div class="rol banner6-font-rol">
                        <div id="razor_banner5_title3" class="lt banner6-title"></div>
                        <div class="lt banner6-font">18g</div>
                    </div>
                    <div class="rol banner6-font-rol">
                        <div id="razor_banner5_title4" class="lt banner6-title"></div>
                        <div id="razor_banner5_font4" class="lt banner6-font"></div>
                    </div>
                    <div class="rol banner6-font-rol">
                        <div id="razor_banner5_title5" class="lt banner6-title"></div>
                        <div id="razor_banner5_font5" class="lt banner6-font"></div>
                    </div>
                    <div class="rol banner6-font-rol">
                        <div id="razor_banner5_title6" class="lt banner6-title"></div>
                        <div class="lt banner6-font">USB Type Micro-B</div>
                    </div>
                    <div class="rol banner6-font-rol">
                        <div id="razor_banner5_title7" class="lt banner6-title"></div>
                        <div id="razor_banner5_font7" class="lt banner6-font"></div>
                    </div>
                    <div class="rol banner6-font-rol">
                        <div id="razor_banner5_title8" class="lt banner6-title"></div>
                        <div class="lt banner6-font">Android/iOS</div>
                    </div>
                    <div class="rol banner6-font-rol">
                        <div id="razor_banner5_title9" class="lt banner6-title"></div>
                        <div id="razor_banner5_font9" class="lt banner6-font"></div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p class="bithd_help"></p>
        </footer>
        <div class="alert-buy-box">
            <div class="buy-box">
                <div id="buy_title" class="buy-title"></div>
                <div class="buy-btn-box">
                    <a href="#" id="buy-wd" class="buy-btn" target="_blank" rel="nofollow noopener noreferrer">
                        <span id="buy_wd_font"></span>
                        <span class="gt">></span>
                    </a>
                    <a href="#" id="buy-amazon" class="buy-btn" target="_blank" rel="nofollow noopener noreferrer">
                        <span id="buy_amazon_font"></span>
                        <span class="gt">></span>
                    </a>
                    <a href="#" id="buy-ebay" class="buy-btn" target="_blank" rel="nofollow noopener noreferrer">
                        <span id="buy_ebay_font"></span>
                        <span class="gt">></span>
                    </a>
                    <a href="#" id="buy-tb" class="buy-btn" target="_blank" rel="nofollow noopener noreferrer">
                        <span id="buy_tb_font"></span>
                        <span class="gt">></span>
                    </a>
                </div>
                <div id="buy_close_btn" class="close-btn"></div>
            </div>
        </div>

        {% include js.html %}
        <link href="/css/razor_media.css" rel="stylesheet" type="text/css" media="all" />
        <script>
            $(function() {
                $('a[href*=#]:not([href=#])').click(function() {
                    if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname ==
                        this.hostname) {
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                        if (target.length) {
                            $('html,body').animate({
                                scrollTop: target.offset().top - 60
                            }, 1000);
                            return false;
                        }
                    }
                });
            });
        </script>
        <script>
            $("#menu").click(function() {
                menuListOperation();
            });

            $(".menu_report").click(function() {
                var width = $(window).width();
                if (width < 768) {
                    var display = $(".mobile-ul").css("display");
                    if (display == "none") {
                        $(".mobile-ul").css("display", "block");
                    } else {
                        $(".mobile-ul").css("display", "none");
                    }
                } else {
                    var display = $(".reports").css("display");
                    if (display == "none") {
                        $(".reports").css("display", "block");
                    } else {
                        $(".reports").css("display", "none");
                    }
                }
            });

            $(document).ready(function() {
                adapterSize();
            })

            $(window).resize(function() {
                adapterSize();
            })

            function containMenuOperation() {
                if ($("#menu-list").hasClass("mobile-hidden") == false) {
                    $("#menu-list").addClass("mobile-hidden");
                }
                var display = $(".reports").css("display");
                if (display == "block") {
                    $(".reports").css("display", "none");
                }
            }

            $(".play-video").click(function() {
                var width = $(window).width();
                if (width < 768) {
                    window.location.href = "https://v.youku.com/v_show/id_XMzQ2ODEwMTUwNA==.html?spm=a2hzp.8244740.0.0";
                } else {
                    $(".float-back").css("display", "block");
                    $(".video-back").css("display", "block");
                    $(".video").append(
                        "<iframe height=498 width=510 src='https://player.youku.com/embed/XMzQ2ODEwMTUwNA==' frameborder=0 'allowfullscreen'></iframe>"
                    );
                }
            });

            $(".video-btn").click(function() {
                removeVideo();
            });

            function removeVideo() {
                $(".float-back").css("display", "none");
                $(".video-back").css("display", "none");
                $(".video").empty();
            }

            function menuListOperation() {
                if ($("#menu-list").hasClass("mobile-hidden") == true) {
                    $("#menu-list").removeClass("mobile-hidden");
                } else {
                    $("#menu-list").addClass("mobile-hidden");
                }
            }

            function adapterSize() {
                var width = $(window).width();
                if (width < 768) {
                    removeVideo();
                    $(".reports").css("display", "none");
                    $("#introduction-bg").attr('src', '../resource/banner_mobile.jpg');
                    $("#security-bg").attr('src', '../resource/safety_mobile.jpg');
                    $("#simple-bg").attr('src', '../resource/easy_mobile.jpg');
                    $("#management-bg").attr('src', '../resource/management_mobile.jpg');
                    $("#convenience-bg").attr('src', '../resource/carousel_mobile.jpg');
                    $("#wear-bg").attr('src', '../resource/wear_mobile.jpg');
                    $("#float-image").attr('src', '../resource/watch_mobile.png');
                    if (new String($.i18n.browserLang()).indexOf("zh") > -1) {
                        $("#component-bg").attr('src', '../resource/industry_mobile_cn.jpg');
                    } else if ((new String($.i18n.browserLang()).toLowerCase()).indexOf("tw") > -1 || (new String($.i18n
                            .browserLang()).toLowerCase()).indexOf("hk") > -1) {
                        $("#component-bg").attr('src', '../resource/industry_mobile_rtw.jpg');
                    } else {
                        $("#component-bg").attr('src', '../resource/industry_mobile_en.jpg');
                    }
                } else {
                    $(".mobile-ul").css("display", "none");
                    $("#introduction-bg").attr('src', '../resource/banner_pc.jpg');
                    $("#security-bg").attr('src', '../resource/safety_pc.jpg');
                    $("#simple-bg").attr('src', '../resource/easy_pc.jpg');
                    $("#management-bg").attr('src', '../resource/management_pc.jpg');
                    $("#convenience-bg").attr('src', '../resource/carousel_pc.jpg');
                    $("#wear-bg").attr('src', '../resource/wear_pc.jpg');
                    $("#float-image").attr('src', '../resource/watch_pc.png');
                    if ($.i18n.browserLang() == "zh-CN") {
                        $("#component-bg").attr('src', '../resource/industry_pc_cn.jpg');
                    } else if ($.i18n.browserLang() == "zh-TW" || $.i18n.browserLang() == "zh-HK") {
                        $("#component-bg").attr('src', '../resource/industry_pc_rtw.jpg');
                    } else {
                        $(".convenience .summary").css("width", "3.18rem");
                        $(".management .summary").css("width", "3.18rem");
                        $("#component-bg").attr('src', '../resource/industry_pc_en.jpg');
                    }
                }
            }

            $(function() {
                var languageCode;

                if (new String($.i18n.browserLang()).indexOf("zh") > -1) {
                    languageCode = "zh";
                    $('body').addClass('zh')
                } else if ((new String($.i18n.browserLang()).toLowerCase()).indexOf("tw") > -1 || (new String($.i18n
                        .browserLang()).toLowerCase()).indexOf("hk") > -1) {
                    languageCode = "zh-rTW";
                    $('body').addClass('tw')
                } else {
                    languageCode = "en";
                    $('body').addClass('en')
                }
                jQuery.i18n.properties({
                    name: 'strings',
                    path: '/i18n/',
                    mode: 'map',
                    async: true,
                    language: languageCode,
                    callback: function() {
                        $(".welcome-title").html($.i18n.prop('welcome'));

                        $(".menu_overview").html($.i18n.prop('menu_features'));
                        $(".menu_specifications").html($.i18n.prop('menu_specifications'));
                        $(".menu_report").html($.i18n.prop('menu_report'));
                        $(".menu_docs").html($.i18n.prop('menu_docs'));

                        $("#jinse_mobile").html($.i18n.prop('menu_ul_jinse'));
                        $("#jinse_pc").html($.i18n.prop('menu_ul_jinse'));
                        $("#alcoin_mobile").html($.i18n.prop('menu_ul_alcoin'));
                        $("#alcoin_pc").html($.i18n.prop('menu_ul_alcoin'));
                        $("#chain_mobile").html($.i18n.prop('menu_ul_chain'));
                        $("#chain_pc").html($.i18n.prop('menu_ul_chain'));

                        $(".introduction .title").html($.i18n.prop('introduction_title'));
                        $(".introduction .summary").html($.i18n.prop('introduction_summary'));
                        $(".introduction .content").html($.i18n.prop('introduction_content'));
                        $(".play-content").html($.i18n.prop('introduction_play'))

                        $(".security .title").html($.i18n.prop('features_sec_title'));
                        $(".security .summary").html($.i18n.prop('features_sec_summary'));

                        $(".simple .title").html($.i18n.prop('features_sim_title'));
                        $(".simple .summary").html($.i18n.prop('features_sim_summary'));

                        $(".management .title").html($.i18n.prop('management_title'));
                        $(".management .summary").html($.i18n.prop('management_summary'));

                        $(".convenience .title").html($.i18n.prop('convenience_title'));
                        $(".convenience .summary").html($.i18n.prop('convenience_summary'));

                        $(".wear .title").html($.i18n.prop('wear_title'));
                        $(".wear .summary").html($.i18n.prop('wear_summary'));

                        $(".component .title").html($.i18n.prop('component_title'));
                        $(".component .summary").html($.i18n.prop('component_summary'));
                        $(".bithdtitleshop").html($.i18n.prop('bithdtitleshop'));
                        $(".taobaoshop").html($.i18n.prop('taobaoshop'));
                        $(".headline").html($.i18n.prop('parameter_headline'));
                        $(".bithddocs").html($.i18n.prop('bithddocs'));

                        $(".bithd_help").html($.i18n.prop('bithd_help'));

                        $(".thanks").html($.i18n.prop('thanks'));

                        $(".source").html($.i18n.prop('source'));

                        $(".video-title").html($.i18n.prop('video_title'));
                        if (languageCode == 'zh' || languageCode == 'tw') {
                            $("#buy-btn-div").css('display', 'none')
                            $("#buy-btn").html($.i18n.prop('buy'));
                            $('#buy-ebay').css('display', 'none')
                            $('#buy-amazon').css('display', 'none')
                            $('#buy_wd_font').html($.i18n.prop('buy_wd_font'));
                        } else {
                            $("#buy-btn").css('display', 'none')
                            $("#buy-btn-div").html($.i18n.prop('buy'));
                            $('#buy_ebay_font').html($.i18n.prop('buy_ebay_font'));
                            $('#buy_amazon_font').html($.i18n.prop('buy_amazon_font'));
                            $('#buy-wd').css('display', 'none')
                        }

                        $('#nav_compare').html($.i18n.prop('nav_compare'));
                        $('#watch2_title').html($.i18n.prop('watch2_title'));

                        $('#buy_title').html($.i18n.prop('buy_title'));
                        $('#buy_wd_font').html($.i18n.prop('buy_wd_font'));
                        $('#buy_tb_font').html($.i18n.prop('buy_tb_font'));
                        $('#buy_close_btn').html($.i18n.prop('buy_close_btn'));
                        $('#razor_title').html($.i18n.prop('razor_name'));

                        $('#razor_banner_title').html($.i18n.prop('razor_banner_title'));
                        $('#razor_banner_font').html($.i18n.prop('razor_banner_font'));
                        $('#razor_banner1_title').html($.i18n.prop('razor_banner1_title'));
                        $('#razor_banner1_font').html($.i18n.prop('razor_banner1_font'));
                        $('#razor_banner2_title').html($.i18n.prop('razor_banner2_title'));
                        $('#razor_banner2_font').html($.i18n.prop('razor_banner2_font'));
                        $('#razor_banner3_title').html($.i18n.prop('razor_banner3_title'));
                        $('#razor_banner3_font').html($.i18n.prop('razor_banner3_font'));
                        $('#razor_banner4_title1').html($.i18n.prop('razor_banner4_title1'));
                        $('#razor_banner4_font1').html($.i18n.prop('razor_banner4_font1'));
                        $('#razor_banner4_title2').html($.i18n.prop('razor_banner4_title2'));
                        $('#razor_banner4_font2').html($.i18n.prop('razor_banner4_font2'));
                        $('#razor_banner4_title3').html($.i18n.prop('razor_banner4_title3'));
                        $('#razor_banner4_font3').html($.i18n.prop('razor_banner4_font3'));
                        $('#razor_banner4_title4').html($.i18n.prop('razor_banner4_title4'));
                        $('#razor_banner4_font4').html($.i18n.prop('razor_banner4_font4'));
                        $('#razor_banner4_title5').html($.i18n.prop('razor_banner4_title5'));
                        $('#razor_banner4_font5').html($.i18n.prop('razor_banner4_font5'));
                        $('#razor_banner4_title6').html($.i18n.prop('razor_banner4_title6'));
                        $('#razor_banner4_font6').html($.i18n.prop('razor_banner4_font6'));
                        $('#razor_banner5_title1').html($.i18n.prop('razor_banner5_title1'));
                        $('#razor_banner5_title2').html($.i18n.prop('razor_banner5_title2'));
                        $('#razor_banner5_title3').html($.i18n.prop('razor_banner5_title3'));
                        $('#razor_banner5_title4').html($.i18n.prop('razor_banner5_title4'));
                        $('#razor_banner5_title5').html($.i18n.prop('razor_banner5_title5'));
                        $('#razor_banner5_title6').html($.i18n.prop('razor_banner5_title6'));
                        $('#razor_banner5_title7').html($.i18n.prop('razor_banner5_title7'));
                        $('#razor_banner5_title8').html($.i18n.prop('razor_banner5_title8'));
                        $('#razor_banner5_title9').html($.i18n.prop('razor_banner5_title9'));
                        $('#razor_banner5_font4').html($.i18n.prop('razor_banner5_font4'));
                        $('#razor_banner5_font5').html($.i18n.prop('razor_banner5_font5'));
                        $('#razor_banner5_font7').html($.i18n.prop('razor_banner5_font7'));
                        $('#razor_banner5_font9').html($.i18n.prop('razor_banner5_font9'));

                        $('.nav_btn1').html($.i18n.prop('nav_btn1'));
                        $('.nav_btn2').html($.i18n.prop('nav_btn2'));
                        $('.nav_btn3').html($.i18n.prop('nav_btn3'));
                        $('.nav_btn4').html($.i18n.prop('nav_btn4'));
                    }
                });
            });
        </script>
</body>

</html>