<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>bithd.com</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
  <script src="/js/flexible.min.js"></script>
  {% include css.html %}
</head>

<body>
  {% include header.html menu="../resource/menu_dark.svg" isDark="dark" logo="../resource/icon.svg" %}
  <div class="second-nav light">
    <div class="m-box">
      <span id="razor_title" class="lt second-nav-font"></span>
      <!-- <a href="https://weidian.com/item.html?itemID=2713821031" id="buy-btn" class="gt second-buy-btn buy-watch2" target="_blank" rel="nofollow noopener noreferrer" ></a> -->
      <a id="buy-btn" class="gt second-buy-btn open-buy razor2-buy buy-razor2"></a>
      <div id="buy-btn-div" class="gt second-buy-btn open-buy razor2-buy buy-razor2"></div>
    </div>
  </div>
  <div class="razor2-content" onclick="containMenuOperation()">

    <div class="razor2-banner1 banner1 mobile-hidden">
      <div class=" banner-content mobile-hidden">
        <div class="name-div">
          <p class="name"></p>
        </div>
        <p class="title"></p>
        <div class="buy-div">
          <p class="price"></p>
          <div class="buy">
            <p onclick="goBuyClick()" class="go-buy"></p>
            <img class="buy-arrow" src="../resource/buy-arrow.svg">
          </div>
        </div>
      </div>
      <div class="banner-content pc-hidden" id="pc-content">
        <p class="title"></p>
        <p class="subtitle"></p>
      </div>
    </div>

    <div class="razor2-banner-m banner1 pc-hidden">
      <div class="banner-content pc-hidden" id="pc-content">
        <p class="title"></p>
      </div>
      <img class="banner-img" src="../image/pic_razor2_m_1.png">
    </div>

    <div class="razor2-banner2 banner2 mobile-hidden">
      <img class="banner-img" src="../image/pic_razor2_2.png">
      <div class="banener-left-content">
        <p class="title"></p>
        <p class="subtitle"></p>
      </div>
    </div>

    <div class="razor2-banner-m-2 banner2 pc-hidden">
      <div class="banner-content pc-hidden" id="pc-content">
        <p class="title"></p>
        <p class="subtitle"></p>
      </div>
      <img class="banner-img" src="../image/pic_razor2_m_2.png">
    </div>

    <div class="armor2-banner banner3 mobile-hidden">
      <img class="banner-img" src="../image/pic_razor2_3.jpg">
      <div class="banener-right-content">
        <p class="title"></p>
        <p class="subtitle"></p>
      </div>
    </div>

    <div class="razor2-banner-m banner4 pc-hidden">
      <div class="banner-content pc-hidden" id="pc-content">
        <p class="title"></p>
        <p class="subtitle"></p>
      </div>
      <img class="banner-img" src="../image/pic_razor2_m_3.png">
    </div>

    <div class="armor2-banner banner4 mobile-hidden">
      <img class="banner-img" src="../image/pic_razor2_4.jpg">
      <div class="banener-left-content">
        <div class="banner4-title">
          <p class="title" style="color: #333;"></p>
        </div>
        <p class="subtitle" style="color: #333;"></p>
      </div>
    </div>

    <div class="armor2-banner razor2-box-5">
      <div class="m-box">
        <!-- <p class="title pc-hidden"></p> -->
        <div class="rol banner5-box">
          <div class="lt banner5-item">
            <img src="../image/icon_1.png" class="lt banner5-item-icon">
            <div class="lt banner5-font-box">
              <div id="razor_banner4_title1" class="rol banner5-title"></div>
              <div id="razor_banner4_font1" class="rol banner5-font"></div>
            </div>
          </div>
          <div class="lt banner5-item">
            <img src="../image/icon_2.png" class="lt banner5-item-icon">
            <div class="lt banner5-font-box">
              <div id="razor_banner4_title2" class="rol banner5-title"></div>
              <div id="razor_banner4_font2" class="rol banner5-font"></div>
            </div>
          </div>
          <div class="lt banner5-item">
            <img src="../image/icon_3.png" class="lt banner5-item-icon">
            <div class="lt banner5-font-box">
              <div id="razor_banner4_title3" class="rol banner5-title"></div>
              <div id="razor_banner4_font3" class="rol banner5-font"></div>
            </div>
          </div>
          <div class="lt banner5-item">
            <img src="../image/icon_4.png" class="lt banner5-item-icon">
            <div class="lt banner5-font-box">
              <div id="razor_banner4_title4" class="rol banner5-title"></div>
              <div id="razor_banner4_font4" class="rol banner5-font"></div>
            </div>
          </div>
          <div class="lt banner5-item">
            <img src="../image/icon_5.png" class="lt banner5-item-icon">
            <div class="lt banner5-font-box">
              <div id="razor_banner4_title5" class="rol banner5-title"></div>
              <div id="razor_banner4_font5" class="rol banner5-font"></div>
            </div>
          </div>
          <div class="lt banner5-item">
            <img src="../image/icon_6.png" class="lt banner5-item-icon">
            <div class="lt banner5-font-box">
              <div id="razor_banner4_title6" class="rol banner5-title"></div>
              <div id="razor_banner4_font6" class="rol banner5-font"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="armor2-banner banner6">
      <div class="params-div mobile-hidden">
        <p class="title"></p>
        <div>
          <p class="params params1"></p>
          <p class="params params2"></p>
          <p class="params params3"></p>
          <p class="params params4"></p>
          <p class="params params5"></p>
          <p class="params params6"></p>
          <p class="params params7"></p>
        </div>
      </div>

      <div class="params-mobile-div pc-hidden">
        <p class="title"></p>
        <div>
          <div class="params-content-div mobile-params1">
            <p class="title"></p>
            <p class="content"></p>
          </div>
          <div class="params-content-div mobile-params2">
            <p class="title"></p>
            <p class="content"></p>
          </div>
          <div class="params-content-div mobile-params3">
            <p class="title"></p>
            <p class="content"></p>
          </div>
          <div class="params-content-div mobile-params4">
            <p class="title"></p>
            <p class="content"></p>
          </div>
          <div class="params-content-div mobile-params5">
            <p class="title"></p>
            <p class="content"></p>
          </div>
          <div class="params-content-div mobile-params6">
            <p class="title"></p>
            <p class="content"></p>
          </div>
          <div class="params-content-div mobile-params7">
            <p class="title"></p>
            <p class="content"></p>
          </div>
        </div>
      </div>

      <img class="params-img" src="../image/pic_5.png" alt="">
      <p class="banner6-warnning pc-hidden"></p>
    </div>

    <div class="rol footer">
      <p class="bithd_help"></p>
    </div>
    <div class="alert-buy-box">
      <div class="buy-box">
        <div id="buy_title" class="buy-title"></div>
        <div class="buy-btn-box">
          <a href="#" id="buy-wd" class="buy-btn" target="_blank" rel="nofollow noopener noreferrer">
            <span id="buy_wd_font"></span>
            <img class="buy-alert-arrow gt" src="../image/arrow_right_black.svg" alt="">
          </a>
          <a href="#" id="buy-amazon" class="buy-btn" target="_blank" rel="nofollow noopener noreferrer">
            <span id="buy_amazon_font"></span>
            <img class="buy-alert-arrow gt" src="../image/arrow_right_black.svg" alt="">
          </a>
          <a href="#" id="buy-ebay" class="buy-btn" target="_blank" rel="nofollow noopener noreferrer">
            <span id="buy_ebay_font"></span>
            <img class="buy-alert-arrow gt" src="../image/arrow_right_black.svg" alt="">
          </a>
          <a href="#" id="buy-tb" class="buy-btn" target="_blank" rel="nofollow noopener noreferrer">
            <span id="buy_tb_font"></span>
            <img class="buy-alert-arrow gt" src="../image/arrow_right_black.svg" alt="">
          </a>
        </div>
        <div id="buy_close_btn" class="close-btn"></div>
      </div>
    </div>
    {% include js.html %}
    <link href="/css/razor_media.css" rel="stylesheet" type="text/css" media="all" />
    <script>
      $(function () {
        $('a[href*=#]:not([href=#])').click(function () {
          if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname ==
            this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top - 60
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>
    <script>
      $("#menu").click(function () {
        menuListOperation();
      });

      function goBuyClick() {
        $('#buy-btn').click();
      }

      $(".menu_report").click(function () {
        var width = $(window).width();
        if (width < 768) {
          var display = $(".mobile-ul").css("display");
          if (display == "none") {
            $(".mobile-ul").css("display", "block");
          } else {
            $(".mobile-ul").css("display", "none");
          }
        } else {
          var display = $(".reports").css("display");
          if (display == "none") {
            $(".reports").css("display", "block");
          } else {
            $(".reports").css("display", "none");
          }
        }
      });

      $(document).ready(function () {
        adapterSize();
      })

      $(window).resize(function () {
        adapterSize();
      })

      function isShowDropdown(type) {
        var width = $(window).width();
        if (width < 768) {
          if (type == "bithd") {
            let element = $("#bithd-dropdown")[0]
            let dropdown = $("#bithd-dropdown .dropdown-mobile")[0]
            let arrow = $("#bithd-dropdown .arrow-right")[0]
            if (dropdown.style.display == "block") {
              dropdown.style.display = "none"
              arrow.src = "../image/icon_arrow_right.png"
              element.style.height = "45px"
            } else {
              dropdown.style.display = "block"
              arrow.src = "../image/icon_arrow_down.png"
              element.style.height = "126px"
            }
          } else if (type == "armor") {
            let element = $("#armor-dropdown")[0]
            let dropdown = $("#armor-dropdown .dropdown-mobile")[0]
            let arrow = $("#armor-dropdown .arrow-right")[0]
            if (dropdown.style.display == "block") {
              dropdown.style.display = "none"
              arrow.src = "../image/icon_arrow_right.png"
              element.style.height = "45px"
            } else {
              dropdown.style.display = "block"
              arrow.src = "../image/icon_arrow_down.png"
              element.style.height = "126px"
            }
          } else if (type == "razor") {
            let element = $("#razor-dropdown")[0]
            let dropdown = $("#razor-dropdown .dropdown-mobile")[0]
            let arrow = $("#razor-dropdown .arrow-right")[0]
            if (dropdown.style.display == "block") {
              dropdown.style.display = "none"
              arrow.src = "../image/icon_arrow_right.png"
              element.style.height = "45px"
            } else {
              dropdown.style.display = "block"
              arrow.src = "../image/icon_arrow_down.png"
              element.style.height = "126px"
            }
          }

        }
      }

      function containMenuOperation() {
        if ($("#menu-list").hasClass("mobile-hidden") == false) {
          $("#menu-list").addClass("mobile-hidden");
        }
        var display = $(".reports").css("display");
        if (display == "block") {
          $(".reports").css("display", "none");
        }
      }

      $(".play-video").click(function () {
        var width = $(window).width();
        if (width < 768) {
          window.location.href = "https://v.youku.com/v_show/id_XMzQ2ODEwMTUwNA==.html?spm=a2hzp.8244740.0.0";
        } else {
          $(".float-back").css("display", "block");
          $(".video-back").css("display", "block");
          $(".video").append(
            "<iframe height=498 width=510 src='https://player.youku.com/embed/XMzQ2ODEwMTUwNA==' frameborder=0 'allowfullscreen'></iframe>"
          );
        }
      });

      $(".video-btn").click(function () {
        removeVideo();
      });

      function removeVideo() {
        $(".float-back").css("display", "none");
        $(".video-back").css("display", "none");
        $(".video").empty();
      }

      function menuListOperation() {
        if ($("#menu-list").hasClass("mobile-hidden") == true) {
          $("#menu-list").removeClass("mobile-hidden");
        } else {
          $("#menu-list").addClass("mobile-hidden");
        }
      }

      function adapterSize() {
        var width = $(window).width();
        if (width < 768) {
          removeVideo();
          $(".reports").css("display", "none");
          $("#introduction-bg").attr('src', '../resource/banner_mobile.jpg');
          $("#security-bg").attr('src', '../resource/safety_mobile.jpg');
          $("#simple-bg").attr('src', '../resource/easy_mobile.jpg');
          $("#management-bg").attr('src', '../resource/management_mobile.jpg');
          $("#convenience-bg").attr('src', '../resource/carousel_mobile.jpg');
          $("#wear-bg").attr('src', '../resource/wear_mobile.jpg');
          $("#float-image").attr('src', '../resource/watch_mobile.png');
          if (new String($.i18n.browserLang()).indexOf("zh") > -1) {
            $("#component-bg").attr('src', '../resource/industry_mobile_cn.jpg');
          } else if ((new String($.i18n.browserLang()).toLowerCase()).indexOf("tw") > -1 || (new String($.i18n
            .browserLang()).toLowerCase()).indexOf("hk") > -1) {
            $("#component-bg").attr('src', '../resource/industry_mobile_rtw.jpg');
          } else {
            $("#component-bg").attr('src', '../resource/industry_mobile_en.jpg');
          }
        } else {
          $(".mobile-ul").css("display", "none");
          $("#introduction-bg").attr('src', '../resource/banner_pc.jpg');
          $("#security-bg").attr('src', '../resource/safety_pc.jpg');
          $("#simple-bg").attr('src', '../resource/easy_pc.jpg');
          $("#management-bg").attr('src', '../resource/management_pc.jpg');
          $("#convenience-bg").attr('src', '../resource/carousel_pc.jpg');
          $("#wear-bg").attr('src', '../resource/wear_pc.jpg');
          $("#float-image").attr('src', '../resource/watch_pc.png');
          if ($.i18n.browserLang() == "zh-CN") {
            $("#component-bg").attr('src', '../resource/industry_pc_cn.jpg');
          } else if ($.i18n.browserLang() == "zh-TW" || $.i18n.browserLang() == "zh-HK") {
            $("#component-bg").attr('src', '../resource/industry_pc_rtw.jpg');
          } else {
            $(".convenience .summary").css("width", "3.18rem");
            $(".management .summary").css("width", "3.18rem");
            $("#component-bg").attr('src', '../resource/industry_pc_en.jpg');
          }
        }
      }

      function stringHandle(str) {
        var width = $(window).width();
        if (width < 768) {
          return str.replace("<br>", "");
        }
        return str;
      }

      $(function () {
        var languageCode;

        if (new String($.i18n.browserLang()).indexOf("zh") > -1) {
          languageCode = "zh";
          $('body').addClass('zh')
        } else if ((new String($.i18n.browserLang()).toLowerCase()).indexOf("tw") > -1 || (new String($.i18n
          .browserLang()).toLowerCase()).indexOf("hk") > -1) {
          languageCode = "zh-rTW";
          $('body').addClass('tw')
        } else {
          languageCode = "en";
          $('body').addClass('en')
        }
        jQuery.i18n.properties({
          name: 'strings',
          path: '/i18n/',
          mode: 'map',
          async: true,
          language: languageCode,
          callback: function () {
            $(".name-div .name").html($.i18n.prop('razor2_title'));
            if (languageCode == "zh") {

            } else {

            }
            $(".banner-content .title").html($.i18n.prop('razor2_subtitle'));
            $(".razor2-banner-m .banner-content .title").html(`${$.i18n.prop('razor2_title')}<br>${$.i18n.prop('razor2_subtitle')}`);
            $(".razor2-banner-m .banner-content .subtitle").html(stringHandle(`${$.i18n.prop('razor2_m_subtitle')}`));

            $(".buy-div .price").html($.i18n.prop('razor2_price'));
            $(".go-buy").html($.i18n.prop('razor2_go_buy'));
            $(".banner2 .title").html(stringHandle($.i18n.prop('razor2_banner1_title')));
            $(".banner2 .subtitle").html(stringHandle($.i18n.prop('razor2_banner1_subtitle')));
            $(".banner3 .title").html(stringHandle($.i18n.prop('razor2_banner2_title')));
            $(".banner3 .subtitle").html(stringHandle($.i18n.prop('razor2_banner2_subtitle')));
            $(".banner4 .title").html(stringHandle($.i18n.prop('razor2_banner3_title')));
            $(".banner4 .subtitle").html(stringHandle($.i18n.prop('razor2_banner3_subtitle')));

            $(".razor2-banner-m-2 .banner-content .title").html(stringHandle(`${$.i18n.prop('razor2_banner3_m_title')}`));
            $(".razor2-banner-m-2 .banner-content .subtitle").html(stringHandle(`${$.i18n.prop('razor2_banner3_m_subtitle')}`));

            $(".welcome-title").html($.i18n.prop('welcome'));

            $(".menu_overview").html($.i18n.prop('menu_features'));
            $(".menu_specifications").html($.i18n.prop('menu_specifications'));
            $(".menu_report").html($.i18n.prop('menu_report'));
            $(".menu_docs").html($.i18n.prop('menu_docs'));

            $("#jinse_mobile").html($.i18n.prop('menu_ul_jinse'));
            $("#jinse_pc").html($.i18n.prop('menu_ul_jinse'));
            $("#alcoin_mobile").html($.i18n.prop('menu_ul_alcoin'));
            $("#alcoin_pc").html($.i18n.prop('menu_ul_alcoin'));
            $("#chain_mobile").html($.i18n.prop('menu_ul_chain'));
            $("#chain_pc").html($.i18n.prop('menu_ul_chain'));

            $(".introduction .title").html($.i18n.prop('introduction_title'));
            $(".introduction .summary").html($.i18n.prop('introduction_summary'));
            $(".introduction .content").html($.i18n.prop('introduction_content'));
            $(".play-content").html($.i18n.prop('introduction_play'))

            $(".security .title").html($.i18n.prop('features_sec_title'));
            $(".security .summary").html($.i18n.prop('features_sec_summary'));

            $(".simple .title").html($.i18n.prop('features_sim_title'));
            $(".simple .summary").html($.i18n.prop('features_sim_summary'));

            $(".management .title").html($.i18n.prop('management_title'));
            $(".management .summary").html($.i18n.prop('management_summary'));

            $(".convenience .title").html($.i18n.prop('convenience_title'));
            $(".convenience .summary").html($.i18n.prop('convenience_summary'));

            $(".wear .title").html($.i18n.prop('wear_title'));
            $(".wear .summary").html($.i18n.prop('wear_summary'));

            $(".component .title").html($.i18n.prop('component_title'));
            $(".component .summary").html($.i18n.prop('component_summary'));
            $(".bithdtitleshop").html($.i18n.prop('bithdtitleshop'));
            $(".taobaoshop").html($.i18n.prop('taobaoshop'));
            $(".headline").html($.i18n.prop('parameter_headline'));
            $(".bithddocs").html($.i18n.prop('bithddocs'));

            $(".bithd_help").html($.i18n.prop('bithd_help'));

            $(".thanks").html($.i18n.prop('thanks'));

            $(".source").html($.i18n.prop('source'));

            $(".video-title").html($.i18n.prop('video_title'));
            let space = ''
            if (languageCode == 'zh' || languageCode == 'tw') {
              space = '：'
              $("#buy-btn-div").css('display', 'none')
              $("#buy-btn").html($.i18n.prop('buy'));
              $('#buy-ebay').css('display', 'none')
              $('#buy-amazon').css('display', 'none')
              $('#buy_wd_font').html($.i18n.prop('buy_wd_font'));
              $('#buy_tb_font').html($.i18n.prop('buy_tb_font'));
            } else {
              space = ':'
              $("#buy-btn").css('display', 'none')
              $("#buy-btn-div").html($.i18n.prop('buy'));
              $('#buy-ebay').css('display', 'none')
              $('#buy-amazon').css('display', 'none')
              $('#buy_wd_font').html($.i18n.prop('buy_wd_font'));
              $('#buy_tb_font').html($.i18n.prop('buy_tb_font'));
            }

            $('#nav_compare').html($.i18n.prop('nav_compare'));
            $('#watch2_title').html($.i18n.prop('watch2_title'));

            $('#buy_title').html($.i18n.prop('buy_title'));
            $('#buy_wd_font').html($.i18n.prop('buy_wd_font'));
            $('#buy_tb_font').html($.i18n.prop('buy_tb_font'));
            $('#buy_close_btn').html($.i18n.prop('buy_close_btn'));
            $('#razor_title').html($.i18n.prop('razor2_name'));

            $('#razor_banner4_title1').html($.i18n.prop('razor2_feature1_title'));
            $('#razor_banner4_font1').html($.i18n.prop('razor2_feature1_subtitle'));
            $('#razor_banner4_title2').html($.i18n.prop('razor2_feature2_title'));
            $('#razor_banner4_font2').html($.i18n.prop('razor2_feature2_subtitle'));
            $('#razor_banner4_title3').html($.i18n.prop('razor2_feature3_title'));
            $('#razor_banner4_font3').html($.i18n.prop('razor2_feature3_subtitle'));
            $('#razor_banner4_title4').html($.i18n.prop('razor2_feature4_title'));
            $('#razor_banner4_font4').html($.i18n.prop('razor2_feature4_subtitle'));
            $('#razor_banner4_title5').html($.i18n.prop('razor2_feature5_title'));
            $('#razor_banner4_font5').html($.i18n.prop('razor2_feature5_subtitle'));
            $('#razor_banner4_title6').html($.i18n.prop('razor2_feature6_title'));
            $('#razor_banner4_font6').html($.i18n.prop('razor2_feature6_subtitle'));

            $(".banner6 .title").html(stringHandle($.i18n.prop('razor2_technical')));
            $(".razor2-box-5 .title").html(stringHandle($.i18n.prop('razor2_technical')));

            $(".params1").html(`${$.i18n.prop('razor2_params1_title')}${space}${$.i18n.prop('razor2_params1_content')}`);
            $(".params2").html(`${$.i18n.prop('razor2_params2_title')}${space}${$.i18n.prop('razor2_params2_content')}`);
            $(".params3").html(`${$.i18n.prop('razor2_params3_title')}${space}${$.i18n.prop('razor2_params3_content')}`);
            $(".params4").html(`${$.i18n.prop('razor2_params4_title')}${space}${$.i18n.prop('razor2_params4_content')}`);
            $(".params5").html(`${$.i18n.prop('razor2_params5_title')}${space}${$.i18n.prop('razor2_params5_content')}`);
            $(".params6").html(`${$.i18n.prop('razor2_params6_title')}${space}${$.i18n.prop('razor2_params6_content')}`);
            $(".params7").html(`${$.i18n.prop('razor2_params7_title')}${space}${$.i18n.prop('razor2_params7_content')}`);

            $(".mobile-params1 .title").html($.i18n.prop('razor2_params1_title'));
            $(".mobile-params1 .content").html($.i18n.prop('razor2_params1_content'));
            $(".mobile-params2 .title").html($.i18n.prop('razor2_params2_title'));
            $(".mobile-params2 .content").html($.i18n.prop('razor2_params2_content'));
            $(".mobile-params3 .title").html($.i18n.prop('razor2_params3_title'));
            $(".mobile-params3 .content").html($.i18n.prop('razor2_params3_content'));
            $(".mobile-params4 .title").html($.i18n.prop('razor2_params4_title'));
            $(".mobile-params4 .content").html($.i18n.prop('razor2_params4_content'));
            $(".mobile-params5 .title").html($.i18n.prop('razor2_params5_title'));
            $(".mobile-params5 .content").html($.i18n.prop('razor2_params5_content'));
            $(".mobile-params6 .title").html($.i18n.prop('razor2_params6_title'));
            $(".mobile-params6 .content").html($.i18n.prop('razor2_params6_content'));
            $(".mobile-params7 .title").html($.i18n.prop('razor2_params7_title'));
            $(".mobile-params7 .content").html($.i18n.prop('razor2_params7_content'));

            $(".banner6-warnning").html($.i18n.prop('arnor2_warnning'));

            $('.nav_btn1').html($.i18n.prop('nav_btn1'));
            $('.nav_btn2').html($.i18n.prop('nav_btn2'));
            $('.nav_btn3').html($.i18n.prop('nav_btn3'));
            $('.nav_btn4').html($.i18n.prop('nav_btn4'));
            $('.nav_btn2-1').html($.i18n.prop('bithd1'));
            $('.nav_btn2-2').html($.i18n.prop('bithd2'));
            $('.nav_btn1-1').html($.i18n.prop('razor1'));
            $('.nav_btn1-2').html($.i18n.prop('razor2'));
            $('.nav_btn3-1').html($.i18n.prop('armor1'));
            $('.nav_btn3-2').html($.i18n.prop('armor2'));
          }
        });
      });
    </script>
</body>

</html>