<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>bithd.com</title>
    <meta name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <script src="../js/flexible.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/reports.css">
    <!-- {% include css.html %} -->
</head>

<body>
    <nav class="dark" style="display: block">
        <div class="mobile-nav pc-hidden">
            <div class="header-content">
                <div class="mobile-header-logo mobile-bithd">
                    <a href="/index.html"><img class="logo" src="../resource/icon.svg"></a>
                </div>
                <div class="mobile-header-menu">
                    <img id="menu" src="../resource/menu_dark.svg">
                </div>
            </div>
        </div>
        <div id="menu-list" class="pc-nav mobile-hidden">
            <div class="header-content">
                <div class="pc-header-logo mobile-hidden">
                    <a href="/index.html"><img class="logo" src="../resource/icon.svg"></a>
                </div>
                <div class="pc-header-menu">
                    <ul>
                        <li>
                            <a class="nav_btn1" href="/BITHD-Razor.html"></a>
                        </li>
                        <li class="dropdown-div">
                            <div>
                                <p class="nav_btn2"></p>
                                <img class="arrow-right" src="../image/icon_arrow_right.png" />
                            </div>
                            <div class="dropdown">
                                <a class="nav_btn2-1" href="/BITHD-watch-1.html"></a>
                                <a class="nav_btn2-2" href="/BITHD-watch-2.html"></a>
                            </div>
                        </li>
                        <li class="dropdown-div">
                            <div>
                                <p class="nav_btn3"></p>
                                <img class="arrow-right" src="../image/icon_arrow_right.png" />
                            </div>
                            <div class="dropdown">
                                <a class="nav_btn3-1" href="/Frozen-Armor.html"></a>
                                <a class="nav_btn3-2" href="/Frozen-Armor2.html"></a>
                            </div>
                        </li>
                        <li>
                            <a href="../reports/reports.html" class="menu_report"></a>
                        </li>
                        <li>
                            <a href="http://docs.bithd.com/" class="menu_docs"></a>
                        </li>
                    </ul>
                </div>
                <div class="mobile-menu">
                    <ul>
                        <li>
                            <a class="nav_btn1" href="/BITHD-Razor.html"></a>
                        </li>
                        <li class="dropdown-mobile-div" id="bithd-dropdown">
                            <div onclick="isShowDropdown('bithd')">
                                <p class="nav_btn2"></p>
                                <img class="arrow-right" src="../image/icon_arrow_right.png" />
                            </div>
                            <div class="dropdown-mobile">
                                <a class="nav_btn2-1" href="/BITHD-watch-1.html"></a>
                                <a class="nav_btn2-2" href="/BITHD-watch-2.html"></a>
                            </div>
                        </li>
                        <li class="dropdown-mobile-div" id="armor-dropdown">
                            <div onclick="isShowDropdown('armor')">
                                <p class="nav_btn3"></p>
                                <img class="arrow-right" src="../image/icon_arrow_right.png" />
                            </div>
                            <div class="dropdown-mobile">
                                <a class="nav_btn3-1" href="/Frozen-Armor.html"></a>
                                <a class="nav_btn3-2" href="/Frozen-Armor2.html"></a>
                            </div>
                        </li>
                        <li>
                            <a href="../reports/reports.html" class="menu_report"></a>
                        </li>
                        <li>
                            <a href="http://docs.bithd.com/" class="menu_docs"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container" onclick="containMenuOperation()">
        <ul class="report-list cn">
            <li class="report" onclick="dumpLink('https://mp.weixin.qq.com/s/FmqtL33V_78PcgTqKwu-UA')">
                <a class="title" href="https://mp.weixin.qq.com/s/FmqtL33V_78PcgTqKwu-UA" target="_blank"
                    rel="nofollow noopener noreferrer">BITHD 硬件钱包使用教程合辑</a>
                <span class="content">安全保管资产首选硬件冷钱包-比特护盾！超多币种、完全开源、永不触网，资产全由自己掌控！</span>
                <span class="report-time">2020-10-16</span>
            </li>
            <li class="report" onclick="dumpLink('https://www.theblockbeats.com/news/14686')">
                <a class="title" href="https://www.theblockbeats.com/news/14686" target="_blank"
                    rel="nofollow noopener noreferrer">比特派「零基础编译开源的钱包固件」教程</a>
                <span class="content">3 月 24 日，由比特派&BitHD
                    推出的「零基础编译开源的钱包固件」直播课程圆满结束，让小白用户亲身体验到了编译与验证开源的硬件钱包固件的整个过程。此次在线直播教程由 BitHD
                    品牌负责人果子主导，以下为本次直播的图文教程。</span>
                <span class="report-time">2020-03-25</span>
            </li>
            <li class="report" onclick="dumpLink('https://www.theblockbeats.com/news/14211')">
                <a class="title" href="https://www.theblockbeats.com/news/14211" target="_blank"
                    rel="nofollow noopener noreferrer">再谈「硬件钱包，选择开源还是安全芯片？」</a>
                <span class="content">之前的一篇《硬件钱包 -
                    开源还是安全芯片？》文章引起了广泛的讨论，虽然我们已经用非常清晰的逻辑说明了「为什么说开源是硬件钱包的前提条件？」「以及」安全芯片的目的是什么？」，但仍有不少混淆的声音在不停的重复着「四条腿好，两条腿坏」。</span>
                <span class="report-time">2020-03-07</span>
            </li>
            <li class="report" onclick="dumpLink('https://www.theblockbeats.com/news/14184')">
                <a class="title" href="https://www.theblockbeats.com/news/14184" target="_blank"
                    rel="nofollow noopener noreferrer">小科普：真随机数和伪随机数</a>
                <span class="content">比特币用户很喜欢讨论「非对称加密」、「椭圆曲线」、「量子计算机」这类高深莫测的话题，然后再以一种非常莫名其妙的方式把币弄丢，比如说：「随机」。</span>
                <span class="report-time">2020-03-05</span>
            </li>
            <li class="report" onclick="dumpLink('https://www.theblockbeats.com/news/14161')">
                <a class="title" href="https://www.theblockbeats.com/news/14161" target="_blank"
                    rel="nofollow noopener noreferrer">扫描几千个二维码才能完成交易？后来他们选了蓝牙硬件钱包</a>
                <span class="content">本文将简要的给大家讲解下二维码模型的优缺点，说完您就该理解为什么我们会去做 BITHD 了。</span>
                <span class="report-time">2020-03-01</span>
            </li>
            <li class="report" onclick="dumpLink('https://www.theblockbeats.com/news/13903')">
                <a class="title" href="https://www.theblockbeats.com/news/13903" target="_blank"
                    rel="nofollow noopener noreferrer">硬件钱包 - 开源还是安全芯片？</a>
                <span
                    class="content">近一两年，由于一些硬件钱包厂商的刻意混淆，开源和安全芯片似乎成了对立的、非此即彼的两个阵营，这使得小白们很困扰，到底应该选择开源的硬件钱包，还是选择那些宣传自己使用了
                    XXX 安全芯片的硬件钱包呢？</span>
                <span class="report-time">2020-02-24</span>
            </li>
            <li class="report" onclick="dumpLink('https://www.theblockbeats.com/news/13661')">
                <a class="title" href="https://www.theblockbeats.com/news/13661" target="_blank"
                    rel="nofollow noopener noreferrer">BITHD 多重签名安全中的一件小事</a>
                <span class="content">多重签名是目前最安全、最受欢迎的大额资产多人共管方案。在这一领域，BITHD 硬件钱包（比特护盾和刀锋）一直拥有着全球领先的多重签名功能。</span>
                <span class="report-time">2020-02-14</span>
            </li>
            <li class="report" onclick="dumpLink('https://www.jinse.com/blockchain/552317.html')">
                <a class="title" href="https://www.jinse.com/blockchain/552317.html" target="_blank"
                    rel="nofollow noopener noreferrer">为什么我们只在 Bithd 硬件冷钱包里提供了多重签名功能”</a>
                <span class="content">不久前，比特护盾和刀锋硬件冷钱包支持了 USDT-ERC20（USDT以太版）和 ETH Token 的多重签名，也因此又解锁几项了全球第一的成就。</span>
                <span class="report-time">2019-12-16</span>
            </li>

            <li class="report" onclick="dumpLink('https://www.8btc.com/video/517263')">
                <a class="title" href="https://www.8btc.com/video/517263" target="_blank"
                    rel="nofollow noopener noreferrer">ChainNode测评：比特护盾 Watch2 代硬件钱包</a>
                <span class="content">各位小伙伴们大家好呀，比特派 Bitpie 推出的硬件钱包又又又一次登上了「巴比特ChainNode测评」。此次测评的是我们的比特护盾 Watch2
                    代硬件钱包，它在1代的基础上做了全面升级，外观更精美！手感更舒适！功能更强劲！</span>
                <span class="report-time">2019-11-21</span>
            </li>

            <li class="report" onclick="dumpLink('https://www.8btc.com/video/499490')">
                <a class="title" href="https://www.8btc.com/video/499490" target="_blank"
                    rel="nofollow noopener noreferrer">ChainNode测评：比特护盾 Razor 刀锋硬件钱包</a>
                <span class="content">一款轻巧、便携同时又功能强大的全开源硬件钱包哪里找呢？今天的视频就带大家来了解一下我们的刀锋 Razor 硬件钱包。</span>
                <span class="report-time">2019-10-22</span>
            </li>

            <li class="report" onclick="dumpLink('https://www.jinse.com/lives/97267.htm')">
                <a class="title" href="https://www.jinse.com/lives/97267.htm" target="_blank"
                    rel="nofollow noopener noreferrer">11家区块链机构加入比特护盾“多重签名合作伙伴计划”</a>
                <span
                    class="content">近日，巴比特、链节点、币印、鲸交所、冉道资本、币牛牛、Newdex、Chaince畅思、IMEOS、Dex.top、TRON波场（排名不分先后）等11家区块链机构宣布加入“比特护盾多重签名合作伙伴计划”。
                </span>
                <span class="report-time">2019-05-23</span>
            </li>

            <li class="report" onclick="dumpLink('https://www.jinse.com/blockchain/332846.html')">
                <a class="title" href="https://www.jinse.com/blockchain/332846.html" target="_blank"
                    rel="nofollow noopener noreferrer">小科普：硬件钱包的数据传输方式</a>
                <span
                    class="content">为什么硬件钱包需要数据传输呢？很简单，因为你需要用硬件钱包收币和发币。收币就需要地址，并且得告诉外界你收币的地址是什么；发币呢，则需要先准备好未签名交易，然后硬件钱包对这个交易进行签名，最后再把签名之后的已签名交易广播给比特币或其它区块链网络，发币操作才算完成。</span>
                <span class="report-time">2019-03-24</span>
            </li>

            <li class="report" onclick="dumpLink('https://media.weibo.cn/article?id=2309404335232936501641')">
                <a class="title" href="https://media.weibo.cn/article?id=2309404335232936501641" target="_blank"
                    rel="nofollow noopener noreferrer">当你了解了什么是“多重签名”你已经超越了99.99%的韭菜。</a>
                <span class="content">截止到今天，私钥丢失是造成的数字货币减少的主要原因。尤其是大额资产私钥丢失。但其实这个问题真的很好解决，搞定它只需要一个名词——多重签名账户</span>
                <span class="report-time">2019-02-03</span>
            </li>

            <li class="report" onclick="dumpLink('https://www.jinse.com/bitcoin/306181.html')">
                <a class="title" href="https://www.jinse.com/bitcoin/306181.html" target="_blank"
                    rel="nofollow noopener noreferrer">比太团队：正确选择硬件钱包的几个要点</a>
                <span class="content">上一轮牛市造就了很多钱包团队，其中的不少团队还设计出了形态各异的硬件钱包，面对着这些琳琅满目的硬件钱包产品，普通小白的您又该如何做出选择呢？</span>
                <span class="report-time">2019-02-01</span>
            </li>

            <li class="report" onclick="dumpLink('https://www.jinse.com/bitcoin/312129.html')">
                <a class="title" href="https://www.jinse.com/bitcoin/312129.html" target="_blank"
                    rel="nofollow noopener noreferrer">比太团队关于“开源钱包”的说明</a>
                <span class="content">作为国内唯一一个被 Bitcoin.org
                    官方推荐的钱包，作为国内唯一一个连续五年无一起安全事故的钱包，比太团队建议圈内团队不要为了宣传的目的而搞“伪开源”。</span>
                <span class="report-time">2019-01-28</span>
            </li>

            <li class="report" onclick="dumpLink('https://www.jinse.com/bitcoin/309724.html')">
                <a class="title" href="https://www.jinse.com/bitcoin/309724.html" target="_blank"
                    rel="nofollow noopener noreferrer">比特护盾手表版和卡片版的设计初衷</a>
                <span class="content">关于比特护盾的设计，我们首先从固件上说起。比特护盾作为一款硬件钱包，固件的目的是安全</span>
                <span class="report-time">2019-01-22</span>
            </li>

            <li class="report" onclick="dumpLink('https://www.jinse.com/bitcoin/309148.html')">
                <a class="title" href="https://www.jinse.com/bitcoin/309148.html" target="_blank"
                    rel="nofollow noopener noreferrer">不带屏幕的硬件钱包 = 热钱包</a>
                <span class="content">如果我们使用的是一个不带屏幕的硬件钱包，黑客黑了我们的电脑或手机，自然就能够偷走上面热钱包里的币。当我们准备用电脑或手机配合着硬件钱包发币的时候，本来准备往
                    1ABC 发送1个比特币，黑客把这个请求改成往 1XYZ 发送100个比特币</span>
                <span class="report-time">2019-01-21</span>
            </li>

            <li class="report" onclick="dumpLink('http://www.jinse.com/bitcoin/123580.html')">
                <a class="title" href="http://www.jinse.com/bitcoin/123580.html" target="_blank"
                    rel="nofollow noopener noreferrer">比特派新品发布会召开 冷钱包与智能手表结合带来更多玩法</a>
                <span class="content">金色财经-比特币 12月30日讯
                    2017年12月30日下午14：30分，比特派/比太团队于北京3W咖啡厅举办了神秘新品发布会。此次发布会以“未来已来”为主题，邀请了区块链/比特币行业的诸多大咖、达人、媒体等各色人群前来共聚一堂，一同见证神秘新品的问世。比特派创始人文浩上台做出演讲并为大家揭开了此次神秘新品的面纱。</span>
                <span class="report-time">2017-12-30</span>
            </li>

            <li class="report"
                onclick="dumpLink('http://www.aicoin.net.cn/amp/services/news-share?id=3762&lang=zh&from=timeline')">
                <a class="title" href="http://www.aicoin.net.cn/amp/services/news-share?id=3762&lang=zh&from=timeline"
                    target="_blank" rel="nofollow noopener noreferrer">比特派新比特派/比太团队发布冷钱包终极解决方案 - 比特护盾（BITHD）</a>
                <span class="content">白话区块链 12月30日讯 未来已来，BITHD 是第一个真正做到能让大妈也能轻松使用的硬件钱包，BITHD
                    也是第一个可穿戴的、给区块链世界的未来带来无限可能玩法的硬件设备，BITHD 来了！</span>
                <span class="report-time">2017-12-30</span>
            </li>

            <li class="report" onclick="dumpLink('https://mp.weixin.qq.com/s/PHBJaW8kUW-duMeKb7Hg2g')">
                <a class="title" href="https://mp.weixin.qq.com/s/PHBJaW8kUW-duMeKb7Hg2g" target="_blank"
                    rel="nofollow noopener noreferrer">比特派新比特派/比太团队发布冷钱包终极解决方案 - 比特护盾（BITHD）</a>
                <span class="content">AICoin 2017-12-30 15:06:18
                    了解比太历史的人都知道，我们最初是一个由四名码农组成的技术团队，我们很拼，也艰苦奋斗了好几年，很不容易。码农团队的特点大家懂的，虽然比特币/区块链行业很“浮躁”，我们这个技术团队仍然保持了相当程度的“出淤泥而不染”</span>
                <span class="report-time">2017-12-30</span>
            </li>
        </ul>
        <ul class="report-list en">
            <li class="report"
                onclick="dumpLink('https://medium.com/bitpie/how-to-verify-bithd-wallet-firmware-source-code-b9128dc30e64')">
                <a class="title"
                    href="https://medium.com/bitpie/how-to-verify-bithd-wallet-firmware-source-code-b9128dc30e64"
                    target="_blank" rel="nofollow noopener noreferrer">How to Verify BitHD Wallet Firmware Source
                    Code?</a>
                <span class="content">The best way to prove you didn`t has a backdoor of your product is to make it Open
                    Source. It doesn`t means that will be 100% safe but means we can work with the whole geek community
                    to avoid any attack.</span>
                <span class="report-time">2020-03-27</span>
            </li>
        </ul>
    </div>

    <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../js/jquery.i18n.properties-min-1.0.9.js"></script>

    <script type="text/javascript">
        $("#menu").click(function () {
            menuListOperation();
        });

        function dumpLink(link) {
            window.location.href = link
        }

        function menuListOperation() {
            if ($("#menu-list").hasClass("mobile-hidden") == true) {
                $("#menu-list").removeClass("mobile-hidden");
            } else {
                $("#menu-list").addClass("mobile-hidden");
            }
        }

        function containMenuOperation() {
            if ($("#menu-list").hasClass("mobile-hidden") == false) {
                $("#menu-list").addClass("mobile-hidden");
            }
            var display = $(".reports").css("display");
            if (display == "block") {
                $(".reports").css("display", "none");
            }
        }

        function menuListOperation() {
            if ($("#menu-list").hasClass("mobile-hidden") == true) {
                $("#menu-list").removeClass("mobile-hidden");
            } else {
                $("#menu-list").addClass("mobile-hidden");
            }
        }

        function isShowDropdown(type) {
            var width = $(window).width();
            if (width < 768) {
                if (type == "bithd") {
                    let element = $("#bithd-dropdown")[0]
                    let dropdown = $("#bithd-dropdown .dropdown-mobile")[0]
                    let arrow = $("#bithd-dropdown .arrow-right")[0]
                    if (dropdown.style.display == "block") {
                        dropdown.style.display = "none"
                        arrow.src = "../image/icon_arrow_right.png"
                        element.style.height = "45px"
                    } else {
                        dropdown.style.display = "block"
                        arrow.src = "../image/icon_arrow_down.png"
                        element.style.height = "126px"
                    }
                } else if (type == "armor") {
                    let element = $("#armor-dropdown")[0]
                    let dropdown = $("#armor-dropdown .dropdown-mobile")[0]
                    let arrow = $("#armor-dropdown .arrow-right")[0]
                    if (dropdown.style.display == "block") {
                        dropdown.style.display = "none"
                        arrow.src = "../image/icon_arrow_right.png"
                        element.style.height = "45px"
                    } else {
                        dropdown.style.display = "block"
                        arrow.src = "../image/icon_arrow_down.png"
                        element.style.height = "126px"
                    }
                }
            }
        }

        $(function () {
            // var width = $(window).width();
            // if (width < 768) {
            //     $(".dropdown-div").addClass("focus").css("pointer-events", "none");
            // } else {
            //     $(".dropdown-div").addClass("focus").css("pointer-events", "auto");
            // }


            var languageCode;
            if ($.i18n.browserLang() == "zh-CN") {
                languageCode = "zh";
                $(".en").css('display', 'none');
                $(".cn").css('display', 'block');
            } else if ($.i18n.browserLang() == "zh-TW" || $.i18n.browserLang() == "zh-HK") {
                languageCode = "zh-rTW";
                $(".en").css('display', 'none');
                $(".cn").css('display', 'block');
            } else {
                languageCode = "en";
                $(".en").css('display', 'block');
                $(".cn").css('display', 'none');
            }
            jQuery.i18n.properties({
                name: 'strings',
                path: '/i18n/',
                mode: 'map',
                async: true,
                language: languageCode,
                callback: function () {
                    $(".menu_overview").html($.i18n.prop('menu_features'));
                    $(".menu_specifications").html($.i18n.prop('menu_specifications'));
                    $(".menu_report").html($.i18n.prop('menu_report'));
                    $(".menu_docs").html($.i18n.prop('menu_docs'));

                    $("#jinse_mobile").html($.i18n.prop('menu_ul_jinse'));
                    $("#jinse_pc").html($.i18n.prop('menu_ul_jinse'));
                    $("#alcoin_mobile").html($.i18n.prop('menu_ul_alcoin'));
                    $("#alcoin_pc").html($.i18n.prop('menu_ul_alcoin'));
                    $("#chain_mobile").html($.i18n.prop('menu_ul_chain'));
                    $("#chain_pc").html($.i18n.prop('menu_ul_chain'));

                    $('.nav_btn1').html($.i18n.prop('nav_btn1'));
                    $('.nav_btn2').html($.i18n.prop('nav_btn2'));
                    $('.nav_btn3').html($.i18n.prop('nav_btn3'));
                    $('.nav_btn4').html($.i18n.prop('nav_btn4'));
                    $('.nav_btn2-1').html($.i18n.prop('bithd1'));
                    $('.nav_btn2-2').html($.i18n.prop('bithd2'));
                    $('.nav_btn3-1').html($.i18n.prop('armor1'));
                    $('.nav_btn3-2').html($.i18n.prop('armor2'));
                }
            });
        })
    </script>
</body>

</html>