<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>bithd.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <script src="/js/flexible.min.js"></script>
    {% include css.html %}
</head>

<body>
    <nav class="dark" style="display: block">
        <div class="mobile-nav pc-hidden">
            <div class="header-content">
                <div class="mobile-header-logo mobile-bithd">
                    <a href="/index.html"><img class="logo" src="../resource/icon.svg"></a>
                </div>
                <div class="mobile-header-menu">
                    <img id="menu" src="../resource/menu_dark.svg">
                </div>
            </div>
        </div>
        <div id="menu-list" class="pc-nav mobile-hidden">
            <div class="header-content">
                <div class="pc-header-logo mobile-hidden">
                    <a href="/index.html"><img class="logo" src="../resource/icon.svg"></a>
                </div>
                <div class="pc-header-menu">
                    <ul>
                        <li>
                            <a class="nav_btn1" href="/BITHD-Razor.html"></a>
                        </li>
                        <li class="dropdown-div">
                            <div>
                                <p class="nav_btn2"></p>
                                <img class="arrow-right" src="../image/icon_arrow_right.png" />
                            </div>
                            <div class="dropdown">
                                <a class="nav_btn2-2" href="/BITHD-watch-2.html"></a>
                                <a class="nav_btn2-1" href="/BITHD-watch-1.html"></a>
                            </div>
                        </li>
                        <li class="dropdown-div">
                            <div>
                                <p class="nav_btn3"></p>
                                <img class="arrow-right" src="../image/icon_arrow_right.png" />
                            </div>
                            <div class="dropdown">
                                <a class="nav_btn3-1" href="/Frozen-Armor.html"></a>
                                <a class="nav_btn3-2" href="/Frozen-Armor2.html"></a>
                            </div>
                        </li>
                        <li>
                            <a href="../reports/reports.html" class="menu_report"></a>
                        </li>
                        <li>
                            <a href="http://docs.bithd.com/" class="menu_docs"></a>
                        </li>
                    </ul>
                </div>
                <div class="mobile-menu">
                    <ul>
                        <li>
                            <a class="nav_btn1" href="/BITHD-Razor.html"></a>
                        </li>
                        <li class="dropdown-mobile-div" id="bithd-dropdown">
                            <div onclick="isShowDropdown('bithd')">
                                <p class="nav_btn2"></p>
                                <img class="arrow-right" src="../image/icon_arrow_right.png" />
                            </div>
                            <div class="dropdown-mobile">
                                <a class="nav_btn2-2" href="/BITHD-watch-2.html"></a>
                                <a class="nav_btn2-1" href="/BITHD-watch-1.html"></a>
                            </div>
                        </li>
                        <li class="dropdown-mobile-div" id="armor-dropdown">
                            <div onclick="isShowDropdown('armor')">
                                <p class="nav_btn3"></p>
                                <img class="arrow-right" src="../image/icon_arrow_right.png" />
                            </div>
                            <div class="dropdown-mobile">
                                <a class="nav_btn3-1" href="/Frozen-Armor.html"></a>
                                <a class="nav_btn3-2" href="/Frozen-Armor2.html"></a>
                            </div>
                        </li>
                        <li>
                            <a href="../reports/reports.html" class="menu_report"></a>
                        </li>
                        <li>
                            <a href="http://docs.bithd.com/" class="menu_docs"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="second-wrapper">
        <div class="second-nav light">
            <div class="m-box">
                <span id="watch2_title" class="lt second-nav-font"></span>
                <div id="buy-btn" class="gt second-buy-btn open-buy buy-watch2"></div>
            </div>
        </div>
        <div class="body-box" onclick="containMenuOperation()">
            <div class="second-box">
                <div class="m-box">
                    <div class="lt second-font-box">
                        <div id="watch2_title_1" class="second-title left"></div>
                        <div id="watch2_font_1" class="second-font left"></div>
                    </div>
                    <img src="../image/pic_a@2x.png" alt="" class="gt second-img1">
                </div>
            </div>
            <div class="second-box">
                <div class="m-box">
                    <div class="gt second-font-box bd-box">
                        <div id="watch2_title_2" class="second-title right"></div>
                        <div id="watch2_font_2" class="second-font right"></div>
                    </div>
                    <img src="../image/pic_b@2x.png" alt="" class="lt second-img2">
                </div>
            </div>
            <div class="second-box water-box">
                <div class="m-box relative" style="height:100%;">
                    <div class="lt second-font-box">
                        <div id="watch2_title_3" class="second-title left"></div>
                        <div id="watch2_font_3" class="second-font left"></div>
                    </div>
                    <img src="../image/pic_c@2x.png" alt="" class="gt second-imgc">
                </div>
            </div>
            <div class="second-box">
                <div class="m-box">
                    <div class="gt second-font-box">
                        <div id="watch2_title_4" class="second-title right"></div>
                        <div id="watch2_font_4" class="second-font right"></div>
                    </div>
                    <img src="../image/pic_d@2x.png" alt="" class="lt second-img-d">
                </div>
            </div>
            <div class="second-box">
                <div class="m-box">
                    <div class="lt second-font-box">
                        <div id="watch2_title_5" class="second-title left"></div>
                        <div id="watch2_font_5" class="second-font left"></div>
                    </div>
                    <img src="../image/pic_e@2x.png" alt="" class="gt second-img1 second-img-e">
                </div>
            </div>
            <div class="second-box f-box">
                <div class="m-box relative">
                    <div class="gt second-font-box">
                        <div id="watch2_title_6" class="second-title right"></div>
                        <div id="watch2_font_6" class="second-font right"></div>
                    </div>
                    <img src="../image/pic_f@2x.png" alt="" class="lt second-img-f">
                </div>
            </div>
            <div class="second-box g-box">
                <div class="m-box relative">
                    <div class="lt second-font-box">
                        <div id="watch2_title_7" class="second-title left"></div>
                        <div id="watch2_font_7" class="second-font left"></div>
                    </div>
                    <img src="../image/pic_g@2x.png" alt="" class="gt second-img-g">
                </div>
            </div>
            <div class="alert-buy-box">
                <div class="buy-box">
                    <div id="buy_title" class="buy-title"></div>
                    <div class="buy-btn-box">
                        <a href="#" id="buy-amazon" class="buy-btn" target="_blank" rel="nofollow noopener noreferrer">
                            <span id="buy_amazon_font"></span>
                            <img class="buy-alert-arrow gt" src="../image/arrow_right_black.svg" alt="">
                        </a>
                        <a href="#" id="buy-ebay" class="buy-btn" target="_blank" rel="nofollow noopener noreferrer">
                            <span id="buy_ebay_font"></span>
                            <img class="buy-alert-arrow gt" src="../image/arrow_right_black.svg" alt="">
                        </a>
                        <a href="#" id="buy-wd" class="buy-btn" target="_blank" rel="nofollow noopener noreferrer">
                            <span id="buy_wd_font"></span>
                            <img class="buy-alert-arrow gt" src="../image/arrow_right_black.svg" alt="">
                        </a>
                        <a href="#" id="buy-tb" class="buy-btn" target="_blank" rel="nofollow noopener noreferrer">
                            <span id="buy_tb_font"></span>
                            <img class="buy-alert-arrow gt" src="../image/arrow_right_black.svg" alt="">
                        </a>
                    </div>
                    <div id="buy_close_btn" class="close-btn"></div>
                </div>
            </div>
        </div>
        <div class="rol razor-box-6">
            <div class="m-box">
                <img src="../image/armor_cs@2x.png" alt="" class="banner6-pic">
                <div class="banner6-font-box">
                    <div class="rol banner6-font-rol">
                        <div id="armor-intro-title1" class="lt banner6-title"></div>
                        <div id="armor-intro-font1" class="lt banner6-font"></div>
                    </div>
                    <div class="rol banner6-font-rol">
                        <div id="armor-intro-title2" class="lt banner6-title"></div>
                        <div id="armor-intro-font2" class="lt banner6-font"></div>
                    </div>
                    <div class="rol banner6-font-rol">
                        <div id="armor-intro-title3" class="lt banner6-title"></div>
                        <div id="armor-intro-font3" class="lt banner6-font"></div>
                    </div>
                    <div class="rol banner6-font-rol">
                        <div id="armor-intro-title4" class="lt banner6-title"></div>
                        <div id="armor-intro-font4" class="lt banner6-font"></div>
                    </div>
                    <div class="rol banner6-font-rol">
                        <div id="armor-intro-title5" class="lt banner6-title"></div>
                        <div id="armor-intro-font5" class="lt banner6-font"></div>
                    </div>
                    <div class="rol banner6-font-rol">
                        <div id="armor-intro-title6" class="lt banner6-title"></div>
                        <div id="armor-intro-font6" class="lt banner6-font"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="rol footer">
        <p class="bithd_help"></p>
    </div>
    <link href="/css/second_media.css" rel="stylesheet" type="text/css" media="all" /> {% include js.html %}
    <script>
        $(function() {
            $('a[href*=#]:not([href=#])').click(function() {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname ==
                    this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top - 60
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>
    <script>
        $("#menu").click(function() {
            menuListOperation();
        });

        function stringHandle(str) {
            var width = $(window).width();
            if (width < 768) {
                return str.replace("<br>", "");
            }
            return str;
        }

        $(".menu_report").click(function() {
            var width = $(window).width();
            if (width < 768) {
                var display = $(".mobile-ul").css("display");
                if (display == "none") {
                    $(".mobile-ul").css("display", "block");
                } else {
                    $(".mobile-ul").css("display", "none");
                }
            } else {
                var display = $(".reports").css("display");
                if (display == "none") {
                    $(".reports").css("display", "block");
                } else {
                    $(".reports").css("display", "none");
                }
            }
        });

        $(document).ready(function() {
            adapterSize();
        })

        $(window).resize(function() {
            adapterSize();
        })

        function containMenuOperation() {
            if ($("#menu-list").hasClass("mobile-hidden") == false) {
                $("#menu-list").addClass("mobile-hidden");
            }
            var display = $(".reports").css("display");
            if (display == "block") {
                $(".reports").css("display", "none");
            }
        }

        $(".play-video").click(function() {
            var width = $(window).width();
            if (width < 768) {
                window.location.href = "https://v.youku.com/v_show/id_XMzQ2ODEwMTUwNA==.html?spm=a2hzp.8244740.0.0";
            } else {
                $(".float-back").css("display", "block");
                $(".video-back").css("display", "block");
                $(".video").append(
                    "<iframe height=498 width=510 src='https://player.youku.com/embed/XMzQ2ODEwMTUwNA==' frameborder=0 'allowfullscreen'></iframe>"
                );
            }
        });

        $(".video-btn").click(function() {
            removeVideo();
        });

        function isShowDropdown(type) {
            var width = $(window).width();
            if (width < 768) {
                if (type == "bithd") {
                    let element = $("#bithd-dropdown")[0]
                    let dropdown = $("#bithd-dropdown .dropdown-mobile")[0]
                    let arrow = $("#bithd-dropdown .arrow-right")[0]
                    if (dropdown.style.display == "block") {
                        dropdown.style.display = "none"
                        arrow.src = "../image/icon_arrow_right.png"
                        element.style.height = "45px"
                    } else {
                        dropdown.style.display = "block"
                        arrow.src = "../image/icon_arrow_down.png"
                        element.style.height = "126px"
                    }
                } else if (type == "armor") {
                    let element = $("#armor-dropdown")[0]
                    let dropdown = $("#armor-dropdown .dropdown-mobile")[0]
                    let arrow = $("#armor-dropdown .arrow-right")[0]
                    if (dropdown.style.display == "block") {
                        dropdown.style.display = "none"
                        arrow.src = "../image/icon_arrow_right.png"
                        element.style.height = "45px"
                    } else {
                        dropdown.style.display = "block"
                        arrow.src = "../image/icon_arrow_down.png"
                        element.style.height = "126px"
                    }
                }
            }
        }

        function removeVideo() {
            $(".float-back").css("display", "none");
            $(".video-back").css("display", "none");
            $(".video").empty();
        }

        function menuListOperation() {
            if ($("#menu-list").hasClass("mobile-hidden") == true) {
                $("#menu-list").removeClass("mobile-hidden");
            } else {
                $("#menu-list").addClass("mobile-hidden");
            }
        }

        function adapterSize() {
            var width = $(window).width();
            if (width < 768) {
                removeVideo();
                $(".reports").css("display", "none");
                $("#introduction-bg").attr('src', '../resource/banner_mobile.jpg');
                $("#security-bg").attr('src', '../resource/safety_mobile.jpg');
                $("#simple-bg").attr('src', '../resource/easy_mobile.jpg');
                $("#management-bg").attr('src', '../resource/management_mobile.jpg');
                $("#convenience-bg").attr('src', '../resource/carousel_mobile.jpg');
                $("#wear-bg").attr('src', '../resource/wear_mobile.jpg');
                $("#float-image").attr('src', '../resource/watch_mobile.png');
                if (new String($.i18n.browserLang()).indexOf("zh") > -1) {
                    $("#component-bg").attr('src', '../resource/industry_mobile_cn.jpg');
                } else if ((new String($.i18n.browserLang()).toLowerCase()).indexOf("tw") > -1 || (new String($.i18n
                        .browserLang()).toLowerCase()).indexOf("hk") > -1) {
                    $("#component-bg").attr('src', '../resource/industry_mobile_rtw.jpg');
                } else {
                    $("#component-bg").attr('src', '../resource/industry_mobile_en.jpg');
                }
            } else {
                $(".mobile-ul").css("display", "none");
                $("#introduction-bg").attr('src', '../resource/banner_pc.jpg');
                $("#security-bg").attr('src', '../resource/safety_pc.jpg');
                $("#simple-bg").attr('src', '../resource/easy_pc.jpg');
                $("#management-bg").attr('src', '../resource/management_pc.jpg');
                $("#convenience-bg").attr('src', '../resource/carousel_pc.jpg');
                $("#wear-bg").attr('src', '../resource/wear_pc.jpg');
                $("#float-image").attr('src', '../resource/watch_pc.png');
                if ($.i18n.browserLang() == "zh-CN") {
                    $("#component-bg").attr('src', '../resource/industry_pc_cn.jpg');
                } else if ($.i18n.browserLang() == "zh-TW" || $.i18n.browserLang() == "zh-HK") {
                    $("#component-bg").attr('src', '../resource/industry_pc_rtw.jpg');
                } else {
                    $(".convenience .summary").css("width", "3.18rem");
                    $(".management .summary").css("width", "3.18rem");
                    $("#component-bg").attr('src', '../resource/industry_pc_en.jpg');
                }
            }
        }

        $(function() {
            var languageCode;

            if (new String($.i18n.browserLang()).indexOf("zh") > -1) {
                languageCode = "zh";
                $('body').addClass('zh')
            } else if ((new String($.i18n.browserLang()).toLowerCase()).indexOf("tw") > -1 || (new String($.i18n
                    .browserLang()).toLowerCase()).indexOf("hk") > -1) {
                languageCode = "zh-rTW";
                $('body').addClass('tw')
            } else {
                languageCode = "en";
                $('body').addClass('en')
            }

            jQuery.i18n.properties({
                name: 'strings',
                path: '/i18n/',
                mode: 'map',
                async: true,
                language: languageCode,
                callback: function() {
                    $(".welcome-title").html($.i18n.prop('welcome'));

                    $(".menu_overview").html($.i18n.prop('menu_features'));
                    $(".menu_specifications").html($.i18n.prop('menu_specifications'));
                    $(".menu_report").html($.i18n.prop('menu_report'));
                    $(".menu_docs").html($.i18n.prop('menu_docs'));

                    $("#jinse_mobile").html($.i18n.prop('menu_ul_jinse'));
                    $("#jinse_pc").html($.i18n.prop('menu_ul_jinse'));
                    $("#alcoin_mobile").html($.i18n.prop('menu_ul_alcoin'));
                    $("#alcoin_pc").html($.i18n.prop('menu_ul_alcoin'));
                    $("#chain_mobile").html($.i18n.prop('menu_ul_chain'));
                    $("#chain_pc").html($.i18n.prop('menu_ul_chain'));

                    $(".introduction .title").html(stringHandle($.i18n.prop('introduction_title')));
                    $(".introduction .summary").html(stringHandle($.i18n.prop('introduction_summary')));
                    $(".introduction .content").html(stringHandle($.i18n.prop('introduction_content')));
                    $(".play-content").html(stringHandle($.i18n.prop('introduction_play')))

                    $(".security .title").html(stringHandle($.i18n.prop('features_sec_title')));
                    $(".security .summary").html(stringHandle($.i18n.prop('features_sec_summary')));

                    $(".simple .title").html(stringHandle($.i18n.prop('features_sim_title')));
                    $(".simple .summary").html(stringHandle($.i18n.prop('features_sim_summary')));

                    $(".management .title").html(stringHandle($.i18n.prop('management_title')));
                    $(".management .summary").html(stringHandle($.i18n.prop('management_summary')));

                    $(".convenience .title").html(stringHandle($.i18n.prop('convenience_title')));
                    $(".convenience .summary").html(stringHandle($.i18n.prop('convenience_summary')));

                    $(".wear .title").html(stringHandle($.i18n.prop('wear_title')));
                    $(".wear .summary").html(stringHandle($.i18n.prop('wear_summary')));

                    $(".component .title").html(stringHandle($.i18n.prop('component_title')));
                    $(".component .summary").html(stringHandle($.i18n.prop('component_summary')));
                    $(".bithdtitleshop").html($.i18n.prop('bithdtitleshop'));
                    $(".taobaoshop").html($.i18n.prop('taobaoshop'));
                    $(".headline").html($.i18n.prop('parameter_headline'));
                    $(".bithddocs").html($.i18n.prop('bithddocs'));

                    $(".bithd_help").html($.i18n.prop('bithd_help'));

                    $(".thanks").html($.i18n.prop('thanks'));

                    $(".source").html($.i18n.prop('source'));

                    $(".video-title").html($.i18n.prop('video_title'));
                    $("#buy-btn").html($.i18n.prop('buy'));

                    $('#watch2_title_1').html($.i18n.prop('watch2_title_1'));
                    $('#watch2_font_1').html($.i18n.prop('watch2_font_1'));
                    $('#watch2_title_2').html($.i18n.prop('watch2_title_2'));
                    $('#watch2_font_2').html($.i18n.prop('watch2_font_2'));
                    $('#watch2_title_3').html($.i18n.prop('watch2_title_3'));
                    $('#watch2_font_3').html($.i18n.prop('watch2_font_3'));
                    $('#watch2_title_4').html($.i18n.prop('watch2_title_4'));
                    $('#watch2_font_4').html($.i18n.prop('watch2_font_4'));
                    $('#watch2_title_5').html($.i18n.prop('watch2_title_5'));
                    $('#watch2_font_5').html($.i18n.prop('watch2_font_5'));
                    $('#watch2_title_6').html($.i18n.prop('watch2_title_6'));
                    $('#watch2_font_6').html($.i18n.prop('watch2_font_6'));
                    $('#watch2_title_7').html($.i18n.prop('watch2_title_7'));
                    $('#watch2_font_7').html($.i18n.prop('watch2_font_7'));
                    $('#nav_compare').html($.i18n.prop('nav_compare'));
                    $('#watch2_title').html($.i18n.prop('watch2_title'));

                    $('#buy_title').html($.i18n.prop('buy_title'));
                    if (languageCode == 'zh' || languageCode == 'tw') {
                        $('#buy-ebay').css('display', 'none')
                        $('#buy-amazon').css('display', 'none')
                        $('#buy_wd_font').html($.i18n.prop('buy_wd_font'));
                        $('#buy_tb_font').html($.i18n.prop('buy_tb_font'));
                    } else {
                        $('#buy-wd').css('display', 'none')
                        $('#buy-tb').css('display', 'none')
                        $('#buy_ebay_font').html($.i18n.prop('buy_ebay_font'));
                        $('#buy_amazon_font').html($.i18n.prop('buy_amazon_font'));
                    }
                    $('#buy_close_btn').html($.i18n.prop('buy_close_btn'));
                    $('.nav_btn1').html($.i18n.prop('nav_btn1'));
                    $('.nav_btn2').html($.i18n.prop('nav_btn2'));
                    $('.nav_btn3').html($.i18n.prop('nav_btn3'));
                    $('.nav_btn4').html($.i18n.prop('nav_btn4'));
                    $('.nav_btn2-1').html($.i18n.prop('bithd1'));
                    $('.nav_btn2-2').html($.i18n.prop('bithd2'));
                    $('.nav_btn3-1').html($.i18n.prop('armor1'));
                    $('.nav_btn3-2').html($.i18n.prop('armor2'));

                    $('#armor-intro-title1').html($.i18n.prop('armor_intro_title1'));
                    $('#armor-intro-title2').html($.i18n.prop('armor_intro_title2'));
                    $('#armor-intro-title3').html($.i18n.prop('armor_intro_title3'));
                    $('#armor-intro-title4').html($.i18n.prop('armor_intro_title4'));
                    $('#armor-intro-title5').html($.i18n.prop('armor_intro_title5'));
                    $('#armor-intro-title6').html($.i18n.prop('armor_intro_title6'));

                    $('#armor-intro-font1').html($.i18n.prop('armor_intro_font1'));
                    $('#armor-intro-font2').html($.i18n.prop('armor_intro_font2'));
                    $('#armor-intro-font3').html($.i18n.prop('armor_intro_font3'));
                    $('#armor-intro-font4').html($.i18n.prop('armor_intro_font4'));
                    $('#armor-intro-font5').html($.i18n.prop('armor_intro_font5'));
                    $('#armor-intro-font6').html($.i18n.prop('armor_intro_font6'));
                }
            });

        });
    </script>
</body>

</html>